@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@{
    ViewData["Title"] = "Home page";
}
<script src="~/js/site.js" asp-append-version="true"></script>
@if (Model.AllBooksList != null)
{
    <div class="Content1Ex">
        <div class="card-ex">
            <div class="card-image-ex">
                <a asp-page="/Index">
                    <div class="MoveDownIndexWallPapers">
                        <img class="BoxImage SpecialBox" src="/Images/WallpaperImages/@Model.WallpaperList[2].WallPaperPhotoPath" />
                    </div>
                </a>
            </div>
            <div class="MidExTop">
                <div class="CardBody-Ex">
                    <div class="card-description-Ex">
                        Shonen
                    </div>
                </div>
                <div class="CardBody-Ex">
                    <div class="card-description-Ex">Seinen</div>
                </div>
                <div class="CardBody-Ex">
                    <div class="card-description-Ex noBorderStyle">Shoujo </div>
                </div>
            </div>
            <div >

            </div>     
        </div>
    </div>
    <div class="Content1Cost">
        <div class="ContentDescription"><h1>Recently Updated<hr /></h1> </div>


        <div class="cardFourOfaKind">

            <div class="CardFour">

                <div class="FourOfAKind">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[11].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[11].PhotoPath" />


                        <div class="FourofKindContent">
                            @if(Model.AllBooksList[11].MangaName != null)
                            {
                                <h2>@Model.AllBooksList[11].MangaName</h2>
                            }
                          

                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @if (Model.AllBooksList[11].TagsModels != null)
                                {
                                    @foreach (var tag in Model.AllBooksList[11].TagsModels.Take(5))
                                    {

                                        <span class="tag   ">@tag.TagName  </span>


                                    }
                                }

                                @if (Model.AllBooksList[11].GenresModels != null)
                                {
                                    @foreach (var genre in Model.AllBooksList[11].GenresModels.Take(5))
                                    {

                                        <span class="tag  ">  @genre.GenreName  </span>

                                    }
                                }

                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[11].Description</p>

                        </div>
                    </a>
                </div>
                <div class="FourOfAKind">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[10].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[10].PhotoPath" />


                        <div class="FourofKindContent">
                            <h2>@Model.AllBooksList[10].MangaName</h2>
                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @foreach (var tag in Model.AllBooksList[10].TagsModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize  ">@tag.TagName  </span>


                                }

                                @foreach (var genre in Model.AllBooksList[10].GenresModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize ">  @genre.GenreName  </span>

                                }


                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[10].Description</p>


                        </div>
                    </a>
                </div>
                <div class="FourOfAKind">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[9].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[9].PhotoPath" />


                        <div class="FourofKindContent">
                            <h2>@Model.AllBooksList[9].MangaName</h2>
                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @foreach (var tag in Model.AllBooksList[9].TagsModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize  ">@tag.TagName  </span>


                                }

                                @foreach (var genre in Model.AllBooksList[9].GenresModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize ">  @genre.GenreName  </span>

                                }


                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[9].Description</p>


                        </div>
                    </a>
                </div>
                <div class="FourOfAKind hide-on-Boxes-on-small">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[8].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[8].PhotoPath" />


                        <div class="FourofKindContent">
                            <h2>@Model.AllBooksList[8].MangaName</h2>
                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @foreach (var tag in Model.AllBooksList[8].TagsModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize  ">@tag.TagName  </span>


                                }

                                @foreach (var genre in Model.AllBooksList[8].GenresModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize ">  @genre.GenreName  </span>

                                }


                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[8].Description</p>


                        </div>
                    </a>
                </div>
                <div class="FourOfAKind hide-on-Boxes-on-small">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[7].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[7].PhotoPath" />


                        <div class="FourofKindContent">
                            <h2>@Model.AllBooksList[7].MangaName</h2>
                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @foreach (var tag in Model.AllBooksList[7].TagsModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize  ">@tag.TagName  </span>


                                }

                                @foreach (var genre in Model.AllBooksList[7].GenresModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize ">  @genre.GenreName  </span>
                                  

                                }


                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[7].Description</p>


                        </div>
                    </a>
                </div>
                <div class="FourOfAKind hide-on-Boxes-on-small">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[6].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[6].PhotoPath" />


                        <div class="FourofKindContent">
                            <h2>@Model.AllBooksList[6].MangaName</h2>
                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @foreach (var tag in Model.AllBooksList[6].TagsModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize  ">@tag.TagName  </span>


                                }

                                @foreach (var genre in Model.AllBooksList[6].GenresModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize ">  @genre.GenreName  </span>

                                }


                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[6].Description</p>


                        </div>
                    </a>
                </div>
                <div class="FourOfAKind hide-on-Boxes-on-medium">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[5].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[5].PhotoPath" />


                        <div class="FourofKindContent">
                            <h2>@Model.AllBooksList[5].MangaName</h2>
                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @foreach (var tag in Model.AllBooksList[5].TagsModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize  ">@tag.TagName  </span>


                                }

                                @foreach (var genre in Model.AllBooksList[5].GenresModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize ">  @genre.GenreName  </span>

                                }


                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[5].Description</p>


                        </div>
                    </a>
                </div>
                <div class="FourOfAKind hide-on-Boxes-on-medium">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[4].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[4].PhotoPath" />


                        <div class="FourofKindContent">
                            <h2>@Model.AllBooksList[4].MangaName</h2>
                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @foreach (var tag in Model.AllBooksList[4].TagsModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize  ">@tag.TagName  </span>


                                }

                                @foreach (var genre in Model.AllBooksList[4].GenresModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize ">  @genre.GenreName  </span>

                                }


                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[4].Description</p>


                        </div>
                    </a>
                </div>
                <div class="FourOfAKind hide-on-Boxes-on-medium">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[3].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[3].PhotoPath" />


                        <div class="FourofKindContent">
                            <h2>@Model.AllBooksList[3].MangaName</h2>
                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @foreach (var tag in Model.AllBooksList[3].TagsModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize  ">@tag.TagName  </span>


                                }

                                @foreach (var genre in Model.AllBooksList[3].GenresModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize ">  @genre.GenreName  </span>

                                }


                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[3].Description</p>


                        </div>
                    </a>
                </div>
                <div class="FourOfAKind hide-on-Boxes-on-large">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[2].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[2].PhotoPath" />


                        <div class="FourofKindContent">
                            <h2>@Model.AllBooksList[2].MangaName</h2>
                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @foreach (var tag in Model.AllBooksList[2].TagsModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize  ">@tag.TagName  </span>


                                }

                                @foreach (var genre in Model.AllBooksList[2].GenresModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize ">  @genre.GenreName  </span>

                                }


                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[2].Description</p>


                        </div>
                    </a>
                </div>
                <div class="FourOfAKind hide-on-Boxes-on-large">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[1].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[1].PhotoPath" />


                        <div class="FourofKindContent">
                            <h2>@Model.AllBooksList[1].MangaName</h2>
                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @foreach (var tag in Model.AllBooksList[1].TagsModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize  ">@tag.TagName  </span>


                                }

                                @foreach (var genre in Model.AllBooksList[1].GenresModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize ">  @genre.GenreName  </span>

                                }


                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[1].Description</p>


                        </div>
                    </a>
                </div>
                <div class="FourOfAKind hide-on-Boxes-on-large">

                    <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[0].MangaID">
                        <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[0].PhotoPath" />


                        <div class="FourofKindContent">
                            <h2>@Model.AllBooksList[0].MangaName</h2>
                            <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                @foreach (var tag in Model.AllBooksList[0].TagsModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize  ">@tag.TagName  </span>


                                }

                                @foreach (var genre in Model.AllBooksList[0].GenresModels.Take(5))
                                {

                                    <span class="tag FourTagsGenreSize ">  @genre.GenreName  </span>

                                }


                            </h2>
                            <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[0].Description</p>


                        </div>
                    </a>
                </div>


            </div>

        </div>




        <div class="ContentDescription"><h1>Users choice <hr /></h1></div>
        <div class="MiniCards">
            <div class="BoxOne">
                <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[12].MangaID">
                    <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[12].PhotoPath" />

                </a>
            </div>
            <div class="BoxOne">
                <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[14].MangaID">
                    <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[14].PhotoPath" />
                    @*     <div class="BoxContent"> 
                </div>*@
                </a>
            </div>
            <div class="BoxOne hide-on-small">
                <a class="WierdBug" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[13].MangaID">
                    <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[13].PhotoPath" />

                </a>
            </div>
            <div class="BoxOne hide-on-small">
                <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[3].MangaID">
                    <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[3].PhotoPath" />

                </a>
            </div>
            <div class="BoxOne hide-on-medium">
                <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[4].MangaID">
                    <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[4].PhotoPath" />

                </a>
            </div>
            <div class="BoxOne hide-on-medium">
                <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[5].MangaID">
                    <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[5].PhotoPath" />

                </a>
            </div>
            <div class="BoxOne hide-on-medium">
                <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[6].MangaID">
                    <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[6].PhotoPath" />

                </a>
            </div>
            <div class="BoxOne hide-on-medium">
                <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[7].MangaID">
                    <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[7].PhotoPath" />

                </a>
            </div>

        </div>



    </div>
}
<div class="Content2Cost">
    <div class="ContentDescriptionContent2 "><h1>Best rated <hr /></h1></div>
        <div class="card MoveUpCardIndexCont2 ">
        <div id="slider">
@if(Model.GetAllBooks != null){
        @foreach (var book in Model.GetAllBooks.Take(4))
            {
                           <a  asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                <div class="slide">
            <img class="card-img-background" src="~/Images/MangaImage/@book.PhotoPath" />
            <div class="card-body">

                <img class="card-img-index" src="~/Images/MangaImage/@book.PhotoPath" />

                <div class="TitleTagDescriptionCostum">
                    <div class="card-title">
                        <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                            <h1 class="card-title-extra-style">
                                @book.MangaName
                            </h1>
                        </a>

                    </div>

                    <h2 class="tag-container">
                                    @if (book.TagsModels != null)
                                        { @foreach (var tag in book.TagsModels.Take(6))
                                        {
                                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                                <span class="tag RemoveWhenSmall">@tag.TagName</span>
                                            </a>

                                        } }

                                   
                                    @if (book.GenresModels != null)
                                    {
                                            @foreach (var genre in book.GenresModels.Take(6))
                                        {
                                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                                <span class="tag RemoveWhenSmall">@genre.GenreName</span>
                                            </a>
                                        }
                                    }
                     

                    </h2>
                    <div class="card-description RemoveWhenSmall RemoveWhenLarge RemoveWhenMedium">
                        <p>
                                        @if (book.Description != null){
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                @book.Description
                            </a>
                                        }
                        </p>
                    </div>
                    <div class="Index_Artist_Author_Navigation_Arrows ">
                       
                                        @if(book.Authormodels != null && book.ArtistModels != null)
                                        {
                                            @foreach (var author in book.Authormodels)
                                            {

                                                <h2 class="Author_Artist" style="padding-right:7px">
                                                    @author.FirstName @author.LastName
                                                </h2>


                                                @foreach (var artst in book.ArtistModels)
                                                {
                                                    @if (author.FirstName != artst.FirstName)
                                                    {
                                                            <h2 class="Author_Artist">
                                                           |  @artst.FirstName @artst.LastName
                                                            </h2>


                                                    }
                                                }
                                            }
                                        }
                                        else if(book.Authormodels != null && book.ArtistModels == null){
                                            @foreach (var author in book.Authormodels)
                                            {


                                                <h2 class="Author_Artist" style="padding-right:7px">
                                                    @author.FirstName @author.LastName
                                                </h2>
                                               
                                            }
                                        }
                                        else if (book.ArtistModels != null)
                                        {
                                            @foreach (var artst in book.ArtistModels)
                                            {

                                                <h2 class="Author_Artist">
                                                    |  @artst.FirstName @artst.LastName
                                                </h2>


                                            }
                                        }                                  
                       

                      
                    </div>

                </div>


                <div>
                </div>



            </div>
            </div>
            </a>
                }}
            <div class="IndexArrowPostition">
                <button id="prev" class="IndexArrowsPrev">
                    <i class="gg-arrow-left-r"></i>
                </button>
                <button id="next" class="IndexArrowsNext">
                    <i class="gg-arrow-right-r"></i>
                </button>
            </div>
        </div>
    
  
</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        let slider = $('#slider');
        let slideIndex = 0;
        let totalSlides = slider.find('.slide').length;

        slider.find('.slide').hide();
        slider.find('.slide').eq(slideIndex).show();

        $('#next').click(function () {
            slider.find('.slide').eq(slideIndex).hide();
            slideIndex = (slideIndex + 1) % totalSlides;
            slider.find('.slide').eq(slideIndex).show();
        });

        $('#prev').click(function () {
            slider.find('.slide').eq(slideIndex).hide();
            slideIndex = (slideIndex - 1 + totalSlides) % totalSlides;
            slider.find('.slide').eq(slideIndex).show();
        });
    });
</script>