@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@{
    ViewData["Title"] = "Home page";
}
<script src="~/js/site.js" asp-append-version="true"></script>
@if (Model.AllBooksList != null)
{
    <div class="Content1Ex">
        <div class="card-ex">
            <div class="card-image-ex">
                <a asp-page="/Index">
                    <div class="MoveDownIndexWallPapers">
                        <img class="BoxImage SpecialBox" src="/Images/GeneratedWallpaperImages/@Model.WallpaperList[2].WallPaperPhotoPath" />
                    </div>
                </a>
            </div>
            <div class="MidExTop">
                <div class="CardBody-Ex">
                    <div class="card-description-Ex">
                        Shonen
                    </div>
                </div>
                <div class="CardBody-Ex">
                    <div class="card-description-Ex">Seinen</div>
                </div>
                <div class="CardBody-Ex">
                    <div class="card-description-Ex noBorderStyle">Shoujo </div>
                </div>
            </div>
            <div >

            </div>     
        </div>
    </div>
    <div class="Content1Cost">
        <div class="ContentDescription"><h1>Recently Updated<hr /></h1> </div>


        <div class="cardFourOfaKind">

            <div class="CardFour">
                @for (int i = 0; i < 12; i++)
                {
                    string displayClass = "";
                    if (i >= 0 && i <= 2) displayClass = "hide-on-Boxes-on-large";
                    else if (i >= 3 && i <= 5) displayClass = "hide-on-Boxes-on-medium";
                    else if (i >= 6 && i <= 8) displayClass = "hide-on-Boxes-on-small";

                    <div class="FourOfAKind @displayClass">
                        <a class="ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[i].MangaID">
                            <img class="BoxImage" src="~/Images/GeneratedMangaImage/@Model.AllBooksList[i].PhotoPath" />
                            <div class="FourofKindContent">
                                @if (Model.AllBooksList[i].MangaName != null)
                                {
                                    <h2>@Model.AllBooksList[i].MangaName</h2>
                                }
                                <h2 class="tag-container DisplayWhenHoverFourOfaKind">
                                    @if (Model.AllBooksList[i].TagsModels != null)
                                    {
                                        @foreach (var tag in Model.AllBooksList[i].TagsModels.Take(5))
                                        {
                                            <span class="tag   ">@tag.TagName  </span>
                                        }
                                    }
                                    @if (Model.AllBooksList[i].GenresModels != null)
                                    {
                                        @foreach (var genre in Model.AllBooksList[i].GenresModels.Take(5))
                                        {

                                            <span class="tag  ">  @genre.GenreName  </span>

                                        }
                                    }
                                </h2>
                                <p class="HideWhenHoverFourOfaKind">@Model.AllBooksList[i].Description</p>
                            </div>
                        </a>
                    </div>
                }
              


            </div>

        </div>
        <div class="ContentDescription"><h1>Users choice <hr /></h1></div>
      
        <div class="MiniCards">
            <div class="arrow left-arrow">&#9664;</div>
            @for (int i = 0; i <= 14; i++)
            {
                <div class="BoxOne carouselItem">
                    <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[i].MangaID">
                        <img class="BoxImage" src="~/Images/GeneratedMangaImage/@Model.AllBooksList[i].PhotoPath" />
                    </a>
                </div>
            }
            <div class="arrow right-arrow">&#9654;</div>
        </div>
      
    </div>
}
<div class="Content2Cost">
    <div class="ContentDescriptionContent2 "><h1>Best rated <hr /></h1></div>
        <div class="card MoveUpCardIndexCont2 ">
        <div id="slider">
@if(Model.GetAllBooks != null){
        @foreach (var book in Model.GetAllBooks.Take(4))
            {
                           <a  asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                <div class="slide">
                            <img class="card-img-background" src="~/Images/GeneratedMangaImage/@book.PhotoPath" />
            <div class="card-body">
                                <img class="card-img-index" src="~/Images/GeneratedMangaImage/@book.PhotoPath" />
                <div class="TitleTagDescriptionCostum">
                    <div class="card-title">
                        <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                            <h1 class="card-title-extra-style">
                                @book.MangaName
                            </h1>
                        </a>
                    </div>
                    <h2 class="tag-container">
                                    @if (book.TagsModels != null)
                                    {  
                                        @foreach (var tag in book.TagsModels.Take(6))
                                        {
                                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                                <span class="tag RemoveWhenSmall">@tag.TagName</span>
                                            </a>

                                        } 
                                    }
                                        
                                    @if (book.GenresModels != null)
                                    {
                                            @foreach (var genre in book.GenresModels.Take(6))
                                        {
                                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                                <span class="tag RemoveWhenSmall">@genre.GenreName</span>
                                            </a>
                                        }
                                    }                 
                    </h2>
                    <div class="card-description RemoveWhenSmall RemoveWhenLarge RemoveWhenMedium">
                        <p>
                                        @if (book.Description != null){
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                @book.Description
                            </a>
                                        }
                        </p>
                    </div>
                    <div class="Index_Artist_Author_Navigation_Arrows ">
                       
                                        @if(book.Authormodels != null && book.ArtistModels != null)
                                        {
                                            @foreach (var author in book.Authormodels)
                                            {
                                                <h2 class="Author_Artist" style="padding-right:7px">
                                                    @author.FirstName @author.LastName
                                                </h2>


                                                @foreach (var artst in book.ArtistModels)
                                                {
                                                    @if (author.FirstName != artst.FirstName)
                                                    {
                                                            <h2 class="Author_Artist">
                                                           |  @artst.FirstName @artst.LastName
                                                            </h2>
                                                    }
                                                }
                                            }
                                        }
                                        else if(book.Authormodels != null && book.ArtistModels == null){
                                            @foreach (var author in book.Authormodels)
                                            {


                                                <h2 class="Author_Artist" style="padding-right:7px">
                                                    @author.FirstName @author.LastName
                                                </h2>
                                               
                                            }
                                        }
                                        else if (book.ArtistModels != null)
                                        {
                                            @foreach (var artst in book.ArtistModels)
                                            {

                                                <h2 class="Author_Artist">
                                                    |  @artst.FirstName @artst.LastName
                                                </h2>
                                            }
                                        }                                                       
                    </div>
                </div>
                <div>
                </div>
            </div>
            </div>
            </a>
                }}
            <div class="IndexArrowPostition">
                <button id="prev" class="IndexArrowsPrev">
                    <i class="gg-arrow-left-r"></i>
                </button>
                <button id="next" class="IndexArrowsNext">
                    <i class="gg-arrow-right-r"></i>
                </button>
            </div>
        </div>
</div>
</div>

<script src="~/js/IndexJavaScripts.js" asp-append-version="true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        let slider = $('#slider');
        let slideIndex = 0;
        let totalSlides = slider.find('.slide').length;

        slider.find('.slide').hide();
        slider.find('.slide').eq(slideIndex).show();

        $('#next').click(function () {
            slider.find('.slide').eq(slideIndex).hide();
            slideIndex = (slideIndex + 1) % totalSlides;
            slider.find('.slide').eq(slideIndex).show();
        });

        $('#prev').click(function () {
            slider.find('.slide').eq(slideIndex).hide();
            slideIndex = (slideIndex - 1 + totalSlides) % totalSlides;
            slider.find('.slide').eq(slideIndex).show();
        });
    });
</script>