@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home page";
}
<div class="Content1Ex">


    <div class="card-ex">

      
        <div class="card-image-ex">

            <img class="BoxImage" src="https://wallpaperaccess.com/full/17350.jpg" />

         





               
        </div>

        <div class="MidExTop">

        </div>
        <div ></div>
        <div class="IndexArrowEx">
            <button class="IndexArrowsPrev">
                prev
            </button>
            <button class="IndexArrowsNext">
                next
            </button>
        </div>
    </div>


</div>

<div class="Content1Cost">
    <div class="ContentDescription"><h1>Best rated</h1></div>
    @foreach (var book in Model.GetAllBooks.Take(1))
    {
      
        <div class="card">
        
            <img class="card-img-background" src="~/Images/MangaImage/@book.PhotoPath" />
            <div class="card-body">

                <img class="card-img-index" src="~/Images/MangaImage/@book.PhotoPath" />

                <div class="TitleTagDescriptionCostum">
                    <div class="card-title">
                        <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                            <h1 class="card-title-extra-style">
                                @book.MangaName
                            </h1>
                        </a>

                    </div>

                    <h2 class="tag-container">
                        @foreach (var tag in book.TagsModels)
                        {
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                <span class="tag RemoveWhenSmall">@tag.TagName</span>
                            </a>

                        }
                        @foreach (var genre in book.GenresModels)
                        {
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                <span class="tag RemoveWhenSmall">@genre.GenreName</span>
                            </a>
                        }

                    </h2>
                    <div class="card-description RemoveWhenSmall RemoveWhenLarge RemoveWhenMedium">
                        <p>
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                @book.Description
                            </a>

                        </p>
                    </div>
                    <div class="Index_Artist_Author_Navigation_Arrows ">
                        <h2 class="Author_Artist">
                            @foreach (var author in book.Authormodels)
                            {
                                <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                    @author.FirstName @author.LastName 
                                </a>
                                 @foreach (var artst in book.ArtistModels)
                                {
                                    @if(author.FirstName != artst.FirstName) {
                                        <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                            @artst.FirstName @artst.LastName 
                                </a>
                                    }
                            }
                            }
                           
                        </h2>

                        <div class="IndexArrowPostition">
                            <button class="IndexArrowsPrev">
                               <p>prev</p>
                            </button>
                            <button class="IndexArrowsNext">
                               >
                            </button>
                        </div>
                    </div>

                </div>


                <div>
                </div>



            </div>

        </div>

    }
    <div class="ContentDescription"><h1>Users choice</h1></div>
    <div class="MiniCards">
        <div class="BoxOne">
            <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[0].MangaID">
                <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[0].PhotoPath" />
                <div class="BoxContent">
                </div>
            </a>
        </div>
        <div class="BoxOne">
            <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[1].MangaID">
                <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[1].PhotoPath" />
                <div class="BoxContent">
                </div>
            </a>
        </div>
        <div class="BoxOne hide-on-small">
            <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[2].MangaID">
                <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[2].PhotoPath" />
                <div class="BoxContent">
                </div>
            </a>
        </div>
        <div class="BoxOne hide-on-small">
            <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[3].MangaID">
                <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[3].PhotoPath" />
                <div class="BoxContent">
                </div>
            </a>
        </div>
        <div class="BoxOne hide-on-medium">
            <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[4].MangaID">
                <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[4].PhotoPath" />
                <div class="BoxContent">
                </div>
            </a>
        </div>
        <div class="BoxOne hide-on-medium">
            <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[5].MangaID">
                <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[5].PhotoPath" />
                <div class="BoxContent">
                </div>
            </a>
        </div>
        <div class="BoxOne hide-on-medium">
            <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[6].MangaID">
                <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[6].PhotoPath" />
                <div class="BoxContent">
                </div>
            </a>
        </div>
        <div class="BoxOne hide-on-medium">
            <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[7].MangaID">
                <img class="BoxImage" src="~/Images/MangaImage/@Model.AllBooksList[7].PhotoPath" />
                <div class="BoxContent">
                </div>
            </a>
        </div>
 
    </div>



</div>
<div class="Content2Cost">
    @foreach (var book in Model.GetAllBooks.Take(1))
    {

        <div class="card">

          
            <div class="card-2-bodyDetails">

                <img class="card-img-index" src="~/Images/MangaImage/@book.PhotoPath" />

                <div class="TitleTagDescriptionCostum">
                    <div class="card-title">
                        <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                            <h1 class="card-title-extra-style">
                                @book.MangaName
                            </h1>
                        </a>

                    </div>

                    <h2 class="tag-container">
                        @foreach (var tag in book.TagsModels)
                        {
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                <span class="tag RemoveWhenSmall">@tag.TagName</span>
                            </a>

                        }
                        @foreach (var genre in book.GenresModels)
                        {
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                <span class="tag RemoveWhenSmall">@genre.GenreName</span>
                            </a>
                        }

                    </h2>
                    <div class="card-description RemoveWhenSmall RemoveWhenLarge RemoveWhenMedium">
                        <p>
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                @book.Description
                            </a>

                        </p>
                    </div>
                    <div class="Index_Artist_Author_Navigation_Arrows ">
                        <h2 class="Author_Artist">
                            @foreach (var author in book.Authormodels)
                            {
                                <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                    @author.FirstName @author.LastName
                                </a>
                                @foreach (var artst in book.ArtistModels)
                                {
                                    @if (author.FirstName != artst.FirstName)
                                    {
                                        <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                            @artst.FirstName @artst.LastName
                                        </a>
                                    }
                                }
                            }

                        </h2>

                     
                    </div>

                </div>


               



            </div>

        </div>

    }


</div>
<div class="Content3Cost">
    @foreach (var book in Model.GetAllBooks.Take(1))
    {

        <div class="card">

            <img class="card-img-background" src="~/Images/MangaImage/@book.PhotoPath" />
            <div class="card-body">

                <img class="card-img-index" src="~/Images/MangaImage/@book.PhotoPath" />

                <div class="TitleTagDescriptionCostum">
                    <div class="card-title">
                        <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                            <h1 class="card-title-extra-style">
                                @book.MangaName
                            </h1>
                        </a>

                    </div>

                    <h2 class="tag-container">
                        @foreach (var tag in book.TagsModels)
                        {
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                <span class="tag RemoveWhenSmall">@tag.TagName</span>
                            </a>

                        }
                        @foreach (var genre in book.GenresModels)
                        {
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                <span class="tag RemoveWhenSmall">@genre.GenreName</span>
                            </a>
                        }

                    </h2>
                    <div class="card-description RemoveWhenSmall RemoveWhenLarge RemoveWhenMedium">
                        <p>
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                @book.Description
                            </a>

                        </p>
                    </div>
                    <div class="Index_Artist_Author_Navigation_Arrows ">
                        <h2 class="Author_Artist">
                            @foreach (var author in book.Authormodels)
                            {
                                <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                    @author.FirstName @author.LastName
                                </a>
                                @foreach (var artst in book.ArtistModels)
                                {
                                    @if (author.FirstName != artst.FirstName)
                                    {
                                        <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                            @artst.FirstName @artst.LastName
                                        </a>
                                    }
                                }
                            }
                     

                        </h2>

                        <div class="IndexArrowPostition">
                            <button class="IndexArrowsPrev">
                                prev
                            </button>
                            <button class="IndexArrowsNext">
                                next
                            </button>
                        </div>
                    </div>

                </div>


                <div>
                </div>



            </div>
        
        </div>

    }
    <div class="MiniCards">
        @foreach (var book in Model.GetAllBooks.Take(8))
        {
            <div class="BoxOne">
                <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                    <img class="BoxImage" src="~/Images/MangaImage/@book.PhotoPath" />
                    <div class="BoxContent">
                    </div>
                </a>
            </div>
        }

    </div>

@*    <div class="MiniCards">
        @foreach (var book in Model.GetAllBooks.Take(8))
        {
            <div class="BoxOne">
                <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                    <img class="BoxImage" src="~/Images/MangaImage/@book.PhotoPath" />
                    <div class="BoxContent">
                    </div>
                </a>
            </div>
        }

    </div>*@
</div>
<div class="Content4Cost">Area 4</div>

