@page
@model NovelXManga.Pages.MangaUpdates.UpdateDescriptionModel
@{
}

<link rel="stylesheet" href="~/css/UpdatesStyle.css" asp-append-version="true" />
<form method="post" enctype="multipart/form-data" class="MarginUpdateClass">

    <input type="hidden" name="mangaModel.MangaID" value="@Model.mangaModelUpdate.MangaID" /> 
    <div class="manga-update-form-group">
        <label for="description">Description:</label>
        <textarea input class="manga-update-input" id="description" name="mangaModel.Description" rows="5" required>@Model.mangaModelUpdate.Description</textarea>
       
    </div>
    <div class="manga-update-form-group">
        <label for="isbn10">ISBN10:</label>
        <input type="text" class="manga-update-input" id="isbn10" name="mangaModel.ISBN10" value="@Model.mangaModelUpdate.ISBN10">
    </div>

    <div class="manga-update-form-group">
        <label for="isbn13">ISBN13:</label>
        <input type="text" class="manga-update-input" id="isbn13" name="mangaModel.ISBN13" value="@Model.mangaModelUpdate.ISBN13">
    </div>

    <div class="manga-update-form-group">
        <label for="futureEvents">Future Events:</label>
        <input type="text" class="manga-update-input" id="futureEvents" name="mangaModel.futureEvents" value="@Model.mangaModelUpdate.futureEvents">
    </div>

    <div class="manga-update-form-group">
        <label for="statusInCountryOfOrigin">Status In Country Of Origin:</label>
        <input type="text" class="manga-update-input" id="statusInCountryOfOrigin" name="mangaModel.StatusInCountryOfOrigin" value="@Model.mangaModelUpdate.StatusInCountryOfOrigin">
    </div>

    <div class="manga-update-form-group">
        <label for="completelyTranslated">Completely Translated:</label>
        <input type="text" class="manga-update-input" id="completelyTranslated" name="mangaModel.CompletelyTranslated" value="@Model.mangaModelUpdate.CompletelyTranslated">
    </div>

    <div class="manga-update-form-group">
        <label for="orignalWebtoon">Original Webtoon:</label>
        <input type="text" class="manga-update-input" id="orignalWebtoon" name="mangaModel.orignalWebtoon" value="@Model.mangaModelUpdate.orignalWebtoon">
    </div>

    <div class="manga-update-form-group">
        <label for="originalPublisher">Original Publisher:</label>
        <input type="text" class="manga-update-input" id="originalPublisher" name="mangaModel.OriginalPublisher" value="@Model.mangaModelUpdate.OriginalPublisher">
    </div>

    <div class="manga-update-form-group">
        <label for="releaseYear">Release Date:</label>
        <input type="date" class="manga-update-input" id="releaseYear" name="mangaModel.ReleaseYear" value="@Model.mangaModelUpdate.ReleaseYear?.ToString("yyyy-MM-dd")">
    </div>
    <div class="manga-update-form-group">
        <label for="endingYear">Ending Date:</label>
        <input type="date" class="manga-update-input" id="endingYear" name="mangaModel.EndingYear" value="@Model.mangaModelUpdate.EndingYear?.ToString("yyyy-MM-dd")">
    </div>

    <div class="manga-update-form-group">
        <label for="type">Type:</label>
        <input type="text" class="manga-update-input" id="type" name="mangaModel.Type" value="@Model.mangaModelUpdate.Type">
    </div>

    <div class="manga-update-form-group">
        <label for="officalLanguage">Offical Language:</label>
        <input type="text" class="manga-update-input" id="officalLanguage" name="mangaModel.OfficalLanguage" value="@Model.mangaModelUpdate.OfficalLanguage">
    </div>
 
    <button type="submit" class="btn btn-danger">Update</button>
    <a asp-page="/Manga/CurrentManga" asp-route-id="@Model.mangaModelUpdate.MangaID" class="btn btn-primary">Back</a>

</form>

<script src="~/js/YearEndingCheck.js" asp-append-version="true"></script>