@page
@model NovelXManga.Pages.CharacterPage.CurrentCharacterModel
@inject UserManager<UserModel> UserManager
@inject SignInManager<UserModel> SignInManager
@{
    var user = await UserManager.GetUserAsync(User);
    var UpdaterUser = user != null && await UserManager.IsInRoleAsync(user, "NormalUser");

}

<link rel="stylesheet" href="~/css/CreatorStyle.css" asp-append-version="true" />

<div class="CUS-Content1Ex">


         <div class="CUS-card-ex">
          <div class="CUS-card-image-ex">
            <div class="CUS-blurredbackground ">
                <img class="CUS-BoxImage CUS-blurimage" src="/Images/GeneratedCharacterImage/@Model.CurrentCharacter.PhotoPath" />
                  
                </div>

            <div class="CUS-manga-img-container">
                    <!-- Manga image goes here -->
                    @if (@Model.CurrentCharacter.PhotoPath != string.Empty)
                    {
                        <div>
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdatePhoto" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                <img class="CUS-manga-img" asp-append-version="true" src="~/Images/GeneratedCharacterImage/@Model.CurrentCharacter.PhotoPath" alt="NoImage">
                                </a>
                            }
                            else
                            {
                            <img class="CUS-manga-img" asp-append-version="true" src="~/Images/GeneratedCharacterImage/@Model.CurrentCharacter.PhotoPath" alt="NoImage">
                            }

                        </div>
                    }
                    else
                    {
                    <img class="CUS-manga-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="BookImage">
                    }
                </div>
            <div class="CUS-manga-title CUS-HideTitleCurrentMangaOnSmall">
                    <!-- Manga title goes here -->
                    @if (@Model.CurrentCharacter.CharacterName != null)
                    {
                        <h1 class="">@Model.CurrentCharacter.CharacterName</h1>
                    }
                </div>



            </div>

        </div>

    </div>

<div class="CUS-Content1Cost">
    <div class="CUS-commonParentContainer">

       
   
    </div>

</div>
<div class="CUS-mangaDetailsWrapper">
    <div class="CUS-MangaDetaiDescription CUS-bookdescription">


        <div class="CUS-MangaDescriptionContainerInput">

            @if (Model.CurrentCharacter.Background != null)
            {
                @if (UpdaterUser)
                {

                    <a asp-page="/MangaUpdates/UpdateCharacter" asp-route-id="@Model.CurrentCharacter.CharacterId">
                        @Model.CurrentCharacter.Background

                    </a>

                }
                else
                {

                    @Model.CurrentCharacter.Background
                }
            }
            else
            {
                @if (UpdaterUser)
                {

                    <a asp-page="/MangaUpdates/UpdateCharacter" asp-route-id="@Model.CurrentCharacter.CharacterId">
                        <div class="CUS-MangaInputText"> <p> N/A Please update data</p></div>
                    </a>
                }
                else
                {
                    
                }


            }


        </div>

    </div>
    <hr / class="CUS-DescriptionDiver">
    <div class="CUS-CommonContainer">
 
          
            <div class="CUS-LeftSide">
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Gender:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Gender != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Gender
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Gender
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
                @if (@Model.AssociatedNames != null && @Model.AssociatedNames.Any())
                {
                    <div class="CUS-LeftSidemangaDetailsBox">

                        <h3>Associated names:</h3>
                        <div class="CUS-MangaContainerInput">

                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/CHANGE" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @foreach (var item in Model.AssociatedNames)
                                    {
                                        <div class="CUS-MangaInputText">@item.Name</div>

                                    }
                                </a>
                            }
                            else
                            {
                                @foreach (var item in Model.CurrentCharacter.AssociatedNames)
                                {
                                    <div class="CUS-MangaInputText">@item.nameString</div>

                                }
                            }



                        </div>
                    </div>
                }
                @if (Model.OfficialWebsites != null && Model.OfficialWebsites.Any())
                {
                    <div class="CUS-LeftSidemangaDetailsBox">
                        <h3>Official Websites</h3>
                        <div class="CUS-MangaContainerInput">
                            @foreach (var item in Model.OfficialWebsites)
                            {
                                <div>
                                    @if (!string.IsNullOrEmpty(item.OfficalWebsiteString))
                                    {
                                        <a href="@item.OfficalWebsiteString" target="_blank">@item.OfficalWebsiteName</a>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Twitter))
                                    {
                                        <a href="@item.Twitter" target="_blank">Twitter</a>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Facebook))
                                    {
                                        <a href="@item.Facebook" target="_blank">Facebook</a>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Instagram))
                                    {
                                        <a href="@item.Instagram" target="_blank">Instagram</a>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Line))
                                    {
                                        <a href="@item.Line" target="_blank">Line</a>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Naver))
                                    {
                                        <a href="@item.Naver" target="_blank">Naver</a>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Born:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Born != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Born
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Born
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Species:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.specie != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.specie
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.specie
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Place of residence:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.PlaceOffResidence != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.PlaceOffResidence
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.PlaceOffResidence
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>World:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.World != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.World
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.World
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Nationality:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Nationality != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Nationality
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Nationality
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Education:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Education != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Education
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Education
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Occupation:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Occupation != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Occupation
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Occupation
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Lawful:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Lawful != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Lawful
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Lawful
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Personality:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Personality != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Personality
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Personality
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>FamousQuote:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.FamousQuote != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.FamousQuote
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.FamousQuote
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Height:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Height != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Height
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Height
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Weight:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Weight != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Weight
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Weight
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Eye Color:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.EyeColor != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.EyeColor
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.EyeColor
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Hair Color:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.HairColor != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.HairColor
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.HairColor
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Abilities:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Abilities != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Abilities
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Abilities
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Hobbies:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Hobbies != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Hobbies
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Hobbies
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Dislikes:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Dislikes != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Dislikes
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Dislikes
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Likes:</h3>
                <div class="CUS-MangaContainerInput">
                    <div class="CUS-MangaInputText">
                        @if (Model.CurrentCharacter.Likes != null)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    @Model.CurrentCharacter.Likes
                                </a>
                            }
                            else
                            {
                                @Model.CurrentCharacter.Likes
                            }
                        }
                        else
                        {
                            <p>TBA</p>
                        }
                    </div>
                </div>
            </div>
        

        </div>
        <div class="CUS-RightSide">
            @if (Model.CurrentMangas.Any())
            {
                <h1>Books:</h1>
                <div class="CUS-mangaDetailsBox">
                    <div class="GridWrapper">
                        @foreach (var manga in Model.CurrentMangas)
                        {
                            <div class="CUS-GridItem">
                                <a asp-page="/Manga/CurrentManga" asp-route-id="@manga.MangaID">
                                    <img class="GridImage" src="~/Images/GeneratedMangaImage/@manga.PhotoPath" />
                                </a>
                                <div class="CUS-MangaInputText">
                                    <a asp-page="/Manga/CurrentManga" asp-route-id="@manga.MangaID">
                                        <input type="hidden" name="characters" value="@manga.MangaID" />
                                        <p>@manga.MangaName</p>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

            @if (Model.FamilyMembers.Any())
            {
                <h1>Family:</h1>
                <div class="CUS-mangaDetailsBox">
                    <div class="GridWrapper">
                        @foreach (var member in Model.FamilyMembers)
                        {
                            <div class="CUS-GridItem">
                                <a asp-page="/CharacterPage/CurrentCharacter" asp-route-id="@member.CharacterId">
                                    <img class="GridImage" src="~/Images/GeneratedCharacterImage/@member.PhotoPath" />
                                </a>
                                <div class="CUS-MangaInputText">
                                    <a asp-page="/CharacterPage/CurrentCharacter" asp-route-id="@member.CharacterId">
                                        <input type="hidden" name="characters" value="@member.CharacterId" />
                                        <p>@member.CharacterName</p>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

   
</div>