@page
@model NovelXManga.Pages.Artist.CurrentAuthorModel
@inject UserManager<UserModel> UserManager
@inject SignInManager<UserModel> SignInManager
@{
    var user = await UserManager.GetUserAsync(User);
    var UpdaterUser = user != null && await UserManager.IsInRoleAsync(user, "NormalUser");

}
<link rel="stylesheet" href="~/css/CurrentCharacter.css" asp-append-version="true" />


<div class="CUS-Content1Ex">


    <div class="CUS-card-ex">
        <div class="CUS-card-image-ex">
            <div class="CUS-blurredbackground">
                @if (!string.IsNullOrEmpty(Model.CurrentAuthor.PhotoPath))
                {
                    <img class="CUS-BoxImage CUS-blurimage" src="~/Images/GeneratedAuthorImage/@Model.CurrentAuthor.PhotoPath" onerror="this.onerror=null;this.src='~/Images/AuthorImage/NoPhoto.png';" alt="Author Image">
                }
                else
                {
                    <img class="CUS-BoxImage CUS-blurimage" src="~/Images/AuthorImage/NoPhoto.png" alt="No Author Image Available">
                }
            </div>


            <div class="CUS-manga-img-container">
                <!-- Manga image goes here -->
                @if (!string.IsNullOrEmpty(Model.CurrentAuthor.PhotoPath))
                {
                    <div>
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/UpdatePhoto" asp-route-id="@Model.CurrentAuthor.AuthorID">
                                <img class="CUS-manga-img" asp-append-version="true" src="~/Images/GeneratedAuthorImage/@Model.CurrentAuthor.PhotoPath" onerror="this.onerror=null;this.src='~/Images/AuthorImage/NoPhoto.png';" alt="Author Image">
                            </a>
                        }
                        else
                        {
                            <img class="CUS-manga-img" asp-append-version="true" src="~/Images/GeneratedAuthorImage/@Model.CurrentAuthor.PhotoPath" onerror="this.onerror=null;this.src='~/Images/AuthorImage/NoPhoto.png';" alt="Author Image">
                        }
                    </div>
                }
                else
                {
                    <img class="CUS-manga-img" src="~/Images/AuthorImage/NoPhoto.png" alt="No Author Image Available">
                }
            </div>

            <div class="CUS-manga-title CUS-HideTitleCurrentMangaOnSmall">
                <!-- Manga title goes here -->
                @if (@Model.CurrentAuthor.FirstName != null && @Model.CurrentAuthor.LastName != null)
                {
                    <h1 class="">@Model.CurrentAuthor.FirstName @Model.CurrentAuthor.LastName</h1>
                }
                else if (@Model.CurrentAuthor.FirstName != null)
                {
                    <h1 class="">@Model.CurrentAuthor.FirstName</h1>
                }
                else
                {
                    
                }
            </div>



        </div>

    </div>

</div>

<div class="CUS-Content1Cost">
      <div class="CUS-commonParentContainer">
      
        <div class="CUS-CurrentMangaTagsContainer">
            <div class="Cus-TitleWhenSmallCurrentManga">
              
            </div>
          @if (Model.AuthorGenresAndTags.Genres.Any())
            {
             @foreach (var genreName in Model.AuthorGenresAndTags.Genres)
                {
                    <div class="CUS-tagsInsideInsideCurrentManga">
                        @if (UpdaterUser)
                        {
                         
                                @if (genreName == "Adult" || genreName == "Smut" || genreName == "Mature")
                                {
                                    <label class="CUS-CustomWarningLabel">
                                      @genreName
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        @genreName
                                    </label>
                                }
                      
                        }
                        else
                        {      @if (genreName == "Adult" || genreName == "Smut" || genreName == "Mature")
                            {
                                <label class="CUS-CustomWarningLabel">
                                    @genreName
                                </label>
                            }
                            else
                            {
                                <label>
                                    @genreName
                                </label>
                            }   }

                    </div>
                }

            }
           @if (Model.AuthorGenresAndTags.Tags.Any())
            {
                @foreach (var TagName in Model.AuthorGenresAndTags.Tags)
                {
                    @if (UpdaterUser)
                    {
               
                            <div class="CUS-tagsInsideInsideCurrentManga">

                                @if (TagName == "Gore" || TagName == "Borderline H" || TagName == "Anal Intercourse" ||
                               TagName== "Blood and Gore" || TagName == "Blackmail" || TagName == "Bathroom Intercourse" ||
                              TagName== "Child Abuse" || TagName== "Double Penetration" || TagName== "Fellatio"
                               || TagName== "Group Intercourse" || TagName == "Gang Rape" || TagName == "Futanari"
                               || TagName == "Groping" || TagName == "Handjob" || TagName == "Masturbation"
                               || TagName == "Netorare" || TagName == "Netor" || TagName == "Netori"
                               || TagName == "Titty Fuck" || TagName == "Paizuri" || TagName == "Outdoor Intercourse"
                               || TagName == "Panchira" || TagName == "Rape" || TagName == "School Intercourse"
                               || TagName == "Sexual Abuse" || TagName == "Sex" || TagName == "Sex Toy"
                               || TagName == "Sexual Assault" || TagName == "Sexual Innuendo" || TagName == "Threesome"
                               || TagName == "Torture" || TagName == "Urination" || TagName == "Public Sex"
                               )
                                {
                                    <p class="CUS-CustomHintLabel">
                                        @TagName
                                    </p>
                                }
                                else
                                {
                                    <label>
                                        @TagName
                                    </label>
                                }

                            </div>
                 
                    }
                    else
                    {
                        <div class="CUS-tagsInsideInsideCurrentManga">

                              @if (TagName == "Gore" || TagName == "Borderline H" || TagName == "Anal Intercourse" ||
                               TagName== "Blood and Gore" || TagName == "Blackmail" || TagName == "Bathroom Intercourse" ||
                              TagName== "Child Abuse" || TagName== "Double Penetration" || TagName== "Fellatio"
                               || TagName== "Group Intercourse" || TagName == "Gang Rape" || TagName == "Futanari"
                               || TagName == "Groping" || TagName == "Handjob" || TagName == "Masturbation"
                               || TagName == "Netorare" || TagName == "Netor" || TagName == "Netori"
                               || TagName == "Titty Fuck" || TagName == "Paizuri" || TagName == "Outdoor Intercourse"
                               || TagName == "Panchira" || TagName == "Rape" || TagName == "School Intercourse"
                               || TagName == "Sexual Abuse" || TagName == "Sex" || TagName == "Sex Toy"
                               || TagName == "Sexual Assault" || TagName == "Sexual Innuendo" || TagName == "Threesome"
                               || TagName == "Torture" || TagName == "Urination" || TagName == "Public Sex"
                               )
                            {
                                <p class="CUS-CustomHintLabel">
                                        @TagName
                                </p>
                            }
                            else
                            {
                                <label>
                                          @TagName
                                </label>
                            }

                        </div>
                    }

                }
            }
         
        </div> 
    
            </div>

</div>
<div class="CUS-mangaDetailsWrapper">
    <div class="CUS-MangaDetaiDescription CUS-bookdescription">


        <div class="CUS-MangaDescriptionContainerInput">

            @if (Model.CurrentAuthor.Biography != null)
            {
                @if (UpdaterUser)
                {

                    <a asp-page="/MangaUpdates/UpdateCharacter" asp-route-id="@Model.CurrentAuthor.AuthorID">
                        @Model.CurrentAuthor.Biography

                    </a>

                }
                else
                {

                    @Model.CurrentAuthor.Biography
                }
            }
            else
            {
                @if (UpdaterUser)
                {

                    <a asp-page="/MangaUpdates/UpdateCharacter" asp-route-id="@Model.CurrentAuthor.AuthorID">
                        <div class="CUS-MangaInputText"> <p> N/A Please update data</p></div>
                    </a>
                }
                else
                {

                }


            }


        </div>

    </div>
    <hr / class="CUS-DescriptionDiver">
    <div class="CUS-LeftSide">
        <div class="CUS-LeftSidemangaDetailsBox">
        </div>
    </div>
    <div class="CUS-RightSide">

    </div>
</div>