@page
@model NovelXManga.Pages.UserInteractions.UserProfileModel
@{

}
<link rel="stylesheet" href="~/css/UserProfileStyleSheet.css" asp-append-version="true" />
<div class="UPI-container">
  <div class="UPI-header">
        <img asp-append-version="true"
     src="@(!string.IsNullOrEmpty(@Model.UserProfile.userPhotoPath) ? "/Images/GeneratedUserImage/" + @Model.UserProfile.userPhotoPath : "~/Images/UserImage/NoPhoto.png")"
     alt="User Photo" class="UPI-userPhoto">

    <div class="UPI-userDetails">
      <div class="UPI-userName">@Model.UserProfile.Allias - @Model.UserRole</div>
      <div class="UPI-description">
                @if (!string.IsNullOrWhiteSpace(Model.UserProfile.Description))
                {
                    @Model.UserProfile.Description
                }
                else
                {

                }
      </div>
    </div>
    <button class="UPI-blockBtn">Block User</button>
  </div>

  <!-- Reviews List -->
  <div class="UPI-list">
    <!-- Dynamic items here -->
  </div>
  <button class="UPI-moreBtn">More</button>
</div>