@page
@model NovelXManga.Pages.UserInteractions.UserProfileModel
@{

}

    <section class="user-information">
        <p>@Model.Description</p>
        <p><strong>Twitter:</strong> @Model.Twitter</p>
        <p>Member since: @Model.CreatedAcc?.ToString("MMMM dd, yyyy")</p>
    </section>

    <form method="post">
        <label for="showReadingList">Show Reading List</label>
        <input type="checkbox" id="showReadingList" name="ShowReadingList" checked="@Model.ShowReadingList" />

        <label for="showReviews">Show Reviews</label>
        <input type="checkbox" id="showReviews" name="ShowReviews" checked="@Model.ShowReviews" />

        <button type="submit">Save Preferences</button>
    </form>

    <button onclick="startConversation('@userId', '@Model.Id')">Start Conversation</button>
    <button onclick="blockUser('@userId', '@Model.Id')" class="block-user">Block User</button>
</div>
*@