@page
@model NovelXManga.Pages.UserInteractions.UserProfileModel
@{
    
}
<link rel="stylesheet" href="~/css/UserProfileStyleSheet.css" asp-append-version="true" />

 <div class="UPI-header">
      
  <a asp-route-userId="@Model.UserProfile.Id" asp-page="/UserInteractions/UserProfile">  <img asp-append-version="true"
     src="@(!string.IsNullOrEmpty(@Model.UserProfile.userPhotoPath) ? "/Images/GeneratedUserImage/" + @Model.UserProfile.userPhotoPath : "~/Images/UserImage/NoPhoto.png")"
     alt="User Photo" class="UPI-userPhoto">
</a>

    <div class="UPI-userDetails">
      <div class="UPI-userName">@Model.UserProfile.Allias - @Model.UserRole</div>
      <div class="UPI-description">
                @if (!string.IsNullOrWhiteSpace(Model.UserProfile.Description))
                {
                   @Html.Raw(Model.UserProfile.Description)
                    <span> dasdsa dasdasdas dasdasdsa dsadasdsad asdasdsadsa dsadsadsad dasdasdasdas </span>
                }
                else
                {
                    <span> No description provided. </span>
                }
      </div>
    </div>
  
  </div>
<div class="UPI-container">
 

  <!-- Reading List -->

 @if(Model.UserProfile?.UserSettings != null && Model.UserProfile.UserSettings.ShowReadingList && Model.ReadingListDtos != null && Model.ReadingListDtos.Any())
    {
        <div class="UPI-listContainer">
            <h3 class="UPI-listTitle">Reading List</h3><hr>
            <div class="UPI-bookList UPI-readingList">
                @foreach (var item in Model.ReadingListDtos.Take(4))
                {
                    <a class="UPI-listItem" asp-page="/Manga/CurrentManga" asp-route-id="@item.MangaID">
                        <img src="~/Images/GeneratedMangaImage/@item.PhotoPath" alt="@item.MangaName">
                        <span>@item.MangaName</span>
                    
                    </a>
                }
            </div>
            @if (Model.ReadingListDtos.Count() > 4)
            {
                <hr class="UPI-custom-hr" />
                <button id="UPI-loadMoreReading" class="UPI-load-more-button" data-user-id="@Model.UserProfile.Id">More</button>
            }
        </div>
    }


   <!-- Completed Book List -->
  @if(Model.UserProfile?.UserSettings != null && Model.UserProfile.UserSettings.ShowCompletedList && Model.CompletedListDtos != null && Model.CompletedListDtos.Any())
    {
        <div class="UPI-listContainer">
            <h3 class="UPI-listTitle">Completed List</h3><hr>
            <div class="UPI-bookList UPI-completedList">
                @foreach (var item in Model.CompletedListDtos.Take(4))
                {
                    <a class="UPI-listItem" asp-page="/Manga/CurrentManga" asp-route-id="@item.MangaID">
                        <img src="~/Images/GeneratedMangaImage/@item.PhotoPath" alt="@item.MangaName">
                        <span>@item.MangaName</span>
                    
                    </a>
                }
            </div>
            @if (Model.CompletedListDtos.Count() > 4)
            {
                <hr class="UPI-custom-hr" />
                <button id="UPI-loadMoreCompleted" class="UPI-load-more-button" data-user-id="@Model.UserProfile.Id">More</button>
            }
        </div>
    }



  <!-- Dropped Book List -->
       @if (Model.DroppedListDtos != null && Model.DroppedListDtos.Any())
    {
        <div class="UPI-listContainer">
            <h3 class="UPI-listTitle">Dropped List</h3><hr>
            <div class="UPI-bookList UPI-droppedList">
                @foreach (var item in Model.DroppedListDtos.Take(4))
                {
                    <a class="UPI-listItem" asp-page="/Manga/CurrentManga" asp-route-id="@item.MangaID">
                        <img src="~/Images/GeneratedMangaImage/@item.PhotoPath" alt="@item.MangaName">
                        <span>@item.MangaName</span>
                    
                    </a>
                }
            </div>
            @if (Model.DroppedListDtos.Count() > 4)
            {
                <hr class="UPI-custom-hr" />
                <button id="UPI-loadMoreDropped" class="UPI-load-more-button" data-user-id="@Model.UserProfile.Id">More</button>
            }
        </div>
    }


  <!-- Favorite Book List -->
      @if (Model.FavoriteListDtos != null && Model.FavoriteListDtos.Any())
    {
        <div class="UPI-listContainer">
            <h3 class="UPI-listTitle">Favorite List</h3><hr>
            <div class="UPI-bookList UPI-favoriteList">
                @foreach (var item in Model.FavoriteListDtos.Take(4))
                {
                    <a class="UPI-listItem" asp-page="/Manga/CurrentManga" asp-route-id="@item.MangaID">
                        <img src="~/Images/GeneratedMangaImage/@item.PhotoPath" alt="@item.MangaName">
                        <span>@item.MangaName</span>
                    
                    </a>
                }
            </div>
            @if (Model.FavoriteListDtos.Count() > 4)
            {
                <hr class="UPI-custom-hr" />
                <button id="UPI-loadMoreFavorite" class="UPI-load-more-button" data-user-id="@Model.UserProfile.Id">More</button>
            }
        </div>
    }



 <!-- Wish Book List -->
      @if (Model.WishListDtos != null && Model.WishListDtos.Any())
    {
        <div class="UPI-listContainer">
            <h3 class="UPI-listTitle">Wish List</h3><hr>
            <div class="UPI-bookList UPI-wishList">
                @foreach (var item in Model.WishListDtos.Take(4))
                {
                    <a class="UPI-listItem" asp-page="/Manga/CurrentManga" asp-route-id="@item.MangaID">
                        <img src="~/Images/GeneratedMangaImage/@item.PhotoPath" alt="@item.MangaName">
                        <span>@item.MangaName</span>
                    
                    </a>
                }
            </div>
            @if (Model.WishListDtos.Count() > 4)
            {
                <hr class="UPI-custom-hr" />
                <button id="UPI-loadMoreWish" class="UPI-load-more-button" data-user-id="@Model.UserProfile.Id">More</button>
            }
        </div>
    }
</div>
  <button class="UPI-moreBtn">More</button>

    <button class="UPI-blockBtn">Block User</button>

<script src="~/js/UserProfile.js" asp-append-version="true"></script>