@page
@model NovelXManga.Pages.UserInteractions.UserProfileModel
@{
    var totalReadingListCount = Model.ReadingListDtos;
    var topReadingListDtos = Model.ReadingListDtos.Take(4);
}
<link rel="stylesheet" href="~/css/UserProfileStyleSheet.css" asp-append-version="true" />

 <div class="UPI-header">
        <img asp-append-version="true"
     src="@(!string.IsNullOrEmpty(@Model.UserProfile.userPhotoPath) ? "/Images/GeneratedUserImage/" + @Model.UserProfile.userPhotoPath : "~/Images/UserImage/NoPhoto.png")"
     alt="User Photo" class="UPI-userPhoto">

    <div class="UPI-userDetails">
      <div class="UPI-userName">@Model.UserProfile.Allias - @Model.UserRole</div>
      <div class="UPI-description">
                @if (!string.IsNullOrWhiteSpace(Model.UserProfile.Description))
                {
                    @Model.UserProfile.Description
                }
                else
                {

                }
      </div>
    </div>
  
  </div>
<div class="UPI-container">
 

  <!-- Reading List -->
@if (topReadingListDtos != null && topReadingListDtos.Any())
{
    <div class="UPI-listContainer">  <h3 class="UPI-listTitle">Reading List</h3><hr>
    <div class="UPI-bookList UPI-readingList">
        
        @foreach (var item in topReadingListDtos)
        {
            <div class="UPI-listItem">
                <img src="@Url.Content($"~/Images/GeneratedMangaImage/{item.PhotoPath}")" alt="@item.MangaName">
               <span>@item.MangaName</span>
            </div>
        }
            </div>
            @if (totalReadingListCount.Count() > 4)
        {
                <hr class="UPI-custom-hr" />
                <button id="UPI-loadMoreReading" class="UPI-load-more-button" data-current-count="@totalReadingListCount.Count()">More</button>
        }

        </div>
}

   <!-- Completed Book List -->
@if (Model.CompletedListDtos != null && Model.CompletedListDtos.Any())
{
    <div class="UPI-listContainer">
        <h3 class="UPI-listTitle">Completed List</h3><hr>
        <div class="UPI-bookList UPI-completedList">
            @foreach (var item in Model.CompletedListDtos)
            {
                <div class="UPI-listItem">
                    <img src="~/Images/GeneratedMangaImage/@item.PhotoPath" alt="@item.MangaName">
                    <span>@item.MangaName</span>
                </div>
            }
        </div>
    </div>
}


  <!-- Dropped Book List -->
@if (Model.DroppedListDtos != null && Model.DroppedListDtos.Any())
{
    <div class="UPI-listContainer">
        <h3 class="UPI-listTitle">Dropped List</h3><hr>
        <div class="UPI-bookList UPI-droppedList">
            @foreach (var item in Model.DroppedListDtos)
            {
                <div class="UPI-listItem">
                    <img src="~/Images/GeneratedMangaImage/@item.PhotoPath" alt="@item.MangaName">
                    <span>@item.MangaName</span>
                </div>
            }
        </div>
    </div>
}


  <!-- Favorite Book List -->
@if (Model.FavoriteListDtos != null && Model.FavoriteListDtos.Any())
{
    <div class="UPI-listContainer">
        <h3 class="UPI-listTitle">Favorite List </h3><hr>
        <div class="UPI-bookList UPI-favoriteList">
            @foreach (var item in Model.FavoriteListDtos)
            {
                <div class="UPI-listItem">
                    <img src="~/Images/GeneratedMangaImage/@item.PhotoPath" alt="@item.MangaName">
                    <span>@item.MangaName</span>
                </div>
            }
        </div>
    </div>
}


  <!-- Wish Book List -->
@if (Model.WishListDtos != null && Model.WishListDtos.Any())
{
    <div class="UPI-listContainer">
        <h3 class="UPI-listTitle">Wish List</h3><hr>
        <div class="UPI-bookList UPI-wishList">
            @foreach (var item in Model.WishListDtos)
            {
                <div class="UPI-listItem">
                    <img src="~/Images/GeneratedMangaImage/@item.PhotoPath" alt="@item.MangaName">
                    <span>@item.MangaName</span>
                </div>
            }
        </div>
    </div>
}

</div>
  <button class="UPI-moreBtn">More</button>

    <button class="UPI-blockBtn">Block User</button>

<script src="~/js/UserProfile.js" asp-append-version="true"></script>