@model MangaModel
@{
    @Html.Hidden("HiddenGroup")
    
}


<div class="container2">
    <div class="Left_Side">
        <div class="profileText">
            @if (Model.MangaName != null  )
            {
                <h2>@Model.MangaName</h2>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Updater"))
                {
                    <input type="text" class="HiddenGroup" asp-for="@Model.MangaName" class="form-control" />

                }
              
            }
            <div class="imgBx">
                @if (Model.PhotoPath != string.Empty)
                {
                    <div class="mb-3">
                        <img src="@Model.PhotoPath" alt="NoImage" width="100" height="200">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Updater"))
                        {
                            <input type="text" class="HiddenGroup" asp-for="@Model.PhotoPath" class="form-control" />

                        }

                    </div>
                }
                else
                {
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="BookImage" width="100" height="200">
                }
            </div>

                <div class="profileTextGroup">
                     <div class="InfoGroup">
                    <div class="Title">
                        <div class="Info">
                            <span class="icon">Language:   </span><br /><br />
                            <div class="text">
                            @if (Model.AllLanguages != null)
                     {
                 
                    @foreach (var item in Model.AllLanguages)
                    {
                                        <p> <a href="@item.OfficalWebSiteToBuy">@item.LanguageName</a></p>


                                    }
                    }
                    else
                    {
                        <span>N/A</span>
                }
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="InfoGroup"> 
                        <div class="Title">
                            <div class="Info">
                            <span class="icon">AssociatedNames  </span><br /><br />
                            <span class="text">
                                @if(Model.AssociatedNames != null)
                                {
                                    @foreach (var item in Model.AssociatedNames)
                                    {
                                        <a asp-page="CurrentManga" asp-route-id="@item.MangaID" class="btn btn-primary">@item.nameString ,</a>                                       
                                    }

                                }
                                else
                                {
                                    <span>N/A</span>
                                }
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
        
        </div>
    </div>

    <div class="Right_Side">

    </div>







<div>AssociatedNames: </div>

<div> </div>
@if (Model.TagsModels != null)
{

    @foreach (var item in Model.TagsModels)
    {

        <label class="form-label" asp-for="@item.TagName"> @item.TagName | </label>

    }
}
<div>Genre: </div>
@if (Model.GenresModels != null)
{
    @foreach (var item in Model.GenresModels)
    {

        <label class="form-label" asp-for="@item.GenreName"> @item.GenreName | </label>

    }

}

@if (Model.Description != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Description">Description: @Model.Description</label>

    </div>
}

@if (Model.ReleaseYear != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.ReleaseYear">Book Release: @Model.ReleaseYear</label>

    </div>
}
@if (Model.EndingYear != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.EndingYear">Ending: @Model.EndingYear</label>
    </div>
}

@if (Model.ISBN13 != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.ISBN13">ISBN13: @Model.ISBN13</label>

    </div>
}

@if (Model.ISBN10 != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.ISBN10">ISBN10: @Model.ISBN10</label>

    </div>
}

@if (Model.Type != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Type">Type: @Model.Type</label>

    </div>
}

@if (Model.OriginalPublisher != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.OriginalPublisher">OriginalPublisher: @Model.OriginalPublisher"></label>
    </div>
}


@if (Model.OfficalLanguage != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.OfficalLanguage">OfficalLanguage: @Model.OfficalLanguage</label>

    </div>
}
@if (Model.orignalWebtoon != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.orignalWebtoon">orignalWebtoon: @Model.orignalWebtoon</label>
    </div>
}

@if (Model.StatusInCountryOfOrigin != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.StatusInCountryOfOrigin">StatusInCountryOfOrigin: @Model.StatusInCountryOfOrigin</label>
    </div>
}
@if (Model.score != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.score">orignalWebtoon: @Model.score</label>
    </div>
}
<div>Artist/s: </div>
@if (Model.ArtistModels != null)
{
    @foreach (var item in Model.ArtistModels)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@item.FirstName"> @item.FirstName" @item.LastName </label>
        </div>
    }
}
else
{
    <p>N/A</p>
}
<div>Author/s: </div>
@if (Model.Authormodels != null)
{
    @foreach (var item in Model.Authormodels)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@item.FirstName"> @item.FirstName @item.LastName </label>
        </div>
    }
}
else
{
    <p>N/A</p>
}
<div>Audio Voice Actor/s: </div>
@if (Model.VoiceActors != null)
{
    @foreach (var item in Model.VoiceActors)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@item.FirstName"> @item.FirstName @item.LastName </label>
        </div>
    }
}

@if (Model.CompletelyTranslated != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.CompletelyTranslated">CompletelyTranslated: @Model.CompletelyTranslated</label>
    </div>
}
<div>Recommended Books: </div>
@if (Model.RecommendedMangaModels != null)
{
    @foreach (var item in Model.RecommendedMangaModels)
    {

        <label class="form-label">@item.MangaName</label>

    }
}
else
{
    <p>N/A</p>
}
<div>Related Books: </div>
@if (Model.relatedSeries != null)
{
    @foreach (var item in Model.relatedSeries)
    {

        <label class="form-label" asp-for="@item.relatedSeries">@item.MangaName</label>

    }

}
else
{
    <p>N/A</p>
}
@if (Model.futureEvents != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.futureEvents">Future Events: @Model.futureEvents</label>
    </div>
}
    </div>
@if (Model.BlogModel != null)
{
    <textarea asp-for="BlogModel.postsModel">

            </textarea>
    if(Model.BlogModel.postsModel != null){
        @foreach (var item in Model.BlogModel.postsModel)
        {

            <label class="form-label">@item.postComment</label>

        }
    }
    else{
        <p>Post not Responding</p>
    }
    

}
else
{
    <p>Blog not Responding</p>
}

