@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
    string roleName = roles.Any() ? string.Join(", ", roles) : "No Roles";
    var UpdaterUser = user != null && await UserManager.IsInRoleAsync(user, "Updater");
    var OwnerUser = user != null && await UserManager.IsInRoleAsync(user, "Owner");

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Otaku Library</title>
    <link rel="stylesheet" href="~/css/ChromeStyle.css" asp-append-version="true" />

 

</head>

<body>
    <div class="container-custom">

        <nav class="custom-O-navbar">
            <div class="navbar-left">
                <a asp-page="/Index"><h3 id="NovelTitle"> OtakuLibrary</h3></a>
                <button id="sidebar-toggle" onclick="handleSidebarToggle()" class="sidebar-toggle"><i class="gg-menu-round"></i></button>
            </div>
            <div class="navbar-right">
                <input type="search" id="searchbar" class="searchbar" placeholder="Search" oninput="searchManga(this.value)" />
                <div id="mangaResultsDropdown" class="dropdown-content"></div>
            </div>
        </nav>
        <main class="main-content">
            @RenderBody()
        </main>
    </div>
    <div class="Custom-o-sidebar">
       
            <div class="PushDownSidebar ">
            <div class="logo">
                <a asp-page="/Index">  <span id="TextChange">OtakuLibrary  </span> </a>  <button id="sidebar-toggle" onclick="handleSidebarToggle()" class="sidebar-toggle  colorSidebarToggle"><i class="gg-menu-round"></i></button>
            </div>              
            </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="sidebar-section">
                <div class="user-section">
                    <a id="log" class="sidebar-image"  asp-route-userId="@user.Id" asp-page="/UserInteractions/UserProfile">
                        <div class="profile-image">
              <img asp-append-version="true"
     src="@(!string.IsNullOrEmpty(user.userPhotoPath) ? "/Images/GeneratedUserImage/" + user.userPhotoPath : "~/Images/UserImage/NoPhoto.png")"
     alt="User Photo">
                        </div>
                    </a>
                    <div class="user-info">
                        <span class="username">@user?.Allias</span>
                        <span class="role-name">@roleName</span>
                    </div>
                    <div class="gg-arrow-down dropdown-arrow" id="dropdownToggle"></div>
                    <div class="user-dropdown-menu" id="userDropdown">
                        <ul>
                            <li class="HoverEffektLi"><a id="log" asp-page="/profile/UserProfile" asp-route-userId="@user?.Id"><span>User Profile</span></a></li>
                            <li class="HoverEffektLi"><a asp-page="/Login/LogOut">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>




            <div class="sidebar-section">
                <h2 class="sidebar-title"><i class="gg-user gap-icon"></i> <span class="sidebar-title-text">Follows</span></h2>
                <ul>
                <li class="HoverEffektLi">
                    <a href="#"> <span>Latest Updates</span>  </a>
                </li>
                    <li class="HoverEffektLi">
                    <a asp-page="/Author/CreateAuthor"> <span>AuthorTest</span>  </a>
                </li>
                    <li class="HoverEffektLi">
                    <a asp-page="/Manga/CreateNewManga"> <span>Create New Book</span>  </a>
                </li>
                </ul>

            </div>
            <div class="sidebar-section">
                <h2 class="sidebar-title"><i class="gg-user gap-icon"></i> <span class="sidebar-title-text">Community</span></h2>

                <ul>
                    <li class="HoverEffektLi">
                        <a href="#"> <span>Forum</span> </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a href="#"><span>Groups</span> </a>
                    </li>
                    @if (UpdaterUser || OwnerUser)
                    {
                        <li class="HoverEffektLi ">

                        <a asp-page="/Roles/UpdateUserRoles">  Users </a>
                        </li>
                    }
                        @if (OwnerUser)
                    {
                        <li class="HoverEffektLi ">

                        <a asp-page="/Register/DeleteUserPage"> Delete User </a>
                        </li>
                    }
                  

                    <li class="HoverEffektLi">
                    <a href="#"> <span>Latest Updates</span>  </a>
                </li>
                
             </ul>
            </div>
          
            <div class="sidebar-section">
                <h2 class="sidebar-title"><i class="gg-user gap-icon"></i> <span class="sidebar-title-text">Otaku Library</span></h2>
             <ul>
                    <li class="HoverEffektLi">
                        <a asp-page="/InfoPages/AboutUs"> <span>About us</span> </a>
                </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/SearchFilter/AdvancedSearch"> <span>Advanced Fileter </span> </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/InfoPages/Rules"> <span>Rules</span> </a>
                </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/InfoPages/Policy"> <span>Privacy Policy</span> </a>
                </li>
                    <li class="HoverEffektLi">
                    <a href="#"> <span>Announcment</span> </a>
                </li>

                </ul>
                 </div>
            <hr>
       


          
            }
            else
            {
            <div class="sidebar-section">
                <h2 class="sidebar-title"><i class="gg-user gap-icon"></i> <span class="sidebar-title-text">Follows</span></h2>
                <ul>
                    <li class="HoverEffektLi">
                        <a href="#"> <span>Latest Updates</span>  </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/Author/CreateAuthor"> <span>AuthorTest</span>  </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/Manga/CreateNewManga"> <span>Create New Book</span>  </a>
                    </li>
                </ul>
            </div>
         
            <div class="sidebar-section">
                <h2 class="sidebar-title"><i class="gg-user gap-icon"></i> <span class="sidebar-title-text">Community</span></h2>

                <ul>
                    <li class="HoverEffektLi">
                        <a href="#"> <span>Forum</span> </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a href="#"><span>Groups</span> </a>
                    </li>
                    <li class="HoverEffektLi ">

                        <a class="" href="#"> Users </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a href="#"> <span>Latest Updates</span>  </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/Login/LoginIndex">
                            <span>Login</span>
                        </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/Register/UserRegister">
                            <span>Register</span>
                        </a>
                    </li>
                 
                </ul>
            </div>
            
            <div class="sidebar-section">
                <h2 class="sidebar-title"><i class="gg-user gap-icon"></i> <span class="sidebar-title-text">Otaku Library</span></h2>
                <ul>
                    <li class="HoverEffektLi">
                        <a asp-page="/InfoPages/AboutUs"> <span>About us</span> </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/SearchFilter/AdvancedSearch"> <span>Advanced Fileter </span> </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/InfoPages/Rules"> <span>Rules</span> </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/InfoPages/Policy"> <span>Privacy Policy</span> </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a href="#"> <span>Announcment</span> </a>
                    </li>
                </ul>
            </div>
            <hr />
            <div class="sidebar-section">
            </div>
            }
      
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

    <script src="~/js/site.js" asp-append-version="true"></script>
   


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>