@page
@model NovelXManga.Pages.Manga.AllMangasModel
@{
  
}

<div>Hello world</div>
@foreach (var Books in Model.GetAllBooks)
{
    
    <div class="row">
    </div>
  

    @if (Books.MangaName != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.MangaName">Title: @Books.MangaName</label>

        </div>
    }
    <div>AssociatedNames: </div>
    <div>
    @if (Books.AssociatedNames != null)
    {
        @foreach (var item in Books.AssociatedNames)
        {

                <label class="form-label" asp-for="@item.nameString"> @item.nameString ,  </label>
          
         
        }
 
    }
    </div>
    <div>Tags: </div>
     @if (Books.TagsModels != null)
    {
       
        @foreach (var item in Books.TagsModels)
        {
           
                <label class="form-label" asp-for="@item.TagName"> @item.TagName",  </label>
        
        }
    }
    <div>Genre: </div>
    @if (Books.GenresModels != null)
    {
        @foreach (var item in Books.GenresModels)
        {
         
                <label class="form-label" asp-for="@item.GenreName"> @item.GenreName",   </label>
        
        }

    }

    @if (Books.Description != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.Description">Description: @Books.Description</label>

        </div>
    }

    @if (Books.ReleaseYear != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.ReleaseYear">Book Release: @Books.ReleaseYear</label>

        </div>
    }
    @if (Books.EndingYear != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.EndingYear">Ending: @Books.EndingYear</label>
        </div>
    }

    @if (Books.ISBN13 != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.ISBN13">ISBN13: @Books.ISBN13</label>

        </div>
    }

    @if (Books.ISBN10 != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.ISBN10">ISBN10: @Books.ISBN10</label>

        </div>
    }

    @if (Books.Type != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.Type">Type: @Books.Type</label>

        </div>
    }

    @if (Books.OriginalPublisher != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.OriginalPublisher">OriginalPublisher: @Books.OriginalPublisher"></label>
        </div>
    }

    @if (Books.OfficialTranslations != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.OfficialTranslations">OfficialTranslations: @Books.OfficialTranslations</label>

        </div>
    }

    @if (Books.OfficalLanguage != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.OfficalLanguage">OfficalLanguage: @Books.OfficalLanguage</label>

        </div>
    }
    @if (Books.orignalWebtoon != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.orignalWebtoon">orignalWebtoon: @Books.orignalWebtoon</label>
        </div>
    }

    @if (Books.StatusInCountryOfOrigin != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.StatusInCountryOfOrigin">StatusInCountryOfOrigin: @Books.StatusInCountryOfOrigin</label>
        </div>
    }
    @if (Books.score != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.score">orignalWebtoon: @Books.score</label>
        </div>
    }
    <div>Artist/s: </div>
    @if (Books.ArtistModels != null)
    {
        @foreach (var item in Books.ArtistModels)
        {
            <div class="mb-3">
                <label class="form-label" asp-for="@item.FirstName"> @item.FirstName" @item.LastName </label>
            </div>
        }
    }
    <div>Author/s: </div>
    @if (Books.Authormodels != null)
    {
        @foreach (var item in Books.Authormodels)
        {
            <div class="mb-3">
                <label class="form-label" asp-for="@item.FirstName"> @item.FirstName" @item.LastName </label>
            </div>
        }
    }
    <div>Audio Voice Actor/s: </div>
    @if (Books.VoiceActors != null)
    {
        @foreach (var item in Books.VoiceActors)
        {
            <div class="mb-3">
                <label class="form-label" asp-for="@item.FirstName"> @item.FirstName" @item.LastName </label>
            </div>
        }
    }

    @if (Books.CompletelyTranslated != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.CompletelyTranslated">CompletelyTranslated: @Books.CompletelyTranslated</label>
        </div>
    }

    @if (Books.RecommendedMangaModels != null)
    {
        @foreach (var item in Books.RecommendedMangaModels)
        {
            <div class="mb-3">
                <label class="form-label" asp-for="@item.RecommendedMangaModels">@item.RecommendedMangaModels</label>
            </div>
        }

    }
    @if (Books.relatedSeries != null)
    {
        @foreach (var item in Books.relatedSeries)
        {
            <div class="mb-3">
                <label class="form-label" asp-for="@item.relatedSeries">@item.relatedSeries</label>
            </div>
        }

    }
    @if (Books.futureEvents != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.futureEvents">Future Events: @Books.futureEvents</label>
        </div>
    }

    <div class="form-group row">
        <label asp-for="@Books.PhotoPath" class="col-sm-2 col-form-label">@Books.PhotoPath</label>  <br />
        <div class="col-sm-10">
        </div>
    </div>

}