@page
@model NovelXManga.Pages.Manga.AllMangasModel
@{
  
}

@foreach (var Books in Model.GetAllBooks)
{
    
    <div class="row">
    </div>
  

    @if (Books.MangaName != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.MangaName">Title: @Books.MangaName</label>

        </div>
    }
    @if (Books.PhotoPath != string.Empty){
        <div class="mb-3">
            <img src="@Books.PhotoPath" alt="NoImage" width="100" height="200">

        </div>
    }
    else{
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="BookImage" width="100" height="200">
    }
  
   
    <div>AssociatedNames: </div>
    <div>
    @if (Books.AssociatedNames != null)
    {
        @foreach (var item in Books.AssociatedNames)
        {

                <label class="form-label" asp-for="@item.nameString"> @item.nameString ,  </label>
          
         
        }
 
    }
    </div>
    <div>Tags: </div>
     @if (Books.TagsModels != null)
    {
       
        @foreach (var item in Books.TagsModels)
        {
           
                <label class="form-label" asp-for="@item.TagName"> @item.TagName | </label>
        
        }
    }
    <div>Genre: </div>
    @if (Books.GenresModels != null)
    {
        @foreach (var item in Books.GenresModels)
        {
         
                <label class="form-label" asp-for="@item.GenreName"> @item.GenreName | </label>
        
        }

    }

    @if (Books.Description != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.Description">Description: @Books.Description</label>

        </div>
    }

    @if (Books.ReleaseYear != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.ReleaseYear">Book Release: @Books.ReleaseYear</label>

        </div>
    }
    @if (Books.EndingYear != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.EndingYear">Ending: @Books.EndingYear</label>
        </div>
    }

    @if (Books.ISBN13 != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.ISBN13">ISBN13: @Books.ISBN13</label>

        </div>
    }

    @if (Books.ISBN10 != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.ISBN10">ISBN10: @Books.ISBN10</label>

        </div>
    }

    @if (Books.Type != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.Type">Type: @Books.Type</label>

        </div>
    }

    @if (Books.OriginalPublisher != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.OriginalPublisher">OriginalPublisher: @Books.OriginalPublisher"></label>
        </div>
    }
     <div>Language/s: </div>
    @if (Books.AllLanguages.Count > 0)
    {
        @foreach (var item in Books.AllLanguages)
        {
            <div class="mb-3">
                <label class="form-label" asp-for="@item.LanguageName"> @item.LanguageName" </label>
            </div>
        }
    }
    else
    {
        <p>N/A</p>
    }

    @if (Books.OfficalLanguage != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.OfficalLanguage">OfficalLanguage: @Books.OfficalLanguage</label>

        </div>
    }
    @if (Books.orignalWebtoon != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.orignalWebtoon">orignalWebtoon: @Books.orignalWebtoon</label>
        </div>
    }

    @if (Books.StatusInCountryOfOrigin != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.StatusInCountryOfOrigin">StatusInCountryOfOrigin: @Books.StatusInCountryOfOrigin</label>
        </div>
    }
    @if (Books.score != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.score">orignalWebtoon: @Books.score</label>
        </div>
    }
    <div>Artist/s: </div>
    @if (Books.ArtistModels.Count > 0)
    {
        @foreach (var item in Books.ArtistModels)
        {
            <div class="mb-3">
                <label class="form-label" asp-for="@item.FirstName"> @item.FirstName" @item.LastName </label>
            </div>
        }
    }
    else
    {
        <p>N/A</p>
    }
    <div>Author/s: </div>
    @if (Books.Authormodels.Count > 0)
    {
        @foreach (var item in Books.Authormodels)
        {
            <div class="mb-3">
                <label class="form-label" asp-for="@item.FirstName"> @item.FirstName @item.LastName </label>
            </div>
        }
    }
    else
    {
        <p>N/A</p>
    }
    <div>Audio Voice Actor/s: </div>
    @if (Books.VoiceActors.Count > 0)
    {
        @foreach (var item in Books.VoiceActors)
        {
            <div class="mb-3">
                <label class="form-label" asp-for="@item.FirstName"> @item.FirstName @item.LastName </label>
            </div>
        }
    }

    @if (Books.CompletelyTranslated != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.CompletelyTranslated">CompletelyTranslated: @Books.CompletelyTranslated</label>
        </div>
    }
    <div>Recommended Books: </div>
    @if (Books.RecommendedMangaModels.Count > 0)
    {
        @foreach (var item in Books.RecommendedMangaModels)
        {
           
                <label class="form-label">@item.MangaName</label>
           
        }
    }
    else
    {
        <p>N/A</p>
    }
    <div>Related Books: </div>
    @if (Books.relatedSeries.Count > 0)
    {
        @foreach (var item in Books.relatedSeries)
        {
         
                <label class="form-label" asp-for="@item.relatedSeries">@item.MangaName</label>
         
        }

    }
    else
    {
        <p>N/A</p>
    }
    @if (Books.futureEvents != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Books.futureEvents">Future Events: @Books.futureEvents</label>
        </div>
    }
    <br />
    <hr />


}