
@page
@model NovelXManga.Pages.Manga.Create_new_MangaModel
@{
    var photoPath = "/uploads/" + (@Model._MangaModel?.PhotoPath ?? "NoPhoto.png");

}



<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/CreateBookStyke.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/AdvancedFilter.css" asp-append-version="true" />


<div class="col-sm-12 col-md-12 col-1g-4">
    <form id="create-manga-form" method="post" enctype="multipart/form-data">

                <input hidden asp-for="_MangaModel.MangaID" />
                <input hidden asp-for="_MangaModel.BlogModel" />
                <input hidden asp-for="_MangaModel.BlogModelId" />
        <h3>@Model.SucessFulManga</h3>
              
                <h4>Select Multiple Tags/Genre, least 5</h4>
        <div class="MUS-tag-alignment-container">
        <div class="Mus-Tag-Divider">
            @*        Positive Tag*@

            <div id="selectedTagsSection">
                <span class="MUS-tag-title">Include Tags:</span>
                <span id="selectedTagsList"></span>
            </div>

            <div class="MUS-dropdown">
                <input type="text" id="tagInput" placeholder="Tags">
                <div class="MUS-dropdown-content" id="tagDropdown">
                    @foreach (var tag in Model.Tags ?? new List<TagModel>())
                    {
                            <div class="MUS-tag-genre-item-tag" onclick="document.getElementById('tag-@tag.TagId').click();">
                            <input type="checkbox" class="MUS-hidden-checkbox" id="tag-@tag.TagId" name="SelectedTags" value="@tag.TagId" @(Model.SelectedTags?.Contains(tag.TagId) ?? false ? "checked" : "")>
                            <label class="MUS-tag-label" for="tag-@tag.TagId">@tag.TagName</label>
                        </div>
                    }
                </div>
            </div>

            <div id="hiddenContainer"></div>
        </div></div>
           
          

              <br />
      
        <div class="MUS-BlockGenre">
            <label for="genres" class="GenresTitle">Genres:</label>
            <div class="MUS-genre-container">
                @foreach (var genre in Model.Genres ?? new List<GenresModel>())
                {
                    <div class="MUS-genre" data-genre-id="@genre.GenresId">
                        <input type="checkbox" class="MUS-hidden-checkbox multi-state-checkbox" id="genre-@genre.GenresId" value="@genre.GenresId" @(Model.PositiveSelectedGenres?.Contains(genre.GenresId) ?? false ? "checked" : "")>
                        <label for="genre-@genre.GenresId">@genre.GenreName</label>
                    </div>
                }
            </div>
            <div id="hiddenContainerPositive"></div>
        </div>

                       
                <div class="mb-3">
                    <label class="form-label" asp-for="_MangaModel.MangaName">Manga Title | (Must have, Min 2 char Max 255 Char. </label>
                    <input type="text" asp-for="_MangaModel.MangaName" class="form-control" />
                    <span asp-validation-for="_MangaModel.MangaName" class="text-danger"></span>
                </div>
                   
                <div class="mb-3">
            <label class="form-label" asp-for="_MangaModel.Description">Description | MAX 5000 chars.  </label>
                    <input type="text" asp-for="_MangaModel.Description" class="form-control" />
                    <span asp-validation-for="_MangaModel.Description" class="text-danger"></span>
                </div>

    

        <div class="MUS-tag-alignment-container">
            <div class="Mus-Tag-Divider">
                <div id="selectedRelatedMangaSection">
                    <span class="MUS-tag-title">Include Related Manga:</span>
                    <span id="selectedRelatedMangaList"></span>
                </div>

                <div class="MUS-dropdown">
                    <input type="text" id="relatedMangaInput" placeholder="Related Manga">
                    <div class="MUS-dropdown-content" id="relatedMangaDropdown">
                        @foreach (var manga in Model.RelatedMangaOptions)
                        {
                            <div class="MUS-tag-genre-item" id="RelatedMangaItems"  onclick="document.getElementById('related-manga-@manga.MangaID').click();">
                                <input type="checkbox" class="MUS-hidden-checkbox" id="related-manga-@manga.MangaID" name="SelectedRelatedManga" value="@manga.MangaID" @(Model.SelectedRelatedMangaIds?.Contains(manga.MangaID) ?? false ? "checked" : "")>
                                <label class="MUS-tag-label" for="related-manga-@manga.MangaID">@manga.MangaName</label>
                            </div>
                        }

                    </div>
                </div>

                <div id="hiddenContainerForRelatedManga"></div>
            </div>
        </div>
        <div class="MUS-tag-alignment-container">
            <div class="Mus-Tag-Divider">
                <div id="selectedRecommendedMangaSection">
                    <span class="MUS-tag-title">Include Recommended Manga:</span>
                    <span id="selectedRecommendedMangaList"></span>
                </div>

                <div class="MUS-dropdown">
                    <input type="text" id="recommendedMangaInput" placeholder="Search Recommended Manga">
                    <div class="MUS-dropdown-content" id="recommendedMangaDropdown">
                   
                        @foreach (var manga in Model.RecommendedMangaOptions)
                        {
                            <div class="MUS-tag-genre-item" id="RecommendedMangaItems">
                                <input type="checkbox" class="MUS-hidden-checkbox" id="recommended-manga-@manga.MangaID" name="SelectedRecommendedManga" value="@manga.MangaID" @(Model.SelectedRecommendedMangaIds?.Contains(manga.MangaID) ?? false ? "checked" : "")>
                                <label class="MUS-tag-label" for="recommended-manga-@manga.MangaID">@manga.MangaName</label>
                            </div>
                        }
                    </div>
                </div>

                <div id="hiddenContainerForRecommendedManga"></div>
            </div>
        </div>




 

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.ISBN10">ISBN10 | Must have 10 characters</label>
            <input asp-for="_MangaModel.ISBN10"  class="form-control"  />
    <span asp-validation-for="_MangaModel.ISBN10" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.ISBN13">ISBN13 | must be written example: 332-1234321345 </label>
    <input asp-for="_MangaModel.ISBN13" class="form-control" />
    <span asp-validation-for="_MangaModel.ISBN13" class="text-danger"></span>
</div>

<div class="mb-3">
            <label class="form-label" asp-for="_MangaModel.futureEvents">Future Events | Example: 12 March 2024 Kohai-stadium Anime-Center... MAX 1000 characters</label>
    <input asp-for="_MangaModel.futureEvents" class="form-control" />
    <span asp-validation-for="_MangaModel.futureEvents" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.StatusInCountryOfOrigin">Status in Country of Origin | (max 100 Chars) </label>
    <input asp-for="_MangaModel.StatusInCountryOfOrigin" class="form-control" />
    <span asp-validation-for="_MangaModel.StatusInCountryOfOrigin" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.CompletelyTranslated">Completely Translated | Example: Completed, No, ongoing, Hiatus Ongoing. Max 100 chars. </label>
    <input asp-for="_MangaModel.CompletelyTranslated" class="form-control" />
    <span asp-validation-for="_MangaModel.CompletelyTranslated" class="text-danger"></span>
</div>

<div class="mb-3">
            <label class="form-label" asp-for="_MangaModel.orignalWebtoon">Original Webtoon | Example: Input = https://page.kakao.com/home?seriesId=50870315 </label>
    <input asp-for="_MangaModel.orignalWebtoon" class="form-control" />
    <span asp-validation-for="_MangaModel.orignalWebtoon" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.OriginalPublisher">Original Publisher Example: Kanna IBO , Shounen Jump</label>
    <input asp-for="_MangaModel.OriginalPublisher" class="form-control" />
    <span asp-validation-for="_MangaModel.OriginalPublisher" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.Type">Type | Example: Manga/Manhwa/Novel/Comic etc.</label>
    <input asp-for="_MangaModel.Type" class="form-control" />
    <span asp-validation-for="_MangaModel.Type" class="text-danger"></span>
</div>

               
<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.OfficalLanguage">Official Language Example: Japanese/English</label>
    <input asp-for="_MangaModel.OfficalLanguage" class="form-control" />
    <span asp-validation-for="_MangaModel.OfficalLanguage" class="text-danger"></span>
                </div><p>Not working Yet</p>

        <div class="mb-3">
            <label class="form-label" asp-for="_MangaModel.ReleaseYear">Release Date</label>
            <input asp-for="_MangaModel.ReleaseYear" type="date" class="form-control" />
            <span asp-validation-for="_MangaModel.ReleaseYear" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="_MangaModel.EndingYear">Ending Date</label>
            <input asp-for="_MangaModel.EndingYear" type="date" class="form-control" />
            <span asp-validation-for="_MangaModel.EndingYear" class="text-danger"></span>
        </div>


                <div class="form-group row">
            <label asp-for="Photo" class="col-sm-2 col-form-label">Photo: (Must have a photo)</label>  <br />
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="Photo" class="custom-file-input form-control" />
                           
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <br />
                     
                    </div>
                </div>

                <br />
                <br />
                <div class="mb-3">
                    <button type="submit" id="CreateManga" class="btn btn-primary">Save Book </button>
                </div>

            
            </form>

        </div>

<script src="~/js/CreateMangaScript.js" asp-append-version="true"></script>

<script src="~/js/ShowHideTagsGenres.js" asp-append-version="true"></script>
