
@page
@model NovelXManga.Pages.Manga.Create_new_MangaModel
@{
    var photoPath = "/uploads/" + (@Model._MangaModel?.PhotoPath ?? "NoPhoto.png");

}



<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />




<div class="col-sm-12 col-md-12 col-1g-4">
                <form id="create-manga-form" method=post asp-page-handler="AddBook" enctype="multipart/form-data">
                <input hidden asp-for="_MangaModel.MangaID" />
                <input hidden asp-for="_MangaModel.BlogModel" />
                <input hidden asp-for="_MangaModel.BlogModelId" />
        <h3>@Model.SucessFulManga</h3>
      
         
                <h4>Select Multiple Tags</h4>

        <button type="button" class="btn btn-secondary mb-3" onclick="handleShowHideTags()" >Show/Hide Tags</button>
                <p> Hiding tags not working yet</p>
                <div class="form-group showHideTags">
                    <label for="tags">Tags:</label>
        
                    <div id="HideTagsWhen" class="row hidden-tags">
                        @foreach (var tag in Model.Tags)
                        {
                            if (Model.Tags.IndexOf(tag) % 3 == 0)
                            {
                                @Html.Raw("</div><div class=\"row\">")
                            }
                            <div class="form-check col-md-4">
                                <input type="checkbox" class="form-check-input" id="tag-@tag.TagId" name="selectedTags" value="@tag.TagId" @(Model.SelectedTags != null && Model.SelectedTags.Contains(tag.TagId) ? "checked" : "")>
                                <label class="form-check-label" for="tag-@tag.TagId">@tag.TagName</label>
                            </div>
                        }
                    
                    </div>
            <button type="button" class="btn btn-secondary mb-3" onclick="handleShowHideTags()" >Show/Hide Tags</button>
                </div>

              <br />
        <button type="button" class="btn btn-secondary mb-3" onclick="showHideGenres()">Show/Hide Genres</button>
        <div class="form-group showHideGenre">
            <label for="tags">Genres:</label>

            <div id="HideTagsWhen" class="row hidden-tags">
                @foreach (var genre in Model.Genres)
                {
                    if (Model.Genres.IndexOf(genre) % 3 == 0)
                    {
                        @Html.Raw("</div><div class=\"row\">")
                    }
                    <div class="form-check col-md-4">
                        <input type="checkbox" class="form-check-input" id="tag-@genre.GenresId" name="selectedGenres" value="@genre.GenresId" @(Model.SelectedGenres != null && Model.SelectedGenres.Contains(genre.GenresId) ? "checked" : "")>
                        <label class="form-check-label" for="tag-@genre.GenresId">@genre.GenreName</label>
                    </div>
                }

            </div>
            <button type="button" class="btn btn-secondary mb-3" onclick="showHideGenres()">Show/Hide Genres</button>
        </div>
           
  
             
                <div class="mb-3">
                    <label class="form-label" asp-for="_MangaModel.MangaName">Manga Title</label>
                    <input type="text" asp-for="_MangaModel.MangaName" class="form-control" />
                    <span asp-validation-for="_MangaModel.MangaName" class="text-danger"></span>
                </div>
             
           
                <div class="mb-3">
                    <label class="form-label" asp-for="_MangaModel.Description">Description</label>
                    <input type="text" asp-for="_MangaModel.Description" class="form-control" />
                    <span asp-validation-for="_MangaModel.Description" class="text-danger"></span>
                </div>
                <p>Not working Yet</p>
<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.relatedSeries">Related Series</label>
    <select asp-for="_MangaModel.relatedSeries" class="form-control" multiple>
        @foreach (var manga in Model.MangaModels)
        {
            <option value="@manga.MangaID">@manga.MangaName</option>
        }
    </select>
</div>


<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.ISBN10">ISBN10</label>
    <input asp-for="_MangaModel.ISBN10" class="form-control" />
    <span asp-validation-for="_MangaModel.ISBN10" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.ISBN13">ISBN13</label>
    <input asp-for="_MangaModel.ISBN13" class="form-control" />
    <span asp-validation-for="_MangaModel.ISBN13" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.futureEvents">Future Events</label>
    <input asp-for="_MangaModel.futureEvents" class="form-control" />
    <span asp-validation-for="_MangaModel.futureEvents" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.StatusInCountryOfOrigin">Status in Country of Origin</label>
    <input asp-for="_MangaModel.StatusInCountryOfOrigin" class="form-control" />
    <span asp-validation-for="_MangaModel.StatusInCountryOfOrigin" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.CompletelyTranslated">Completely Translated</label>
    <input asp-for="_MangaModel.CompletelyTranslated" class="form-control" />
    <span asp-validation-for="_MangaModel.CompletelyTranslated" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.orignalWebtoon">Original Webtoon</label>
    <input asp-for="_MangaModel.orignalWebtoon" class="form-control" />
    <span asp-validation-for="_MangaModel.orignalWebtoon" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.OriginalPublisher">Original Publisher</label>
    <input asp-for="_MangaModel.OriginalPublisher" class="form-control" />
    <span asp-validation-for="_MangaModel.OriginalPublisher" class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.score">Score</label>
    <input asp-for="_MangaModel.score" class="form-control" />
    <span asp-validation-for="_MangaModel.score"  class="text-danger"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.Type">Type</label>
    <input asp-for="_MangaModel.Type" class="form-control" />
    <span asp-validation-for="_MangaModel.Type" class="text-danger"></span>
</div>

               
<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.OfficalLanguage">Official Language</label>
    <input asp-for="_MangaModel.OfficalLanguage" class="form-control" />
    <span asp-validation-for="_MangaModel.OfficalLanguage" class="text-danger"></span>
                </div><p>Not working Yet</p>
    
<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.MonthRead">Month Read</label>
    <input asp-for="_MangaModel.MonthRead" class="form-control" />
    <span asp-validation-for="_MangaModel.MonthRead" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.WeekRead">Week Read</label>
    <input asp-for="_MangaModel.WeekRead" class="form-control" />
    <span asp-validation-for="_MangaModel.WeekRead" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="_MangaModel.YearRead">Year Read</label>
    <input asp-for="_MangaModel.YearRead" class="form-control" />
    <span asp-validation-for="_MangaModel.YearRead" class="text-danger"></span>
</div>
<div class="mb-3">
                    <label class="form-label" asp-for="ReleaseYear">Release Year</label>
    <input asp-for="ReleaseYear" class="form-control" />
                    <span asp-validation-for="ReleaseYear" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="EndingYear">Ending Year</label>
                    <input asp-for="EndingYear" class="form-control" />
                    <span asp-validation-for="EndingYear" class="text-danger"></span>
                </div>



              
            




                <div class="mb-3">
                    <label class="form-label" asp-for="ReleaseYear">Year Released</label>
                    <input type="datetime" asp-for="ReleaseYear" class="form-control" />
                </div>
                <div class="form-group row">
                    <label asp-for="Photo" class="col-sm-2 col-form-label"></label>  <br />
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="Photo" class="custom-file-input form-control" />
                           
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <br />
                     
                    </div>
                </div>

                <br />
                <br />
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Save Book </button>
                </div>

            
            </form>

        </div>


<script src="~/js/ShowHideTagsGenres.js" asp-append-version="true"></script>
