@page
@model NovelXManga.Pages.Manga.CurrentMangaModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<UserModel> UserManager
@inject SignInManager<UserModel> SignInManager
@{
    var user = await UserManager.GetUserAsync(User);
    var UpdaterUser = user != null && await UserManager.IsInRoleAsync(user, "NormalUser");

}



<link rel="stylesheet" href="~/css/CurrentMangaStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <div class="CUS-Content1Ex">
        <div class="CUS-card-ex">
            <div class="CUS-card-image-ex">
                <div class="CUS-blurredbackground ">
                    <img class="CUS-BoxImage CUS-blurimage" src="/Images/GeneratedMangaImage/@Model.CurrentManga.PhotoPath" />
                </div>
                <div class="CUS-manga-img-container">
                    <!-- Manga image -->
                    @if (@Model.CurrentManga.PhotoPath != string.Empty)
                    {
                        <div>
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdatePhoto" asp-route-id="@Model.CurrentManga.MangaID">
                                    <img class="CUS-manga-img" asp-append-version="true" src="~/Images/GeneratedMangaImage/@Model.CurrentManga.PhotoPath" alt="NoImage">
                                </a>
                            }
                            else
                            {
                                <img class="CUS-manga-img" asp-append-version="true" src="~/Images/GeneratedMangaImage/@Model.CurrentManga.PhotoPath" alt="NoImage">
                            }

                        </div>
                    }
                    else
                    {
                        <img class="CUS-manga-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="BookImage">
                    }
                </div>
            <div class="CUS-manga-title CUS-HideTitleCurrentMangaOnSmall">
                    <!-- Manga TITLE -->
                    @if (@Model.CurrentManga.MangaName != null)
                    {
                        <h1 class="">@Model.CurrentManga.MangaName</h1>
                    }
                </div>
            <div class="CUS-AddEditReportCurrentpage">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="CUS-dropdown">
                        <button class="CUS-dropbtn" onclick="toggleDropdown()">Manage Lists</button>
                        <div id="myDropdown" class="CUS-dropdown-content">
                            <!-- Toggle Reading List -->
                            <form method="post" asp-page-handler="AddToReadingList" asp-route-id="@Model.CurrentManga.MangaID">
                                <input type="hidden" asp-for="CurrentManga.MangaID" />
                                <input type="hidden" name="readingListName" value="Reading List" />
                                <button type="submit" class="CUS-dropdown-item">
                                    @if (Model.IsInReadingList)
                                    {
                                        <span>Remove from Library</span>
                                    }
                                    else
                                    {
                                        <span>Add to Library</span>
                                    }
                                </button>
                            </form>
                            <!-- Toggle Completed List -->
                            <form method="post" asp-page-handler="ToggleCompletedList" asp-route-id="@Model.CurrentManga.MangaID">
                                <input type="hidden" asp-for="CurrentManga.MangaID" />
                                <button type="submit" class="CUS-dropdown-item">
                                    @if (Model.IsInCompletedList)
                                    {
                                        <span>Remove from Completed List</span>
                                    }
                                    else
                                    {
                                        <span>Add to Completed List</span>
                                    }
                                </button>
                            </form>
                            <!-- Toggle Dropped List -->
                            <form method="post" asp-page-handler="ToggleDroppedList" asp-route-id="@Model.CurrentManga.MangaID">
                                <input type="hidden" asp-for="CurrentManga.MangaID" />
                                <button type="submit" class="CUS-dropdown-item">
                                    @if (Model.IsInDroppedList)
                                    {
                                        <span>Remove from Dropped List</span>
                                    }
                                    else
                                    {
                                        <span>Add to Dropped List</span>
                                    }
                                </button>
                            </form>
                            <!-- Toggle Favorite List -->
                            <form method="post" asp-page-handler="ToggleFavoriteList" asp-route-id="@Model.CurrentManga.MangaID">
                                <input type="hidden" asp-for="CurrentManga.MangaID" />
                                <button type="submit" class="CUS-dropdown-item">
                                    @if (Model.IsInFavoriteList)
                                    {
                                        <span>Remove from Favorite List</span>
                                    }
                                    else
                                    {
                                        <span>Add to Favorite List</span>
                                    }
                                </button>
                            </form>
                            <!-- Toggle Wish List -->
                            <form method="post" asp-page-handler="ToggleWishList" asp-route-id="@Model.CurrentManga.MangaID">
                                <input type="hidden" asp-for="CurrentManga.MangaID" />
                                <button type="submit" class="CUS-dropdown-item">
                                    @if (Model.IsInWishList)
                                    {
                                        <span>Remove from Wish List</span>
                                    }
                                    else
                                    {
                                        <span>Add to Wish List</span>
                                    }
                                </button>
                            </form>
                        </div>
                    </div>
                
                }else {

                    <div class="CUS-dropdown">  <a class="CUS-dropbtn"  asp-page="/Login/LoginIndex">Sign in to manage list</a> </div>
                }

                <!-- Other buttons like Edit and Report can stay outside the dropdown -->
                <div class="CUS-EditSizeCurrentpage">
                    <button type="submit" class="CUS-EditBookButton">Edit</button>
                </div>
                <div class="CUS-ReportSizeCurrentpage">
                    <button type="submit" class="CUS-ReportBookButton">Report</button>
                </div>
            </div>


            </div>
        </div>
    </div>

<div class="CUS-Content1Cost">
    <div class="CUS-commonParentContainer">
      
        <div class="CUS-CurrentMangaTagsContainer">
            <div class="Cus-TitleWhenSmallCurrentManga">
                <!-- Manga TITLE -->
                @if (@Model.CurrentManga.MangaName != null)
                {
                    <h1 class="CUS-ShowTitleOnSmall">@Model.CurrentManga.MangaName</h1>
                }
            </div>
            @if (Model.CurrentManga2.Genres != null)
            {
                @foreach (var item in Model.CurrentManga2.Genres)
                {
                    <div class="CUS-tagsInsideInsideCurrentManga">
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/UpdateGenre" asp-route-id="@Model.CurrentManga.MangaID">
                                @if (item.GenreName == "Adult" || item.GenreName == "Smut" || item.GenreName == "Mature")
                                {
                                    <label class="CUS-CustomWarningLabel">
                                        @item.GenreName
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        @item.GenreName
                                    </label>
                                }
                            </a>
                        }
                        else
                        {      @if (item.GenreName == "Adult" || item.GenreName == "Smut" || item.GenreName == "Mature")
                            {
                                <label class="CUS-CustomWarningLabel">
                                    @item.GenreName
                                </label>
                            }
                            else
                            {
                                <label>
                                    @item.GenreName
                                </label>
                            }   }

                    </div>
                }

            }
            @if (Model.CurrentManga2.Tags != null)
            {
                @foreach (var item in Model.CurrentManga2.Tags)
                {
                    @if (UpdaterUser)
                    {
                        <a asp-page="/MangaUpdates/UpdateTags" asp-route-id="@Model.CurrentManga2.MangaID">
                            <div class="CUS-tagsInsideInsideCurrentManga">

                                @if (item.TagName == "Gore" || item.TagName == "Borderline H" || item.TagName == "Anal Intercourse" ||
                               item.TagName == "Blood and Gore" || item.TagName == "Blackmail" || item.TagName == "Bathroom Intercourse" ||
                               item.TagName == "Child Abuse" || item.TagName == "Double Penetration" || item.TagName == "Fellatio"
                               || item.TagName == "Group Intercourse" || item.TagName == "Gang Rape" || item.TagName == "Futanari"
                               || item.TagName == "Groping" || item.TagName == "Handjob" || item.TagName == "Masturbation"
                               || item.TagName == "Netorare" || item.TagName == "Netor" || item.TagName == "Netori"
                               || item.TagName == "Titty Fuck" || item.TagName == "Paizuri" || item.TagName == "Outdoor Intercourse"
                               || item.TagName == "Panchira" || item.TagName == "Rape" || item.TagName == "School Intercourse"
                               || item.TagName == "Sexual Abuse" || item.TagName == "Sex" || item.TagName == "Sex Toy"
                               || item.TagName == "Sexual Assault" || item.TagName == "Sexual Innuendo" || item.TagName == "Threesome"
                               || item.TagName == "Torture" || item.TagName == "Urination" || item.TagName == "Public Sex"
                               )
                                {
                                    <p class="CUS-CustomHintLabel">
                                        @item.TagName
                                    </p>
                                }
                                else
                                {
                                    <label>
                                        @item.TagName
                                    </label>
                                }

                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="CUS-tagsInsideInsideCurrentManga">

                            @if (item.TagName == "Gore" || item.TagName == "Borderline H" || item.TagName == "Anal Intercourse" ||
                           item.TagName == "Blood and Gore" || item.TagName == "Blackmail" || item.TagName == "Bathroom Intercourse" ||
                           item.TagName == "Child Abuse" || item.TagName == "Double Penetration" || item.TagName == "Fellatio"
                           || item.TagName == "Group Intercourse" || item.TagName == "Gang Rape" || item.TagName == "Futanari"
                           || item.TagName == "Groping" || item.TagName == "Handjob" || item.TagName == "Masturbation"
                           || item.TagName == "Netorare" || item.TagName == "Netor" || item.TagName == "Netori"
                           || item.TagName == "Titty Fuck" || item.TagName == "Paizuri" || item.TagName == "Outdoor Intercourse"
                           || item.TagName == "Panchira" || item.TagName == "Rape" || item.TagName == "School Intercourse"
                           || item.TagName == "Sexual Abuse" || item.TagName == "Sex" || item.TagName == "Sex Toy"
                           || item.TagName == "Sexual Assault" || item.TagName == "Sexual Innuendo" || item.TagName == "Threesome"
                           || item.TagName == "Torture" || item.TagName == "Urination" || item.TagName == "Public Sex"
                           )
                            {
                                <p class="CUS-CustomHintLabel">
                                    @item.TagName
                                </p>
                            }
                            else
                            {
                                <label>
                                    @item.TagName
                                </label>
                            }

                        </div>
                    }

                }
            }
         
        </div> 
        <div class="scoreAndMangaInfoContainer">
            <div class="scoreArea">
                <div class="ratingStars">
                    <div class="CUS-MangaInputText">
                        <span>     @Model.CurrentManga.OverAllBookScore  <i class="fas fa-star active colorstarCurrent"></i> </span>
                    </div>
                </div>
                <div class="scoreDistribution">
                    <div class="starrating-container">
                        <div class="inner">
                            <div class="rating-staringy">
                                <span class="rating-num">@Model.CurrentManga.OverAllBookScore</span>
                                <div class="rating-stars">
                                    @for (var i = 0; i < Model.CurrentManga.OverAllBookScore; i++)
                                    {
                                        <span><i class="fas fa-star active"></i></span>
                                    }
                                    @for (var i = 0; i < (4 - Model.CurrentManga.OverAllBookScore); i++)
                                    {
                                        <span><i class="far fa-star"></i></span>
                                    }
                                </div>
                                <div class="rating-users">
                                    <i class="fas fa-user"></i> @(Model.CurrentManga?.reviews?.Count ?? 0)
                                </div>
                            </div>

                            <div class="CUS-histo">
                                @foreach (var entry in Model.CurrentManga.ScoreDistribution)
                                {

                                    var barId = "bar-";
                                    switch (entry.Key)
                                    {
                                        case 5: barId += "five"; break;
                                        case 4: barId += "four"; break;
                                        case 3: barId += "three"; break;
                                        case 2: barId += "two"; break;
                                        case 1: barId += "one"; break;
                                    }

                                    <div class="@entry.Key histo-rate">
                                        <span class="histo-star">
                                            <i class="fas fa-star active"></i> @entry.Key
                                        </span>
                                        <span class="bar-block">
                                            <span id="@barId" class="bar">
                                                <span>@entry.Value</span>&nbsp;
                                            </span>
                                        </span>
                                    </div>
                                }
                        </div>
                    </div>
                </div>



                        </div>

                    </div>
            <div class="CUS-MangaInputText">
                <span>
                    @Model.ReadingUsersCount &nbsp; <i class="fa-solid fa-book-open-reader book-icon"> </i>
                </span>
            </div>



            <!-- Show Comment Count -->
            <div class="CUS-MangaInputText">
                <span>Rank:#@Model.CurrentManga.Rank</span>
            </div>
                </div>
            </div>



            <!-- Show Add Reading Count -->
          
        </div>

        
   





    <div class="CUS-mangaDetailsWrapper">
         
    <div class="CUS-mangaDetailsBox CUS-bookdescription">
      

            <div class="CUS-MangaContainerInput">

                @if (Model.CurrentManga.Description != null)
                {
                    @if (UpdaterUser)
                    {

                        <a asp-page="/MangaUpdates/UpdateGenre" asp-route-id="@Model.CurrentManga.MangaID">
                            @Model.CurrentManga.Description

                        </a>

                    }
                    else
                    {
                        @Model.CurrentManga.Description
                    }
                }
                else
                {
                    @if (UpdaterUser)
                    {

                        <a asp-page="/MangaUpdates/UpdateGenre" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText"> <p> N/A</p></div>
                        </a>
                    }
                    else
                    {
                    <div class="CUS-MangaInputText"> <p> N/A</p></div>
                    }


                }


            </div>

        </div>
        <div class="CUS-CommonContainer">
         <div class="CUS-LeftSide">
                 @if (Model.CurrentManga.AssociatedNames != null)
        {
        <div class="CUS-LeftSidemangaDetailsBox">

                <h3>Associated names:</h3>
                <div class="CUS-MangaContainerInput">
                    @if (Model.CurrentManga.AssociatedNames != null)
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/CHANGE" asp-route-id="@Model.CurrentManga.MangaID">
                                @foreach (var item in Model.CurrentManga.AssociatedNames)
                                {
                                <div class="CUS-MangaInputText">@item.nameString</div>

                                }
                            </a>
                        }
                        else
                        {
                            @foreach (var item in Model.CurrentManga.AssociatedNames)
                            {
                            <div class="CUS-MangaInputText">@item.nameString</div>

                            }
                        }

                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/CHANGE" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText">
                                    <p>N/A</p>
                                </div>

                            </a>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">
                                <p>N/A</p>
                            </div>
                        }
                    }
                </div>
            </div>
        }
           @if (Model.CurrentManga.BuyPages != null && Model.CurrentManga.BuyPages?.Count > 0)
        {
            <div class="CUS-LeftSidemangaDetailsBox">
                   <h3>Buy At:</h3>
                <div class="CUS-MangaContainerInput">
               

                        @foreach (var item in Model.CurrentManga.BuyPages)
                        {

                            <a href="@item.BuyWebsite">


                                @foreach (var lang in item._Languages)
                                {

                                    <div class="CUS-MangaInputText">

                                        <p>@Html.Raw(lang.FlagUniCode) @lang.LanguageName</p>

                                    </div>

                                }

                            </a>


                        }



                    
                 
            </div>
        </div>
        }
          <div class="CUS-LeftSidemangaDetailsBox">  <h3>Release | Ending</h3>
                <div class="CUS-MangaContainerInput">

                    @if (Model.CurrentManga.ReleaseYear != null)
                    {
                    <div class="CUS-MangaInputText">
                            @Model.CurrentManga.ReleaseYear.Value.ToString("yyyy-MM-dd")
                        </div>
                        if (Model.CurrentManga.EndingYear != null)
                        {
                            <div class="CUS-MangaInputText">
                                @Model.CurrentManga.EndingYear.Value.ToString("yyyy-MM-dd")
                            </div>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">TBA</div>
                        }
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.ReleaseYear" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText">
                                    Release: TBA

                                </div>
                            </a>
                            <a asp-action="@Model.CurrentManga.EndingYear" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    Ending: TBA

                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="CUS-MangaInputText">
                                Release: TBA

                            </div>
                        <div class="CUS-MangaInputText">
                                Ending: TBA
                            </div>
                        }


                    }

                </div> 
              </div>
               <div class="CUS-LeftSidemangaDetailsBox">  
               <h3>Book Type: </h3>
                <div class="CUS-MangaContainerInput">
                     
                    @if (Model.CurrentManga.Type != null)
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText">

                                    @Model.CurrentManga.Type

                                </div>
                            </a>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">
                                @Model.CurrentManga.Type

                            </div>
                        }
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    TBA

                                </div>
                            </a>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">
                                TBA

                            </div>
                        }
                    }
                    <br />


                </div>

            </div>
       
          <div class="CUS-LeftSidemangaDetailsBox">
          
         
         
                <h3>ISBN:</h3>
                <div class="CUS-MangaContainerInput">

                    @if (Model.CurrentManga.ISBN13 != null || Model.CurrentManga.ISBN10 != null)
                    {

                        @if (UpdaterUser)
                        {
                            @if (Model.CurrentManga.ISBN13 != null)
                            {

                            }
                        <div class="CUS-MangaInputText">
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                    ISBN13: @Model.CurrentManga.ISBN13
                                </a>
                            </div>
                            <p>     </p>
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText">
                                    ISBN10: @Model.CurrentManga.ISBN10

                                </div>
                            </a>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">
                                ISBN13: @Model.CurrentManga.ISBN13

                            </div>
                            <p>     </p>
                        <div class="CUS-MangaInputText">
                                ISBN10: @Model.CurrentManga.ISBN10

                            </div>
                        }
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText">
                                    TBA ISBN13
                                </div>
                            </a>
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    TBA ISBN10
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="CUS-MangaInputText">
                                ISBN13: TBA
                            </div>
                        <div class="CUS-MangaInputText">
                                ISBN10: TBA
                            </div>
                        }
                    }


                </div>

         
        </div> 

            <div class="CUS-LeftSidemangaDetailsBox">     <h3>Original Publisher:</h3>
                <div class="CUS-MangaContainerInput">
                    @if (Model.CurrentManga.ISBN13 != null)
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.OriginalPublisher" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    @Model.CurrentManga.OriginalPublisher
                                </div>
                            </a>
                        }
                        else
                        {

                            <div class="CUS-MangaInputText">
                                @Model.CurrentManga.OriginalPublisher
                            </div>

                        }
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.OriginalPublisher" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    OriginalPublisher: N/A
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="CUS-MangaInputText">
                                OriginalPublisher: N/A
                            </div>
                        }


                    }

                </div>
                </div>
                  <div class="CUS-LeftSidemangaDetailsBox">    <h3>Offical Language: </h3>
                <div class="CUS-MangaContainerInput">

                    @if (Model.CurrentManga.OfficalLanguage != null)
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.OfficalLanguage" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText">
                                    @Model.CurrentManga.OfficalLanguage
                                </div>
                            </a>
                        }
                        else
                        {

                        <div class="CUS-MangaInputText">
                                @Model.CurrentManga.OfficalLanguage
                            </div>

                        }
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.OfficalLanguage" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText">
                                    Offical Language: N/A
                                </div>
                            </a>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">
                                Offical Language: N/A
                            </div>
                        }


                    }

                </div>
                </div>
         <div class="CUS-LeftSidemangaDetailsBox">
      
         
                <h3>Studio/s:</h3>
                <div class="CUS-MangaContainerInput">

                    @if (Model.CurrentManga != null && Model.CurrentManga.StudioModels != null && Model.CurrentManga.StudioModels.Count >= 1)
                    {
                        foreach (var item in Model.CurrentManga.StudioModels)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateGenre" asp-route-id="@Model.CurrentManga.MangaID">
                                    <div class="CUS-MangaInputText" asp-for="@item.website">@item.GroupName </div>
                                </a>
                            <div class="CUS-MangaInputText">  <a asp-for="@item.website"> @item.GroupName  || For updater  </a></div>
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(item.GroupName))
                                {
                                <div class="CUS-MangaInputText">  <a asp-for="@item.website"> @item.GroupName  </a></div>
                                }
                            }


                        }
                    }
                    else
                    {
                        @if (@UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.StudioModels" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    TBA

                                </div>
                            </a>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">
                                TBA

                            </div>
                        }
                    }


                </div>

          
        </div>
      @*  LeftSideEndhere*@
         </div>
          @if (Model.CurrentManga2.Characters != null || Model.CurrentManga2.Characters.Count <= 1 && Model.CurrentManga.OverAllBookScore != null)
                {
            <div class="CUS-RightSide">     
                <div class="CUS-mangaDetailsBox">

         

            <div class="GridWrapper">
                @if (Model.CurrentManga2.Characters != null || Model.CurrentManga2.Characters.Count <= 1)
                {
                    @foreach (var character in Model.CurrentManga2.Characters.Take(5))
                    {
                        
                            
                      
                            <div class="CUS-GridItem">
                                <a asp-page="/CharacterPage/CurrentCharacter" asp-route-id="@character.CharacterId">
                                    <img class="GridImage" src="~/Images/GeneratedCharacterImage/@character.PhotoPath" />
                                </a>
                        <div class="CUS-MangaInputText">
                                    <a asp-page="/CharacterPage/CurrentCharacter" asp-route-id="@character.CharacterId">
                                        <input type="hidden" name="characters" value="@character.CharacterId" />
                                        <p>@character.CharacterName</p>
                                    </a>
                                </div>
                            </div>
                       

                    }
                }
                else
                {
                    @if (UpdaterUser)
                    {
                        <a asp-page="/MangaUpdates/AddCharacter" asp-route-id="@Model.CurrentManga2.MangaID">
                        <div class="CUS-MangaInputText">
                                <p>N/A</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="CUS-MangaInputText">
                            <p>N/A</p>
                        </div>
                    }
                }


              

            </div> 
            @if (Model.CurrentManga2.Characters.Count() < 5)
            {

            }
            else
            {
                <hr class="CUS-custom-hr" />
                <button id="loadMoreCharacters" class="CUS-load-more-button" data-manga-id="@Model.CurrentManga2.MangaID">More Characters</button>
            }
            
        </div>
          @if (Model.CurrentManga.OverAllBookScore != null)
        {
        <div class="CUS-mangaDetailsBox">
              
                <div class="CUS-MangaContainerInput">

                    @if (Model.CurrentManga.OverAllBookScore != null)
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/SomethingHere" asp-route-id="@Model.CurrentManga.MangaID">

                                @foreach (var review in Model.ReivewModel.Take(4))
                                {
                                    <div class="UserReview">
                                        <h2>@review.Title</h2>
                                        <h3>By @review.UserModels.FirstOrDefault()?.UserName</h3>
                                        <div>Style Score: @review.StylesScore</div>
                                        <div>Story Score: @review.StoryScore</div>
                                        <div>Grammar Score: @review.GrammarScore</div>
                                        <div>Character Score: @review.CharactersScore</div>
                                        <div>Overall Score: @review.OverAllBookScore</div>
                                        <div class="UserReviewcontent">
                                            @review.Content
                                        </div>
                                    </div>
                                }

                            </a>
                        }
                        else
                        {




                            @foreach (var review in Model.ReivewModel.Take(4))
                            {
                                <div class="UserReview">
                                    <h2>@review.Title</h2>
                                    <h3>By @review.UserModels.FirstOrDefault()?.UserName</h3>
                                    <div>Style Score: @review.StylesScore</div>
                                    <div>Story Score: @review.StoryScore</div>
                                    <div>Grammar Score: @review.GrammarScore</div>
                                    <div>Character Score: @review.CharactersScore</div>
                                    <div>Overall Score: @review.OverAllBookScore</div>
                                    <div class="UserReviewcontent">
                                        @review.Content
                                    </div>
                                </div>
                            }




                        }
                    }


                </div>

            </div>
        }
    @*    RightSideEndsHere*@
</div>

}
</div>



   
  



        @*  Insert here New mangaDetailBox*@


    </div>



@if (SignInManager.IsSignedIn(User))
{
  
        <form method="post" asp-route-id="@Model.CurrentManga.MangaID" asp-page-handler="postTotalScore" class="Content2Cost">
            <div class="CUS-ratingContainer" >
             <div class="CUS-RatingRightSide">   <input type="hidden" id="CurrentManga_MangaID" name="CurrentManga.MangaID" value="@Model.CurrentManga.MangaID" />
              <div class="CUS-ReviewTitleCenter"> 
                  
                  <label class="ReviewTitle" asp-for="_ViewReview.Title">Title</label>       <small id="TitleCount">0/50</small><br />
            <input class="ReviewTitle" type="text" asp-for="_ViewReview.Title" class="form-control" oninput="TitleupdateCount(this.value)" maxlength="50" />
            <span asp-validation-for="_ViewReview.Title" class="text-danger"></span>
            <input hidden asp-for="_ViewReview.Created">
            <input hidden asp-for="_ViewReview.LastUpdated">
            </div>
          
            <div class="fillerClassIc">
                <h3>Content:    <small id="charCount">0/750</small></h3>
                <textarea class="TextAreaCurrentReview" asp-for="_ViewReview.Content" id="content" maxlength="750" oninput="updateCount(this.value)"></textarea>
                <span asp-validation-for="_ViewReview.Content" class="text-danger"></span>
            </div> </div>
                <div class="CUS-ratingLeftSide">   
                <div class="rating-container" data-category="GrammarScore">
                <div class="rating-wrap">
                    <h2>Grammar Rating</h2>
                    <div class="star-center">
                        <h4 id="rating-GrammarScore"></h4>
                        <fieldset class="star-rating-input">
                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star5" name="_ViewReview.GrammarScore" value="5" required>
                            <label for="GrammarScore-star5" class="full" title="Awesome"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star4.5" name="_ViewReview.GrammarScore" value="4.5">
                            <label for="GrammarScore-star4.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star4" name="_ViewReview.GrammarScore" value="4">
                            <label for="GrammarScore-star4" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star3.5" name="_ViewReview.GrammarScore" value="3.5">
                            <label for="GrammarScore-star3.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star3" name="_ViewReview.GrammarScore" value="3">
                            <label for="GrammarScore-star3" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star2.5" name="_ViewReview.GrammarScore" value="2.5">
                            <label for="GrammarScore-star2.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star2" name="_ViewReview.GrammarScore" value="2">
                            <label for="GrammarScore-star2" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star1.5" name="_ViewReview.GrammarScore" value="1.5">
                            <label for="GrammarScore-star1.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star1" name="_ViewReview.GrammarScore" value="1">
                            <label for="GrammarScore-star1" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star0.5" name="_ViewReview.GrammarScore" value="0.5">
                            <label for="GrammarScore-star0.5" class="half"></label>

                        </fieldset>
                    </div>



                </div>
            </div>
            <div class="rating-container" data-category="CharacterScore">
                <div class="rating-wrap">
                    <h2>Character Rating</h2>
                    <div class="star-center">
                        <h4 id="rating-CharacterScore"> </h4>
                        <fieldset class="star-rating-input">
                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star5" name="_ViewReview.CharactersScore" value="5" required>
                            <label for="CharacterScore-star5" class="full" title="Awesome"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star4.5" name="_ViewReview.CharactersScore" value="4.5">
                            <label for="CharacterScore-star4.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star4" name="_ViewReview.CharactersScore" value="4">
                            <label for="CharacterScore-star4" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star3.5" name="_ViewReview.CharactersScore" value="3.5">
                            <label for="CharacterScore-star3.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star3" name="_ViewReview.CharactersScore" value="3">
                            <label for="CharacterScore-star3" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star2.5" name="_ViewReview.CharactersScore" value="2.5">
                            <label for="CharacterScore-star2.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star2" name="_ViewReview.CharactersScore" value="2">
                            <label for="CharacterScore-star2" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star1.5" name="_ViewReview.CharactersScore" value="1.5">
                            <label for="CharacterScore-star1.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star1" name="_ViewReview.CharactersScore" value="1">
                            <label for="CharacterScore-star1" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star0.5" name="_ViewReview.CharactersScore" value="0.5">
                            <label for="CharacterScore-star0.5" class="half"></label>
                        </fieldset>
                    </div>

                </div>
            </div>
            <div class="rating-container" data-category="StoryScore">
                <div class="rating-wrap">
                    <h2>Story Rating</h2>
                    <h4 id="rating-StoryScore"> </h4>
                    <div class="star-center">
                        <fieldset class="star-rating-input">
                            <input type="radio" id="StoryScore-star5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="5" required>
                            <label for="StoryScore-star5" class="full" title="Awesome"></label>

                            <input type="radio" id="StoryScore-star4.5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="4.5">
                            <label for="StoryScore-star4.5" class="half"></label>

                            <input type="radio" id="StoryScore-star4" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="4">
                            <label for="StoryScore-star4" class="full"></label>

                            <input type="radio" id="StoryScore-star3.5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="3.5">
                            <label for="StoryScore-star3.5" class="half"></label>

                            <input type="radio" id="StoryScore-star3" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="3">
                            <label for="StoryScore-star3" class="full"></label>

                            <input type="radio" id="StoryScore-star2.5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="2.5">
                            <label for="StoryScore-star2.5" class="half"></label>

                            <input type="radio" id="StoryScore-star2" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="2">
                            <label for="StoryScore-star2" class="full"></label>

                            <input type="radio" id="StoryScore-star1.5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="1.5">
                            <label for="StoryScore-star1.5" class="half"></label>

                            <input type="radio" id="StoryScore-star1" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="1">
                            <label for="StoryScore-star1" class="full"></label>

                            <input type="radio" id="StoryScore-star0.5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="0.5">
                            <label for="StoryScore-star0.5" class="half"></label>
                        </fieldset>
                    </div>

                </div>
            </div>
            <div class="rating-container" data-category="StyleScore">
                <div class="rating-wrap">
                    <h2>Style Rating</h2>
                    <h4 id="rating-StyleScore"> </h4>
                    <div class="star-center">
                        <fieldset class="star-rating-input">
                            <input type="radio" id="StyleScore-star5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="5" required>
                            <label for="StyleScore-star5" class="full" title="Awesome"></label>

                            <input type="radio" id="StyleScore-star4.5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="4.5">
                            <label for="StyleScore-star4.5" class="half"></label>

                            <input type="radio" id="StyleScore-star4" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="4">
                            <label for="StyleScore-star4" class="full"></label>

                            <input type="radio" id="StyleScore-star3.5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="3.5">
                            <label for="StyleScore-star3.5" class="half"></label>

                            <input type="radio" id="StyleScore-star3" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="3">
                            <label for="StyleScore-star3" class="full"></label>

                            <input type="radio" id="StyleScore-star2.5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="2.5">
                            <label for="StyleScore-star2.5" class="half"></label>

                            <input type="radio" id="StyleScore-star2" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="2">
                            <label for="StyleScore-star2" class="full"></label>

                            <input type="radio" id="StyleScore-star1.5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="1.5">
                            <label for="StyleScore-star1.5" class="half"></label>

                            <input type="radio" id="StyleScore-star1" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="1">
                            <label for="StyleScore-star1" class="full"></label>

                            <input type="radio" id="StyleScore-star0.5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="0.5">
                            <label for="StyleScore-star0.5" class="half"></label>
                        </fieldset>
                    </div>

                </div>
            </div>
           </div>
       
         
        
         
              </div>   <button type="submit">Send</button>
        </form>
      
   
    <div id="popup" class="popup">
        <div class="popup-content">
            <!-- Content will be populated by JavaScript -->
        </div>
    </div>

}
<script>
    var scoreDistribution = @Html.Raw(Json.Serialize(Model.CurrentManga.ScoreDistribution));
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/CurrentManga.js" asp-append-version="true"></script>
<script src="~/js/ScoreDis.js" asp-append-version="true"></script>
<script src="~/js/PopUp.js" asp-append-version="true"></script>
@if (TempData["HarmfulContent"] as bool? == true)
{
    <script>
        showPopup("Harmful content detected/Unrecognized Symbols detected. Please review your input and try again.");
    </script>
}

