@page
@model NovelXManga.Pages.Manga.CurrentMangaModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<UserModel> UserManager
@inject SignInManager<UserModel> SignInManager
@{
    var user = await UserManager.GetUserAsync(User);


    bool CanEditManga(UserModel user)
    {
        if (user == null) return false; // Return false if there is no user logged in

        var allowedRoles = new[] { "Admin", "Owner", "AdminControl", "Updater" };
        return allowedRoles.Any(role => UserManager.IsInRoleAsync(user, role).Result);
    }
    bool showAuthors = Model.CurrentManga2.Authors != null && Model.CurrentManga2.Authors.Any();
    bool showArtists = Model.CurrentManga2.Artists != null && Model.CurrentManga2.Artists.Any();
    bool showVoiceActors = Model.CurrentManga2.VoiceActors != null && Model.CurrentManga2.VoiceActors.Any();

}



<link rel="stylesheet" href="~/css/CurrentMangaStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <div class="CUS-Content1Ex">
        <div class="CUS-card-ex">
            <div class="CUS-card-image-ex">
                <div class="CUS-blurredbackground ">
                <img class="CUS-BoxImage CUS-blurimage" src="/Images/GeneratedMangaImage/@Model.CurrentManga.PhotoPath" onerror="this.onerror=null;this.src='/Images/MangaImage/NoPhoto.png';" />
                </div>
         <div class="CUS-manga-img-container">
  
    @if (!string.IsNullOrEmpty(Model.CurrentManga.PhotoPath))
    {
        <div>
            @if (CanEditManga(user))
            {
              
                <a asp-page="/MangaUpdates/UpdatePhoto" asp-route-id="@Model.CurrentManga.MangaID">
                    <img class="CUS-manga-img" asp-append-version="true" src="~/Images/GeneratedMangaImage/@Model.CurrentManga.PhotoPath" alt="NoImage" onerror="this.onerror=null; this.src='~/Images/MangaImage/NoPhoto.png';">
                </a>
            }
            else
            {
             
                <a href="~/Images/GeneratedMangaImage/@Model.CurrentManga.PhotoPath" target="_blank">
                                <img class="CUS-manga-img" asp-append-version="true" src="~/Images/GeneratedMangaImage/@Model.CurrentManga.PhotoPath" alt="NoImage" onerror="this.onerror=null; this.src='~/Images/MangaImage/NoPhoto.png';">
                </a>
            }
        </div>
    }
    else
    {

                    <img class="CUS-manga-img" src="~/Images/MangaImage/NoPhoto.png" alt="BookImage">
    }
</div>

            <div class="CUS-manga-title CUS-HideTitleCurrentMangaOnSmall">
                    <!-- Manga TITLE -->
                    @if (@Model.CurrentManga.MangaName != null)
                    {
                        <h1 class="">@Model.CurrentManga.MangaName</h1>
                    }
                </div>
            <div class="CUS-AddEditReportCurrentpage">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="CUS-dropdown">
                        <button class="CUS-dropbtn" onclick="toggleDropdown()">Manage Lists</button>
                        <div id="myDropdown" class="CUS-dropdown-content">
                            <!-- Toggle Reading List -->
                            <form method="post" asp-page-handler="AddToReadingList" asp-route-id="@Model.CurrentManga.MangaID">
                                <input type="hidden" asp-for="CurrentManga.MangaID" />
                                <input type="hidden" name="readingListName" value="Reading List" />
                                <button type="submit" class="CUS-dropdown-item">
                                    @if (Model.IsInReadingList)
                                    {
                                        <span>Remove from Library</span>
                                    }
                                    else
                                    {
                                        <span>Add to Library</span>
                                    }
                                </button>
                            </form>
                            <!-- Toggle Completed List -->
                            <form method="post" asp-page-handler="ToggleCompletedList" asp-route-id="@Model.CurrentManga.MangaID">
                                <input type="hidden" asp-for="CurrentManga.MangaID" />
                                <button type="submit" class="CUS-dropdown-item">
                                    @if (Model.IsInCompletedList)
                                    {
                                        <span>Remove from Completed List</span>
                                    }
                                    else
                                    {
                                        <span>Add to Completed List</span>
                                    }
                                </button>
                            </form>
                            <!-- Toggle Dropped List -->
                            <form method="post" asp-page-handler="ToggleDroppedList" asp-route-id="@Model.CurrentManga.MangaID">
                                <input type="hidden" asp-for="CurrentManga.MangaID" />
                                <button type="submit" class="CUS-dropdown-item">
                                    @if (Model.IsInDroppedList)
                                    {
                                        <span>Remove from Dropped List</span>
                                    }
                                    else
                                    {
                                        <span>Add to Dropped List</span>
                                    }
                                </button>
                            </form>
                            <!-- Toggle Favorite List -->
                            <form method="post" asp-page-handler="ToggleFavoriteList" asp-route-id="@Model.CurrentManga.MangaID">
                                <input type="hidden" asp-for="CurrentManga.MangaID" />
                                <button type="submit" class="CUS-dropdown-item">
                                    @if (Model.IsInFavoriteList)
                                    {
                                        <span>Remove from Favorite List</span>
                                    }
                                    else
                                    {
                                        <span>Add to Favorite List</span>
                                    }
                                </button>
                            </form>
                            <!-- Toggle Wish List -->
                            <form method="post" asp-page-handler="ToggleWishList" asp-route-id="@Model.CurrentManga.MangaID">
                                <input type="hidden" asp-for="CurrentManga.MangaID" />
                                <button type="submit" class="CUS-dropdown-item">
                                    @if (Model.IsInWishList)
                                    {
                                        <span>Remove from Wish List</span>
                                    }
                                    else
                                    {
                                        <span>Add to Wish List</span>
                                    }
                                </button>
                            </form>
                        </div>
                    </div>
                
                }else {

                    <div class="CUS-dropdown">  <a class="CUS-dropbtn"  asp-page="/Login/LoginIndex">Sign in to manage list</a> </div>
                }

                <!-- Other buttons like Edit and Report can stay outside the dropdown -->
                @if (CanEditManga(user))
                {
                    <div class="CUS-EditSizeCurrentpage">
                        <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID" class="CUS-EditBookButton">Edit</a>
                    </div>
                }else
                {
                    <div class="CUS-EditSizeCurrentpage">
                        <button class="CUS-EditBookButton">Edit</button>
                    </div>
                }
                
                <div class="CUS-ReportSizeCurrentpage">
                    <button type="submit" class="CUS-ReportBookButton">Report</button>
                </div>
            </div>


            </div>
        </div>
    </div>

<div class="CUS-Content1Cost">
    <div class="CUS-commonParentContainer">
      
        <div class="CUS-CurrentMangaTagsContainer">
            <div class="Cus-TitleWhenSmallCurrentManga">
                <!-- Manga TITLE -->
                @if (@Model.CurrentManga.MangaName != null)
                {
                    <h1 class="CUS-ShowTitleOnSmall">@Model.CurrentManga.MangaName</h1>
                }
            </div>
            @if (Model.CurrentManga2.Genres != null)
            {
                @foreach (var item in Model.CurrentManga2.Genres)
                {
                    <div class="CUS-tagsInsideInsideCurrentManga">
                      @if (CanEditManga(user))
                        {
                            <a asp-page="/MangaUpdates/UpdateTags" asp-route-id="@Model.CurrentManga.MangaID">
                                @if (item.GenreName == "Adult" || item.GenreName == "Smut" || item.GenreName == "Mature")
                                {
                                    <label class="CUS-CustomWarningLabel">
                                        @item.GenreName
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        @item.GenreName
                                    </label>
                                }
                            </a>
                        }
                        else
                        {      @if (item.GenreName == "Adult" || item.GenreName == "Smut" || item.GenreName == "Mature")
                            {
                                <label class="CUS-CustomWarningLabel">
                                    @item.GenreName
                                </label>
                            }
                            else
                            {
                                <label>
                                    @item.GenreName
                                </label>
                            }   }

                    </div>
                }

            }
            @if (Model.CurrentManga2.Tags != null)
            {
                @foreach (var item in Model.CurrentManga2.Tags)
                {
                    @if (CanEditManga(user))
                    {
                        <a asp-page="/MangaUpdates/UpdateTags" asp-route-id="@Model.CurrentManga2.MangaID">
                            <div class="CUS-tagsInsideInsideCurrentManga">

                                @if (item.TagName == "Gore" || item.TagName == "Borderline H" || item.TagName == "Anal Intercourse" ||
                               item.TagName == "Blood and Gore" || item.TagName == "Blackmail" || item.TagName == "Bathroom Intercourse" ||
                               item.TagName == "Child Abuse" || item.TagName == "Double Penetration" || item.TagName == "Fellatio"
                               || item.TagName == "Group Intercourse" || item.TagName == "Gang Rape" || item.TagName == "Futanari"
                               || item.TagName == "Groping" || item.TagName == "Handjob" || item.TagName == "Masturbation"
                               || item.TagName == "Netorare" || item.TagName == "Netor" || item.TagName == "Netori"
                               || item.TagName == "Titty Fuck" || item.TagName == "Paizuri" || item.TagName == "Outdoor Intercourse"
                               || item.TagName == "Panchira" || item.TagName == "Rape" || item.TagName == "School Intercourse"
                               || item.TagName == "Sexual Abuse" || item.TagName == "Sex" || item.TagName == "Sex Toy"
                               || item.TagName == "Sexual Assault" || item.TagName == "Sexual Innuendo" || item.TagName == "Threesome"
                               || item.TagName == "Torture" || item.TagName == "Urination" || item.TagName == "Public Sex"
                               )
                                {
                                    <p class="CUS-CustomHintLabel">
                                        @item.TagName
                                    </p>
                                }
                                else
                                {
                                    <label>
                                        @item.TagName
                                    </label>
                                }

                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="CUS-tagsInsideInsideCurrentManga">

                            @if (item.TagName == "Gore" || item.TagName == "Borderline H" || item.TagName == "Anal Intercourse" ||
                           item.TagName == "Blood and Gore" || item.TagName == "Blackmail" || item.TagName == "Bathroom Intercourse" ||
                           item.TagName == "Child Abuse" || item.TagName == "Double Penetration" || item.TagName == "Fellatio"
                           || item.TagName == "Group Intercourse" || item.TagName == "Gang Rape" || item.TagName == "Futanari"
                           || item.TagName == "Groping" || item.TagName == "Handjob" || item.TagName == "Masturbation"
                           || item.TagName == "Netorare" || item.TagName == "Netor" || item.TagName == "Netori"
                           || item.TagName == "Titty Fuck" || item.TagName == "Paizuri" || item.TagName == "Outdoor Intercourse"
                           || item.TagName == "Panchira" || item.TagName == "Rape" || item.TagName == "School Intercourse"
                           || item.TagName == "Sexual Abuse" || item.TagName == "Sex" || item.TagName == "Sex Toy"
                           || item.TagName == "Sexual Assault" || item.TagName == "Sexual Innuendo" || item.TagName == "Threesome"
                           || item.TagName == "Torture" || item.TagName == "Urination" || item.TagName == "Public Sex"
                           )
                            {
                                <p class="CUS-CustomHintLabel">
                                    @item.TagName
                                </p>
                            }
                            else
                            {
                                <label>
                                    @item.TagName
                                </label>
                            }

                        </div>
                    }

                }
            }
         
        </div> 
        <div class="scoreAndMangaInfoContainer">
            <div class="scoreArea">
                <div class="ratingStars">
                    <div class="CUS-MangaInputText">
                        <span>     @Model.CurrentManga.OverAllBookScore  <i class="fas fa-star active colorstarCurrent"></i> </span>
                    </div>
                </div>
                <div class="scoreDistribution">
                    <div class="starrating-container">
                        <div class="inner">
                            <div class="rating-staringy">
                                <span class="rating-num">@Model.CurrentManga.OverAllBookScore</span>
                                <div class="rating-stars">
                                    @for (var i = 0; i < Model.CurrentManga.OverAllBookScore; i++)
                                    {
                                        <span><i class="fas fa-star active"></i></span>
                                    }
                                    @for (var i = 0; i < (4 - Model.CurrentManga.OverAllBookScore); i++)
                                    {
                                        <span><i class="far fa-star"></i></span>
                                    }
                                </div>
                                <div class="rating-users">
                                    <i class="fas fa-user"></i> @(Model.CurrentManga?.reviews?.Count ?? 0)
                                </div>
                            </div>

                            <div class="CUS-histo">
                                @foreach (var entry in Model.CurrentManga.ScoreDistribution)
                                {

                                    var barId = "bar-";
                                    switch (entry.Key)
                                    {
                                        case 5: barId += "five"; break;
                                        case 4: barId += "four"; break;
                                        case 3: barId += "three"; break;
                                        case 2: barId += "two"; break;
                                        case 1: barId += "one"; break;
                                    }

                                    <div class="@entry.Key histo-rate">
                                        <span class="histo-star">
                                            <i class="fas fa-star active"></i> @entry.Key
                                        </span>
                                        <span class="bar-block">
                                            <span id="@barId" class="bar">
                                                <span>@entry.Value</span>&nbsp;
                                            </span>
                                        </span>
                                    </div>
                                }
                        </div>
                    </div>
                </div>



                        </div>

                    </div>
            <div class="CUS-MangaInputText">
                <span>
                    @Model.ReadingUsersCount &nbsp; <i class="fa-solid fa-book-open-reader book-icon"> </i>
                </span>
            </div>

         


            <!-- Show Comment Count -->
            <div class="CUS-MangaInputText">
                <span>Rank:#@Model.CurrentManga.Rank</span>
            </div>
                </div>
            </div>



            <!-- Show Add Reading Count -->
          
        </div>

        
   





    <div class="CUS-mangaDetailsWrapper">
         
    <div class="CUS-MangaDetaiDescription CUS-bookdescription">
      

            <div class="CUS-MangaDescriptionContainerInput">

                @if (Model.CurrentManga.Description != null)
                {
                @if (CanEditManga(user))
                    {

                    <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                            @Model.CurrentManga.Description

                        </a>

                    }
                else
                    {
                   
                        @Model.CurrentManga.Description
                    }
                }
                else
                {
                @if (CanEditManga(user))
                    {

                        <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText"> <p> N/A</p></div>
                        </a>
                    }
                    else
                    {
                    <div class="CUS-MangaInputText"> <p> N/A</p></div>
                    }


                }


            </div>

        </div>
      <hr class="CUS-DescriptionDiver">
        <div class="CUS-CommonContainer">
         <div class="CUS-LeftSide">
            @if (CanEditManga(user))
            {
                <div class="CUS-LeftSidemangaDetailsBox">

                    <h3>Update</h3>
                    <div class="CUS-MangaContainerInput">


                      <a asp-page="/MangaUpdates/RelatedRecommendedManga" asp-route-id="@Model.CurrentManga.MangaID">
                            
                                    <div class="CUS-MangaInputText">Updated related</div>

                            </a>
                       
                       



                </div>
            </div>
            }

            @if (Model.CurrentManga.AssociatedNames != null && Model.CurrentManga.AssociatedNames.Count > 0)

            {
                <div class="CUS-LeftSidemangaDetailsBox">

                    <h3>Associated names:</h3>
                    <div class="CUS-MangaContainerInput">

                 
                                @foreach (var item in Model.CurrentManga.AssociatedNames)
                                {
                                    <div class="CUS-MangaInputText">@item.nameString</div>

                                }
                          

                       
                     
                    </div>
            </div>
            }
            @if (Model.CurrentManga.OfficalWebsites != null && Model.CurrentManga.OfficalWebsites.Any())
            {
                <div class="CUS-LeftSidemangaDetailsBox">
                    <h3>Official Websites</h3>
                    <div class="CUS-MangaContainerInput">
                        @foreach (var item in Model.CurrentManga.OfficalWebsites)
                        {
                           
                                @if (!string.IsNullOrEmpty(item.OfficalWebsiteString))
                                {
                                    <a href="@item.OfficalWebsiteString" target="_blank">   <div class="CUS-MangaInputText">@item.OfficalWebsiteName</div></a>
                                }
                                @if (!string.IsNullOrEmpty(item.Twitter))
                                {
                                <a href="@item.Twitter" target="_blank"> <div class="CUS-MangaInputText">Twitter</div></a>
                                }
                                @if (!string.IsNullOrEmpty(item.Facebook))
                                {
                                <a href="@item.Facebook" target="_blank"> <div class="CUS-MangaInputText">Facebook</div></a>
                                }
                                @if (!string.IsNullOrEmpty(item.Instagram))
                                {
                                <a href="@item.Instagram" target="_blank"> <div class="CUS-MangaInputText">Instagram</div></a>
                                }
                                @if (!string.IsNullOrEmpty(item.Line))
                                {
                                <a href="@item.Line" target="_blank"> <div class="CUS-MangaInputText">Line</div></a>
                                }
                                @if (!string.IsNullOrEmpty(item.Naver))
                                {
                                <a href="@item.Naver" target="_blank"><div class="CUS-MangaInputText">Naver</div></a>
                                }
                        
                        }
                    </div>
                </div>
            }
            @if (Model.CurrentManga.AllLanguages != null && Model.CurrentManga.AllLanguages.Any())
            {
                <div class="CUS-LeftSidemangaDetailsBox">
                    <h3>Translated Languages:</h3>
                    <div class="CUS-MangaContainerInput">
                        @{
                            DisplayLanguages(Model.CurrentManga);
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="CUS-LeftSidemangaDetailsBox">
                    <h3>Translated Languages:</h3>
                    <div class="CUS-MangaContainerInput">
                        <div class="CUS-MangaInputText">N/A</div>
                    </div>
                </div>
            }

            @functions {
                private void DisplayLanguages(MangaModel manga)
                {
                    // Exclude the official language from the displayed list of translated languages.
                    var translatedLanguages = manga.AllLanguages.Where(lang => lang.LanguageName != manga.OfficalLanguage);

                    if (translatedLanguages.Any())
                    {
                        foreach (var language in translatedLanguages)
                        {
                            <div class="CUS-MangaInputText">@language.LanguageName</div>
                        }
                    }
                    else
                    {
                    // This line runs if there are no translated languages other than the official language
                        <div class="CUS-MangaInputText">Translations not available</div>
                    }
                }
            }
            @if (Model.CurrentManga.BuyPages != null && Model.CurrentManga.BuyPages.Any(bp => bp._Languages != null && bp._Languages.Count > 0))
        {
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Buy At:</h3>
                <div class="CUS-MangaContainerInput">              
                        @foreach (var item in Model.CurrentManga.BuyPages)
                        {

                            <a href="@item.BuyWebsite">


                                @foreach (var lang in item._Languages)
                                {

                                    <div class="CUS-MangaInputText">
                                        <p>@Html.Raw(lang.FlagUniCode) @lang.LanguageName</p>
                                    </div>
                                }
                            </a>
                        }                 
            </div>
        </div>
        }
          
          <div class="CUS-LeftSidemangaDetailsBox">  <h3>Release | Ending</h3>
                <div class="CUS-MangaContainerInput">

                    @if (Model.CurrentManga.ReleaseYear != null)
                    {
                    <div class="CUS-MangaInputText">
                            @Model.CurrentManga.ReleaseYear.Value.ToString("yyyy-MM-dd")
                        </div>
                        if (Model.CurrentManga.EndingYear != null)
                        {
                            <div class="CUS-MangaInputText">
                                @Model.CurrentManga.EndingYear.Value.ToString("yyyy-MM-dd")
                            </div>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">TBA</div>
                        }
                    }
                    else
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText">
                                    Release: TBA

                                </div>
                            </a>
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    Ending: TBA

                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="CUS-MangaInputText">
                                Release: TBA

                            </div>
                        <div class="CUS-MangaInputText">
                                Ending: TBA
                            </div>
                        }


                    }

                </div> 
              </div>
               <div class="CUS-LeftSidemangaDetailsBox">  
               <h3>Book Type: </h3>
                <div class="CUS-MangaContainerInput">
                     
                    @if (Model.CurrentManga.Type != null)
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText">

                                    @Model.CurrentManga.Type

                                </div>
                            </a>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">
                                @Model.CurrentManga.Type

                            </div>
                        }
                    }
                    else
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    TBA

                                </div>
                            </a>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">
                                TBA

                            </div>
                        }
                    }
                    <br />


                </div>

            </div>
             @if (Model.CurrentManga.futureEvents != null ){
          
                 <div class="CUS-LeftSidemangaDetailsBox">  
               <h3>Future Events: </h3>
                <div class="CUS-MangaContainerInput">
                     
                 
                      
                        <div class="CUS-MangaInputText">
                                @Model.CurrentManga.futureEvents

                            </div>
                        
                
              
                    <br />


                </div>

            </div>
          }
   

            <div class="CUS-LeftSidemangaDetailsBox">     <h3>Original Publisher:</h3>
                <div class="CUS-MangaContainerInput">
                    @if (Model.CurrentManga.OriginalPublisher != null)
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-action="@Model.CurrentManga.OriginalPublisher" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    @Model.CurrentManga.OriginalPublisher
                                </div>
                            </a>
                        }
                        else
                        {

                            <div class="CUS-MangaInputText">
                                @Model.CurrentManga.OriginalPublisher
                            </div>

                        }
                    }
                    else
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-action="@Model.CurrentManga.OriginalPublisher" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    N/A
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="CUS-MangaInputText">
                               N/A
                            </div>
                        }


                    }

                </div>
                </div>
                  <div class="CUS-LeftSidemangaDetailsBox">    <h3>Offical Language: </h3>
                <div class="CUS-MangaContainerInput">

                    @if (Model.CurrentManga.OfficalLanguage != null)
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-action="@Model.CurrentManga.OfficalLanguage" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText">
                                    @Model.CurrentManga.OfficalLanguage
                                </div>
                            </a>
                        }
                        else
                        {

                        <div class="CUS-MangaInputText">
                                @Model.CurrentManga.OfficalLanguage
                            </div>

                        }
                    }
                    else
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-action="@Model.CurrentManga.OfficalLanguage" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="CUS-MangaInputText">
                                    N/A
                                </div>
                            </a>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">
                               N/A
                            </div>
                        }


                    }

                </div>
                </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Status:</h3>
                <div class="CUS-MangaContainerInput">
                    @if (Model.CurrentManga.StatusInCountryOfOrigin != null)
                    {
                    
                 @if (CanEditManga(user))
                        {
                            <a asp-action="@Model.CurrentManga.StatusInCountryOfOrigin" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    @Model.CurrentManga.StatusInCountryOfOrigin
                                </div>
                            </a>
                        }
                        else
                        {

                            <div class="CUS-MangaInputText">
                                @Model.CurrentManga.StatusInCountryOfOrigin
                            </div>

                        }
                    }
                    else
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-action="@Model.CurrentManga.StatusInCountryOfOrigin" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                     N/A
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="CUS-MangaInputText">
                                N/A
                            </div>
                        }


                    }

                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Complete Translation:</h3>
                <div class="CUS-MangaContainerInput">
                    @if (Model.CurrentManga.CompletelyTranslated != null)
                    {

                        @if (CanEditManga(user))
                        {
                            <a asp-action="@Model.CurrentManga.CompletelyTranslated" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    @Model.CurrentManga.CompletelyTranslated
                                </div>
                            </a>
                        }
                        else
                        {

                            <div class="CUS-MangaInputText">
                                @Model.CurrentManga.CompletelyTranslated
                            </div>

                        }
                    }
                    else
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-action="@Model.CurrentManga.CompletelyTranslated" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                     N/A
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="CUS-MangaInputText">
                               N/A
                            </div>
                        }


                    }

                </div>
            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
                <h3>Webtoon</h3>
                <div class="CUS-MangaContainerInput">
                    @if (Model.CurrentManga.orignalWebtoon != null && Model.CurrentManga.orignalWebtoon != "N/A")
                    {

                        @if (CanEditManga(user))
                        {
                            <a asp-action="@Model.CurrentManga.orignalWebtoon" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    Webtoon
                                </div>
                            </a>
                        }
                        else
                        {

                            <a href="@Model.CurrentManga.orignalWebtoon">
                                <div class="CUS-MangaInputText">
                                    Homepage
                                </div>
                            </a>

                        }
                    }
                    else
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-action="@Model.CurrentManga.orignalWebtoon" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                  N/A
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="CUS-MangaInputText">
                               N/A
                            </div>
                        }


                    }

                </div>
            </div>
         <div class="CUS-LeftSidemangaDetailsBox">
      
         
                <h3>Studio/s:</h3>
                <div class="CUS-MangaContainerInput">

                    @if (Model.CurrentManga != null && Model.CurrentManga.StudioModels != null && Model.CurrentManga.StudioModels.Count >= 1)
                    {
                        foreach (var item in Model.CurrentManga.StudioModels)
                        {
                            @if (CanEditManga(user))
                            {
                                <a asp-page="/MangaUpdates/UpdateGenre" asp-route-id="@Model.CurrentManga.MangaID">
                                    <div class="CUS-MangaInputText" asp-for="@item.website">@item.GroupName </div>
                                </a>
                            <div class="CUS-MangaInputText">  <a asp-for="@item.website"> @item.GroupName  || For updater  </a></div>
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(item.GroupName))
                                {
                                <div class="CUS-MangaInputText">  <a asp-for="@item.website"> @item.GroupName  </a></div>
                                }
                            }


                        }
                    }
                    else
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-action="@Model.CurrentManga.StudioModels" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    TBA

                                </div>
                            </a>
                        }
                        else
                        {
                        <div class="CUS-MangaInputText">
                                TBA

                            </div>
                        }
                    }


                </div>

          
        </div>
            <div class="CUS-LeftSidemangaDetailsBox">



                <h3>ISBN:</h3>
                <div class="CUS-MangaContainerInput">

                    @if (Model.CurrentManga.ISBN13 != null || Model.CurrentManga.ISBN10 != null)
                    {

                        @if (CanEditManga(user))
                        {
                            @if (Model.CurrentManga.ISBN13 != null)
                            {

                            }
                            <div class="CUS-MangaInputText">
                                <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                    ISBN13: @Model.CurrentManga.ISBN13
                                </a>
                            </div>
                            <p>     </p>
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    ISBN10: @Model.CurrentManga.ISBN10

                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="CUS-MangaInputText">
                                ISBN13: @Model.CurrentManga.ISBN13

                            </div>
                            <p>     </p>
                            <div class="CUS-MangaInputText">
                                ISBN10: @Model.CurrentManga.ISBN10

                            </div>
                        }
                    }
                    else
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    TBA ISBN13
                                </div>
                            </a>
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="CUS-MangaInputText">
                                    TBA ISBN10
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="CUS-MangaInputText">
                                 TBA
                            </div>
                            <div class="CUS-MangaInputText">
                               TBA
                            </div>
                        }
                    }


                </div>


            </div>
         @if (showAuthors)
{
    <div class="CUS-LeftSidemangaDetailsBox">
        <h3>Authors:</h3>
        <div class="CUS-MangaContainerInput">
            @foreach (var author in Model.CurrentManga2.Authors)
            {
                <div class="CUS-MangaInputText">
                    <a asp-page="/Author/CurrentAuthor" asp-route-id="@author.AuthorID">
                        <p>
                            @author.FirstName
                            @(string.IsNullOrEmpty(author.LastName) ? "" : " " + author.LastName)
                        </p>
                    </a>
                </div>
            }
        </div>
    </div>
}

@if (showArtists)
{
    <div class="CUS-LeftSidemangaDetailsBox">
        <h3>Artists:</h3>
        <div class="CUS-MangaContainerInput">
            @foreach (var artist in Model.CurrentManga2.Artists)
            {
                <div class="CUS-MangaInputText">
                    <a asp-page="/Artist/CurrentArtist" asp-route-id="@artist.ArtistId">
                        <p>
                            @artist.FirstName
                            @(string.IsNullOrEmpty(artist.LastName) ? "" : " " + artist.LastName)
                        </p>
                    </a>
                </div>
            }
        </div>
    </div>
}

@if (showVoiceActors)
{
    <div class="CUS-LeftSidemangaDetailsBox">
        <h3>Voice Actors:</h3>
        <div class="CUS-MangaContainerInput">
            @foreach (var voiceActor in Model.CurrentManga2.VoiceActors)
            {
                <div class="CUS-MangaInputText">
                    <a asp-page="/Voice/CurrentVoice" asp-route-id="@voiceActor.VoiceActorId">
                        <p>
                            @voiceActor.FirstName
                            @(string.IsNullOrEmpty(voiceActor.LastName) ? "" : " " + voiceActor.LastName)
                        </p>
                    </a>
                </div>
            }
        </div>
    </div>
}

            @*  LeftSideEndhere*@
         </div>
      
            <div class="CUS-RightSide">
            @if (Model.CurrentManga2.Characters != null && Model.CurrentManga2.Characters.Any())
            {
                <div class="CUS-mangaDetailsBox">


                    <h1> Characters: </h1>
            <div class="GridWrapper">
                @if (Model.CurrentManga2.Characters != null || Model.CurrentManga2.Characters.Count <= 1)
                {
                    @foreach (var character in Model.CurrentManga2.Characters.Take(5))
                    {
                     
                            <div class="CUS-GridItem">
                                <a asp-page="/CharacterPage/CurrentCharacter" asp-route-id="@character.CharacterId">
                                    <img class="GridImage" src="~/Images/GeneratedCharacterImage/@character.PhotoPath" />
                                </a>
                        <div class="CUS-MangaInputText">
                                    <a asp-page="/CharacterPage/CurrentCharacter" asp-route-id="@character.CharacterId">
                                        <input type="hidden" name="characters" value="@character.CharacterId" />
                                        <p>@character.CharacterName</p>
                                    </a>
                                </div>
                            </div>
                       

                    }
                }
                else
                {
                            @if (CanEditManga(user))
                    {
                        <a asp-page="/MangaUpdates/AddCharacter" asp-route-id="@Model.CurrentManga2.MangaID">
                        <div class="CUS-MangaInputText">
                                <p>N/A</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="CUS-MangaInputText">
                            <p>N/A</p>
                        </div>
                    }
                }



            </div> 
            @if (Model.CurrentManga2.Characters.Count() < 5)
            {

            }
            else
            {
                <hr class="CUS-custom-hr" />
                <button id="loadMoreCharacters" class="CUS-load-more-button" data-manga-id="@Model.CurrentManga2.MangaID">More Characters</button>
            }
            
        </div>}
                @if (Model.relatedRecommendedManga.RelatedSeries.Count >= 1)
                {
                    <div class="CUS-mangaDetailsBox">
                        <h1> Related Books:</h1>
                        <div class="GridWrapper">
                            @foreach (var relatedManga in Model.relatedRecommendedManga.RelatedSeries.Take(5))
                        {



                            <div class="CUS-GridItem">
                                <a asp-page="/Manga/CurrentManga" asp-route-id="@relatedManga.MangaID">
                                    <img class="GridImage" src="~/Images/GeneratedMangaImage/@relatedManga.PhotoPath" onerror="this.onerror=null;this.src='/Images/MangaImage/NoPhoto.png';" />
                                </a>
                                <div class="CUS-MangaInputText">
                                    <a asp-page="/Manga/CurrentManga" asp-route-id="@relatedManga.MangaID">
                                        <input type="hidden" name="characters" value="@relatedManga.MangaID" />
                                        <p>@relatedManga.MangaName</p>
                                    </a>
                                </div>
                            </div>


                        }
                        
                        </div>
                    </div>
                }
                @if (Model.relatedRecommendedManga.RecommendedMangaModels.Count >= 1)
                {
                    <div class="CUS-mangaDetailsBox">
                        <h1> Recomended Books:</h1>
                        <div class="GridWrapper">
                            @foreach (var relatedManga in Model.relatedRecommendedManga.RecommendedMangaModels.Take(5))
                            {



                                <div class="CUS-GridItem">
                                    <a asp-page="/Manga/CurrentManga" asp-route-id="@relatedManga.MangaID">
                                    <img class="GridImage" src="~/Images/GeneratedMangaImage/@relatedManga.PhotoPath" onerror="this.onerror=null;this.src='/Images/MangaImage/NoPhoto.png';" />
                                    </a>
                                    <div class="CUS-MangaInputText">
                                        <a asp-page="/Manga/CurrentManga" asp-route-id="@relatedManga.MangaID">
                                            <input type="hidden" name="characters" value="@relatedManga.MangaID" />
                                            <p>@relatedManga.MangaName</p>
                                        </a>
                                    </div>
                                </div>


                            }

                        </div>
                    </div>
                }
              
  
    @*    RightSideEndsHere*@
</div>


</div>
       @if (Model.CurrentManga.OverAllBookScore != null)
        {
     <div class="ReviewPadder">    
        <div class="CUS-mangaDetailsBox ">
              
                <div class="CUS-MangaContainerInput">

                    @if (Model.CurrentManga.OverAllBookScore != null)
                    {
                        @if (CanEditManga(user))
                        {
                            <a asp-page="/MangaUpdates/SomethingHere" asp-route-id="@Model.CurrentManga.MangaID">

                                @foreach (var review in Model.ReivewModel.Take(4))
                                {
                                    @if (review.UserModels.FirstOrDefault()?.IsShadowBanned != true)
                                    {
                                        <div class="UserReview">
                                            <div class="ReviewLeft">
                                                <!-- User's photo -->

                                                <a class="HeadDividerReview" asp-route-userId="@review.UserModels.FirstOrDefault().Id" asp-page="/UserInteractions/UserProfile">


                                                    <img class="CUS-Review-img" asp-append-version="true"
                                                                 src="@(!string.IsNullOrEmpty(user.userPhotoPath) ? "/Images/GeneratedUserImage/" + user.userPhotoPath : "~/Images/UserImage/NoPhoto.png")"
                                                                 alt="User Photo">


                                               

                                                </a><!-- Style Score -->
                                                <div class="Score PresentingReviewScorePadder">
                                                    <span>Style Score:</span>
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= @review.StylesScore)
                                                        {
                                                            <i class="fas fa-star" aria-hidden="true"></i>
                                                        }
                                                        else if (i - @review.StylesScore <= 0.5)
                                                        {
                                                            <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="far fa-star" aria-hidden="true"></i>
                                                        }
                                                    }
                                                </div>
                                                <!-- Story Score -->
                                                <div class="Score PresentingReviewScorePadder">
                                                    <span>Story Score:</span>
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= @review.StoryScore)
                                                        {
                                                            <i class="fas fa-star" aria-hidden="true"></i>
                                                        }
                                                        else if (i - @review.StoryScore <= 0.5)
                                                        {
                                                            <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="far fa-star" aria-hidden="true"></i>
                                                        }
                                                    }
                                                </div>
                                                <!-- Grammar Score -->
                                                <div class="Score PresentingReviewScorePadder">
                                                    <span>Grammar Score:</span>
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= @review.GrammarScore)
                                                        {
                                                            <i class="fas fa-star" aria-hidden="true"></i>
                                                        }
                                                        else if (i - @review.GrammarScore <= 0.5)
                                                        {
                                                            <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="far fa-star" aria-hidden="true"></i>
                                                        }
                                                    }
                                                </div>
                                                <!-- Character Score -->
                                                <div class="Score PresentingReviewScorePadder">
                                                    <span>Character Score:</span>
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= @review.CharactersScore)
                                                        {
                                                            <i class="fas fa-star" aria-hidden="true"></i>
                                                        }
                                                        else if (i - @review.CharactersScore <= 0.5)
                                                        {
                                                            <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="far fa-star" aria-hidden="true"></i>
                                                        }
                                                    }
                                                </div>
                                                <div class="Score PresentingReviewScorePadder">
                                                    <span>Overall Score:</span>
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= @review.OverAllBookScore)
                                                        {
                                                            <i class="fas fa-star" aria-hidden="true"></i>
                                                        }
                                                        else if (i - @review.OverAllBookScore <= 0.5)
                                                        {
                                                            <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="far fa-star" aria-hidden="true"></i>
                                                        }
                                                    }
                                                </div>
                                            </div>

                                            <div class="ReviewRight">

                                                <div class="ReviewRightHeader ">
                                                    <p class="ReviewColor">  By @review.UserModels.FirstOrDefault()?.UserName</p>
                                                  
                                                </div>
                                                <div class="ReviewRightHeader">

                                                    <div class="InlineCreatedUpdatedStyle" > Created: @review.Created.ToString("yyyy-MM-dd")</div>
                                                    @if (review.LastUpdated.HasValue && review.LastUpdated.Value > review.Created.AddSeconds(1))
                                                    {
                                                        <div class="InlineCreatedUpdatedStyle">Last Updated: @review.LastUpdated.Value.ToString("yyyy-MM-dd")</div>
                                                    }
                                                </div>
                                                <div class="ReviewRightHeader ">
                                                    <h2 class="ReviewColor">@review.Title</h2>
                                                </div>


                                                <div class="UserReviewcontent">
                                                    @review.Content
                                                </div>
                                            </div>

                                        </div>
                                    }

                                }


                            </a>
                        }
                        else
                        {




                            @foreach (var review in Model.ReivewModel.Take(4))
                            {
                                 @if (review.UserModels.FirstOrDefault()?.IsShadowBanned != true)
                                      {
                                          <div class="UserReview">
                                        <div class="ReviewLeft">
                                            <!-- User's photo -->
                                            <div class="ReviewImageCenter">
                                                <a id="log" asp-route-userId="@review.UserModels.FirstOrDefault().Id" asp-page="/UserInteractions/UserProfile">
                                                    <img class="CUS-Review-img" src="~/Images/GeneratedUserImage/@review.UserModels.FirstOrDefault()?.userPhotoPath" onerror="this.onerror=null;this.src='~/Images/UserImage/NoPhoto.png';" alt="User Image">
                                                </a>
                                            </div>
                                          <!-- Style Score -->
                                            <div class="Score PresentingReviewScorePadder">
                                                <span>Style Score:</span>
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= @review.StylesScore)
                                                    {
                                                        <i class="fas fa-star" aria-hidden="true"></i>
                                                    }
                                                    else if (i - @review.StylesScore <= 0.5)
                                                    {
                                                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-star" aria-hidden="true"></i>
                                                    }
                                                }
                                            </div>
                                            <!-- Story Score -->
                                            <div class="Score PresentingReviewScorePadder">
                                                <span>Story Score:</span>
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= @review.StoryScore)
                                                    {
                                                        <i class="fas fa-star" aria-hidden="true"></i>
                                                    }
                                                    else if (i - @review.StoryScore <= 0.5)
                                                    {
                                                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-star" aria-hidden="true"></i>
                                                    }
                                                }
                                            </div>
                                            <!-- Grammar Score -->
                                            <div class="Score PresentingReviewScorePadder">
                                                <span>Grammar Score:</span>
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= @review.GrammarScore)
                                                    {
                                                        <i class="fas fa-star" aria-hidden="true"></i>
                                                    }
                                                    else if (i - @review.GrammarScore <= 0.5)
                                                    {
                                                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-star" aria-hidden="true"></i>
                                                    }
                                                }
                                            </div>
                                            <!-- Character Score -->
                                            <div class="Score PresentingReviewScorePadder">
                                                <span>Character Score:</span>
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= @review.CharactersScore)
                                                    {
                                                        <i class="fas fa-star" aria-hidden="true"></i>
                                                    }
                                                    else if (i - @review.CharactersScore <= 0.5)
                                                    {
                                                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-star" aria-hidden="true"></i>
                                                    }
                                                }
                                            </div>
                                            <div class="Score PresentingReviewScorePadder">
                                                <span>Overall Score:</span>
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= @review.OverAllBookScore)
                                                    {
                                                        <i class="fas fa-star" aria-hidden="true"></i>
                                                    }
                                                    else if (i - @review.OverAllBookScore <= 0.5)
                                                    {
                                                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-star" aria-hidden="true"></i>
                                                    }
                                                }
                                            </div>
                                        </div>

                                        <div class="ReviewRight">
                                               
                                            <div class="ReviewRightHeader">

                                                <p class="ReviewColor">  By @review.UserModels.FirstOrDefault()?.UserName</p>
                                            </div>
                                            <div class="ReviewRightHeader">

                                                Created: @review.Created.ToString("yyyy-MM-dd")

                                            </div>
                                            <div class="ReviewRightHeader">
                                                <h2 class="ReviewColor">@review.Title</h2>
                                            </div>
                                            
                                        
                                            <div class="UserReviewcontent">
                                                @review.Content
                                            </div>
                                        </div>
                                 
                                            </div>
                                       }
                                     
                            }




                        }
                    }


                </div>

            </div>
        </div>
   
        }


        @*  Insert here New mangaDetailBox*@


    </div>

<hr class="CUS-DescriptionDiver" />

@if (SignInManager.IsSignedIn(User))
{
  
        <form method="post" asp-route-id="@Model.CurrentManga.MangaID" asp-page-handler="postTotalScore" class="Content2Cost">
            <div class="CUS-ratingContainer" >
             <div class="CUS-RatingRightSide">   <input type="hidden" id="CurrentManga_MangaID" name="CurrentManga.MangaID" value="@Model.CurrentManga.MangaID" />
              <div class="CUS-ReviewTitleCenter"> 
                  
                  <label class="ReviewTitle" asp-for="_ViewReview.Title">Title</label>       <small id="TitleCount">0/50</small><br />
            <input class="ReviewTitle" type="text" asp-for="_ViewReview.Title" class="form-control" oninput="TitleupdateCount(this.value)" maxlength="50" />
            <span asp-validation-for="_ViewReview.Title" class="text-danger"></span>
            <input hidden asp-for="_ViewReview.Created">
            <input hidden asp-for="_ViewReview.LastUpdated">
            </div>
          
            <div class="fillerClassIc">
                <h3>Content:    <small id="charCount">0/750</small></h3>
                <textarea class="TextAreaCurrentReview" asp-for="_ViewReview.Content" id="content" maxlength="750" oninput="updateCount(this.value)"></textarea>
                <span asp-validation-for="_ViewReview.Content" class="text-danger"></span>
            </div> </div>
                <div class="CUS-ratingLeftSide">   
                <div class="rating-container" data-category="GrammarScore">
                <div class="rating-wrap">
                    <h2>Grammar Rating</h2>
                    <div class="star-center">
                        <h4 id="rating-GrammarScore"></h4>
                        <fieldset class="star-rating-input">
                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star5" name="_ViewReview.GrammarScore" value="5" required>
                            <label for="GrammarScore-star5" class="full" title="Awesome"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star4.5" name="_ViewReview.GrammarScore" value="4.5">
                            <label for="GrammarScore-star4.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star4" name="_ViewReview.GrammarScore" value="4">
                            <label for="GrammarScore-star4" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star3.5" name="_ViewReview.GrammarScore" value="3.5">
                            <label for="GrammarScore-star3.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star3" name="_ViewReview.GrammarScore" value="3">
                            <label for="GrammarScore-star3" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star2.5" name="_ViewReview.GrammarScore" value="2.5">
                            <label for="GrammarScore-star2.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star2" name="_ViewReview.GrammarScore" value="2">
                            <label for="GrammarScore-star2" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star1.5" name="_ViewReview.GrammarScore" value="1.5">
                            <label for="GrammarScore-star1.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star1" name="_ViewReview.GrammarScore" value="1">
                            <label for="GrammarScore-star1" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.GrammarScore" id="GrammarScore-star0.5" name="_ViewReview.GrammarScore" value="0.5">
                            <label for="GrammarScore-star0.5" class="half"></label>

                        </fieldset>
                    </div>



                </div>
            </div>
            <div class="rating-container" data-category="CharacterScore">
                <div class="rating-wrap">
                    <h2>Character Rating</h2>
                    <div class="star-center">
                        <h4 id="rating-CharacterScore"> </h4>
                        <fieldset class="star-rating-input">
                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star5" name="_ViewReview.CharactersScore" value="5" required>
                            <label for="CharacterScore-star5" class="full" title="Awesome"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star4.5" name="_ViewReview.CharactersScore" value="4.5">
                            <label for="CharacterScore-star4.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star4" name="_ViewReview.CharactersScore" value="4">
                            <label for="CharacterScore-star4" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star3.5" name="_ViewReview.CharactersScore" value="3.5">
                            <label for="CharacterScore-star3.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star3" name="_ViewReview.CharactersScore" value="3">
                            <label for="CharacterScore-star3" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star2.5" name="_ViewReview.CharactersScore" value="2.5">
                            <label for="CharacterScore-star2.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star2" name="_ViewReview.CharactersScore" value="2">
                            <label for="CharacterScore-star2" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star1.5" name="_ViewReview.CharactersScore" value="1.5">
                            <label for="CharacterScore-star1.5" class="half"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star1" name="_ViewReview.CharactersScore" value="1">
                            <label for="CharacterScore-star1" class="full"></label>

                            <input type="radio" asp-for="_ViewReview.CharactersScore" id="CharacterScore-star0.5" name="_ViewReview.CharactersScore" value="0.5">
                            <label for="CharacterScore-star0.5" class="half"></label>
                        </fieldset>
                    </div>

                </div>
            </div>
            <div class="rating-container" data-category="StoryScore">
                <div class="rating-wrap">
                    <h2>Story Rating</h2>
                    <h4 id="rating-StoryScore"> </h4>
                    <div class="star-center">
                        <fieldset class="star-rating-input">
                            <input type="radio" id="StoryScore-star5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="5" required>
                            <label for="StoryScore-star5" class="full" title="Awesome"></label>

                            <input type="radio" id="StoryScore-star4.5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="4.5">
                            <label for="StoryScore-star4.5" class="half"></label>

                            <input type="radio" id="StoryScore-star4" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="4">
                            <label for="StoryScore-star4" class="full"></label>

                            <input type="radio" id="StoryScore-star3.5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="3.5">
                            <label for="StoryScore-star3.5" class="half"></label>

                            <input type="radio" id="StoryScore-star3" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="3">
                            <label for="StoryScore-star3" class="full"></label>

                            <input type="radio" id="StoryScore-star2.5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="2.5">
                            <label for="StoryScore-star2.5" class="half"></label>

                            <input type="radio" id="StoryScore-star2" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="2">
                            <label for="StoryScore-star2" class="full"></label>

                            <input type="radio" id="StoryScore-star1.5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="1.5">
                            <label for="StoryScore-star1.5" class="half"></label>

                            <input type="radio" id="StoryScore-star1" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="1">
                            <label for="StoryScore-star1" class="full"></label>

                            <input type="radio" id="StoryScore-star0.5" asp-for="_ViewReview.StoryScore" name="_ViewReview.StoryScore" value="0.5">
                            <label for="StoryScore-star0.5" class="half"></label>
                        </fieldset>
                    </div>

                </div>
            </div>
            <div class="rating-container" data-category="StyleScore">
                <div class="rating-wrap">
                    <h2>Style Rating</h2>
                    <h4 id="rating-StyleScore"> </h4>
                    <div class="star-center">
                        <fieldset class="star-rating-input">
                            <input type="radio" id="StyleScore-star5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="5" required>
                            <label for="StyleScore-star5" class="full" title="Awesome"></label>

                            <input type="radio" id="StyleScore-star4.5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="4.5">
                            <label for="StyleScore-star4.5" class="half"></label>

                            <input type="radio" id="StyleScore-star4" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="4">
                            <label for="StyleScore-star4" class="full"></label>

                            <input type="radio" id="StyleScore-star3.5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="3.5">
                            <label for="StyleScore-star3.5" class="half"></label>

                            <input type="radio" id="StyleScore-star3" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="3">
                            <label for="StyleScore-star3" class="full"></label>

                            <input type="radio" id="StyleScore-star2.5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="2.5">
                            <label for="StyleScore-star2.5" class="half"></label>

                            <input type="radio" id="StyleScore-star2" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="2">
                            <label for="StyleScore-star2" class="full"></label>

                            <input type="radio" id="StyleScore-star1.5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="1.5">
                            <label for="StyleScore-star1.5" class="half"></label>

                            <input type="radio" id="StyleScore-star1" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="1">
                            <label for="StyleScore-star1" class="full"></label>

                            <input type="radio" id="StyleScore-star0.5" asp-for="_ViewReview.StylesScore" name="_ViewReview.StylesScore" value="0.5">
                            <label for="StyleScore-star0.5" class="half"></label>
                        </fieldset>
                    </div>

                </div>
            </div>
           </div>


        
        </div>   <button class="CurrentMangaReviewButton" type="submit">Send</button>
        </form>
      
   
    <div id="popup" class="popup">
        <div class="popup-content">
            <!-- Content will be populated by JavaScript -->
        </div>
    </div>

}
<script>
    var scoreDistribution = @Html.Raw(Json.Serialize(Model.CurrentManga.ScoreDistribution));
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/CurrentManga.js" asp-append-version="true"></script>
<script src="~/js/ScoreDis.js" asp-append-version="true"></script>
<script src="~/js/PopUp.js" asp-append-version="true"></script>
@if (TempData["HarmfulContent"] as bool? == true)
{
    <script>
        showPopup("Harmful content detected/Unrecognized Symbols detected. Please review your input and try again.");
    </script>
}

