@page
@model NovelXManga.Pages.Manga.CurrentMangaModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<UserModel> UserManager
@inject SignInManager<UserModel> SignInManager
@{
    var user = await UserManager.GetUserAsync(User);
    var UpdaterUser = user != null && await UserManager.IsInRoleAsync(user, "NormalUser");
   
}

<script>
    var scoreDistribution = @Html.Raw(Json.Serialize(Model.CurrentManga.ScoreDistribution));
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div class="Content1Ex">
        

        <div class="card-ex">
            <div class="card-image-ex">
             
                    <div class="MoveDownIndexWallPapers ">
                        <img class="BoxImage blurimage SpecialBox" src="/Images/MangaImage/@Model.CurrentManga.PhotoPath" />
                    </div>
             
                <div class="manga-img-container">
                    <!-- Manga image goes here -->
                    @if (@Model.CurrentManga.PhotoPath != string.Empty)
                    {
                        <div>
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdatePhoto" asp-route-id="@Model.CurrentManga.MangaID">
                                    <img class="manga-img" asp-append-version="true" src="~/Images/MangaImage/@Model.CurrentManga.PhotoPath" alt="NoImage">
                                </a>
                            }
                            else
                            {
                                <img class="manga-img" asp-append-version="true" src="~/Images/MangaImage/@Model.CurrentManga.PhotoPath" alt="NoImage">
                            }

                        </div>
                    }
                    else
                    {
                        <img class="manga-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="BookImage">
                    }
                </div>
                <div class="manga-title">
                    <!-- Manga title goes here -->
                    @if (@Model.CurrentManga.Authormodels != null)
                    {                                           
                            <h1 class="FontSizeCurrentBook">@Model.CurrentManga.MangaName</h1>                      
                    }
            </div>
          
                <div class="AddEditReportCurrentpage">
                <form method="post" asp-page-handler="AddToReadingList" asp-route-id="@Model.CurrentManga.MangaID" enctype="multipart/form-data">
                    <input type="hidden" asp-for="CurrentManga.MangaID" />
                <div class="AddSizeCurrentpage">
                    
                        <button type="submit" class="AddToReadListButton">
                            @if (Model.IsInReadingList)
                            {
                                <text>Remove From Library</text>
                            }
                            else
                            {
                                <text>Add To Library</text>
                            }
                        </button>

                    </div>
                </form>
                      
                

                    <div class="EditSizeCurrentpage">
                        <button type="submit" class="EditBookButton">
                            Edit
                        </button>
                    </div>
                    <div class="ReportSizeCurrentpage">
                        <button type="submit" class="ReportBookButton">
                            Report
                        </button>
                    </div>
                </div>
          
            </div>

        </div>
   
    </div>
   


 <div class="Content1Cost">

    <div class="commonParentContainer">
        <div class="CurrentMangaTagsContainer">

            @if (Model.CurrentManga.GenresModels != null)
            {
                @foreach (var item in Model.CurrentManga.GenresModels)
                {
                    <div class="tagsInsideInsideCurrentManga">
                        @if (UpdaterUser)
                        {
                                                <a asp-page="/MangaUpdates/UpdateGenre" asp-route-id="@Model.CurrentManga.MangaID">
                                @if (item.GenreName == "Adult" || item.GenreName == "Smut" || item.GenreName == "Mature")
                                {
                                    <label class="CustomWarningLabel">
                                        @item.GenreName
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        @item.GenreName
                                    </label>
                                }
                            </a>
                        }
                        else
                        {      @if (item.GenreName == "Adult" || item.GenreName == "Smut" || item.GenreName == "Mature")
                            {
                                <label class="CustomWarningLabel">
                                    @item.GenreName
                                </label>
                            }
                            else
                            {
                                <label>
                                    @item.GenreName
                                </label>
                            }   }

                    </div>
                }

            }
            @if (Model.CurrentManga.TagsModels != null)
            {
                @foreach (var item in Model.CurrentManga.TagsModels)
                {
                    @if (UpdaterUser)
                    {
                        <a asp-page="/MangaUpdates/UpdateTags" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="tagsInsideInsideCurrentManga">

                                @if (item.TagName == "Gore" || item.TagName == "Borderline H" || item.TagName == "Anal Intercourse" ||
                               item.TagName == "Blood and Gore" || item.TagName == "Blackmail" || item.TagName == "Bathroom Intercourse" ||
                               item.TagName == "Child Abuse" || item.TagName == "Double Penetration" || item.TagName == "Fellatio"
                               || item.TagName == "Group Intercourse" || item.TagName == "Gang Rape" || item.TagName == "Futanari"
                               || item.TagName == "Groping" || item.TagName == "Handjob" || item.TagName == "Masturbation"
                               || item.TagName == "Netorare" || item.TagName == "Netor" || item.TagName == "Netori"
                               || item.TagName == "Titty Fuck" || item.TagName == "Paizuri" || item.TagName == "Outdoor Intercourse"
                               || item.TagName == "Panchira" || item.TagName == "Rape" || item.TagName == "School Intercourse"
                               || item.TagName == "Sexual Abuse" || item.TagName == "Sex" || item.TagName == "Sex Toy"
                               || item.TagName == "Sexual Assault" || item.TagName == "Sexual Innuendo" || item.TagName == "Threesome"
                               || item.TagName == "Torture" || item.TagName == "Urination" || item.TagName == "Public Sex"
                               )
                                {
                                    <p class="CustomHintLabel">
                                        @item.TagName
                                    </p>
                                }
                                else
                                {
                                    <label>
                                        @item.TagName
                                    </label>
                                }

                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="tagsInsideInsideCurrentManga">

                            @if (item.TagName == "Gore" || item.TagName == "Borderline H" || item.TagName == "Anal Intercourse" ||
                           item.TagName == "Blood and Gore" || item.TagName == "Blackmail" || item.TagName == "Bathroom Intercourse" ||
                           item.TagName == "Child Abuse" || item.TagName == "Double Penetration" || item.TagName == "Fellatio"
                           || item.TagName == "Group Intercourse" || item.TagName == "Gang Rape" || item.TagName == "Futanari"
                           || item.TagName == "Groping" || item.TagName == "Handjob" || item.TagName == "Masturbation"
                           || item.TagName == "Netorare" || item.TagName == "Netor" || item.TagName == "Netori"
                           || item.TagName == "Titty Fuck" || item.TagName == "Paizuri" || item.TagName == "Outdoor Intercourse"
                           || item.TagName == "Panchira" || item.TagName == "Rape" || item.TagName == "School Intercourse"
                           || item.TagName == "Sexual Abuse" || item.TagName == "Sex" || item.TagName == "Sex Toy"
                           || item.TagName == "Sexual Assault" || item.TagName == "Sexual Innuendo" || item.TagName == "Threesome"
                           || item.TagName == "Torture" || item.TagName == "Urination" || item.TagName == "Public Sex"
                           )
                            {
                                <p class="CustomHintLabel">
                                    @item.TagName
                                </p>
                            }
                            else
                            {
                                <label>
                                    @item.TagName
                                </label>
                            }

                        </div>
                    }

                }
            }

        </div>

        <div class="RatingAddToLibbBookTypeContainer">
            <div class="scoreArea">
                <div class="ratingStars">
                    <div class="MangaInputText">
                        <span>     @Model.CurrentManga.OverAllBookScore  <i class="fas fa-star active colorstarCurrent"></i> </span>
                    </div>
                </div>
                <div class="scoreDistribution">
                    <div class="starrating-container">
                        <div class="inner">
                            <div class="rating-staringy">
                                <span class="rating-num">@Model.CurrentManga.OverAllBookScore</span>
                                <div class="rating-stars">
                                    @for (var i = 0; i < Model.CurrentManga.OverAllBookScore; i++)
                                    {
                                        <span><i class="fas fa-star active"></i></span>
                                    }
                                    @for (var i = 0; i < (5 - Model.CurrentManga.OverAllBookScore); i++)
                                    {
                                        <span><i class="far fa-star"></i></span>
                                    }
                                </div>
                                <div class="rating-users">
                                    <i class="fas fa-user"></i> @Model.CurrentManga.reviews.Count total
                                </div>
                            </div>

                           <div class="histo">
    @foreach (var entry in Model.CurrentManga.ScoreDistribution)
    {
       
            var barId = "bar-";
            switch (entry.Key)
            {
                case 5: barId += "five"; break;
                case 4: barId += "four"; break;
                case 3: barId += "three"; break;
                case 2: barId += "two"; break;
                case 1: barId += "one"; break;
            }
       
        <div class="@entry.Key histo-rate">
            <span class="histo-star">
                <i class="fas fa-star active"></i> @entry.Key
            </span>
            <span class="bar-block">
                <span id="@barId" class="bar">
                    <span>@entry.Value</span>&nbsp;
                </span>
            </span>
        </div>
    }
</div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Show Add Reading Count -->
            <div class="MangaInputText">
                <span>
                    @Model.ReadingUsersCount &nbsp; <i class="fa-solid fa-book-open-reader book-icon"> </i>
                </span>
            </div> 



            <!-- Show Comment Count -->
            <div class="MangaInputText">
                <span>Comments</span>
            </div>

        </div>
    </div>

      



    <div class="mangaDetailsWrapper">
        <div class="mangaDetailsBox bookdescription">
            <h1>Description <hr/> </h1>
          
            <div class="MangaContainerInput">

                @if (Model.CurrentManga.Description != null)
                {
                    @if (UpdaterUser)
                    {

                        <a asp-page="/MangaUpdates/UpdateGenre" asp-route-id="@Model.CurrentManga.MangaID">
                            @Model.CurrentManga.Description
                            
                        </a>

                    }
                    else
                    {
                        @Model.CurrentManga.Description
                    }
                }
                else
                {
                    @if (UpdaterUser)
                    {

                        <a asp-page="/MangaUpdates/UpdateGenre" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="MangaInputText"> <p> N/A</p></div>
                        </a>
                    }
                    else
                    {
                        <div class="MangaInputText"> <p> N/A</p></div>
                    }


                }


            </div>

        </div>
        <div class="mangaDetailsBox">
            <h1>CHARACTERS: </h1>
         
                <div class="MangaContainerInput">
                @if (Model.CurrentManga.Characters != null || Model.CurrentManga.Characters.Count <= 1)
                { 
                    foreach (var character in Model.CurrentManga.Characters)
                    {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateCharacters" asp-route-id="@Model.CurrentManga.MangaID">
                                    <input type="hidden" name="characters" value="@character.CharacterId" />
                                    <div class="MangaInputText">
                                        <p>@character.CharacterName</p>
                                    </div>
                                </a>
                            }
                            else
                            {                           
                                <div class="MangaInputText">
                                    <p>@character.CharacterName</p>
                                </div>
                        }
                    }
                }
                else
                {
                    @if (UpdaterUser)
                    {
                          <a asp-page="/MangaUpdates/AddCharacter" asp-route-id="@Model.CurrentManga.MangaID">
                        <div class="MangaInputText">
                            <p>N/A</p>
                        </div>
                        </a>
                    }
                    else
                    {
                        <div class="MangaInputText">
                            <p>N/A</p>
                        </div>
                    }               
                }               
            </div>
           
            
        </div>
    @if (Model.CurrentManga.AssociatedNames != null)
        {
            <div class="mangaDetailsBox">

                <h1>ASSOCIATED NAME/S:</h1>
                <div class="MangaContainerInput">
                    @if (Model.CurrentManga.AssociatedNames != null)
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/CHANGE" asp-route-id="@Model.CurrentManga.MangaID">
                                @foreach (var item in Model.CurrentManga.AssociatedNames)
                                {
                                    <div class="MangaInputText">@item.nameString</div>

                                }
                            </a>
                        }
                        else
                        {
                            @foreach (var item in Model.CurrentManga.AssociatedNames)
                            {
                                <div class="MangaInputText">@item.nameString</div>

                            }
                        }
                      
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/CHANGE" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                <p>N/A</p>
                                </div>

                            </a>
                        }
                        else
                        {
                            <div class="MangaInputText">
                                <p>N/A</p>
                            </div>
                        }
                }
                </div>
            </div>
        }
        
  
        <div class="mangaDetailsBox">
            <h1>Buy At:</h1>
            <div class="MangaContainerInput">
                @if (Model.CurrentManga.BuyPages != null)
                {

                    @foreach (var item in Model.CurrentManga.BuyPages)
                    {

                        <a href="@item.BuyWebsite">


                            @foreach (var lang in item._Languages)
                            {

                                <div class="MangaInputText">

                                    <p>@Html.Raw(lang.FlagUniCode) @lang.LanguageName</p>

                                </div>






                            }

                        </a>


                    }



                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </div>


        @if (Model.CurrentManga.OverAllBookScore != null)
        {
            <div class="mangaDetailsBox">
                <h1></h1>
                <div class="MangaContainerInput">

                    @if (Model.CurrentManga.OverAllBookScore != null)
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/SomethingHere" asp-route-id="@Model.CurrentManga.MangaID">

                                @foreach (var review in Model.ReivewModel.Take(4))
                                {
                                    <div class="UserReview">
                                        <h2>@review.Title</h2>
                                        <h3>By @review.UserModels.FirstOrDefault()?.UserName</h3>
                                        <div>Style Score: @review.StylesScore</div>
                                        <div>Story Score: @review.StoryScore</div>
                                        <div>Grammar Score: @review.GrammarScore</div>
                                        <div>Character Score: @review.CharactersScore</div>
                                        <div>Overall Score: @review.OverAllBookScore</div>
                                        <div class="UserReviewcontent">
                                            @review.Content
                                        </div>
                                    </div>
                                }

                            </a>
                        }
                        else
                        {



                    
                                @foreach (var review in Model.ReivewModel.Take(4))
                                {
                                    <div class="UserReview">
                                        <h2>@review.Title</h2>
                                        <h3>By @review.UserModels.FirstOrDefault()?.UserName</h3>
                                        <div>Style Score: @review.StylesScore</div>
                                        <div>Story Score: @review.StoryScore</div>
                                        <div>Grammar Score: @review.GrammarScore</div>
                                        <div>Character Score: @review.CharactersScore</div>
                                        <div>Overall Score: @review.OverAllBookScore</div>
                                        <div class="UserReviewcontent">
                                            @review.Content
                                        </div>
                                    </div>
                                }
                        



                        }
                    }
               

            </div>

        </div>
        }


               <div class="mangaDetailsBox">
            <div class="contentMangaBox-wrapper">
                <h1>Genre/s:</h1>
            <div class="MangaContainerInput">
                    @if (Model.CurrentManga.GenresModels != null)
                    {
                        @foreach (var item in Model.CurrentManga.GenresModels)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateTags" asp-route-id="@Model.CurrentManga.MangaID">
                                    <div class="MangaInputText">
                                        @item.GenreName
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a asp-page="/SearchFilter/AdvancedSearch" asp-route-id="@Model.CurrentManga.GenresModels">
                                    <div class="MangaInputText">
                                        @item.GenreName
                                    </div>
                                </a>

                            }
                        }

                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/UpdateTags" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                    TBA

                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="MangaInputText">
                                TBA

                            </div>
                        }


                    }

            </div>

            </div>
            <div class="contentMangaBox-wrapper">
                <h1>Tag/s:</h1>
                <div class="MangaContainerInput">

                    @if (Model.CurrentManga.TagsModels != null)
                    {
                        @foreach (var item in Model.CurrentManga.TagsModels)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateTags" asp-route-id="@Model.CurrentManga.MangaID">
                                    <div class="MangaInputText">
                                        @item.TagName
                                    </div>
                                </a>
                            }
                            else
                            {
                                  <a asp-page="/SearchFilter/AdvancedSearch" asp-route-id="@Model.CurrentManga.TagsModels">
                                <div class="MangaInputText">
                                        @item.TagName
                                </div>
                                </a>

                            }
                        }
                 
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/UpdateTags" asp-route-id="@Model.CurrentManga.MangaID">
                            <div class="MangaInputText">
                                TBA

                            </div>
                            </a>
                        }
                        else
                        {
                            <div class="MangaInputText">
                                TBA

                            </div>
                        }

                      
                    }
               
                </div>

            </div>
        </div>




   
        <div class="mangaDetailsBox">
            <div class="contentMangaBox-wrapper">
                <h1>Original Publisher:</h1>
                <div class="MangaContainerInput">
                    @if (Model.CurrentManga.ISBN13 != null)
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.OriginalPublisher" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                    @Model.CurrentManga.OriginalPublisher
                                </div>
                            </a>
                        }
                        else
                        {

                            <div class="MangaInputText">
                                @Model.CurrentManga.OriginalPublisher                               
                            </div>

                        }
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.OriginalPublisher" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                   OriginalPublisher: N/A
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="MangaInputText">
                                OriginalPublisher: N/A
                            </div>
                        }


                    }

                </div>

            </div>
            <div class="contentMangaBox-wrapper">
                <h1>Offical Language: </h1>
                <div class="MangaContainerInput">

                    @if (Model.CurrentManga.OfficalLanguage != null)
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.OfficalLanguage" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                    @Model.CurrentManga.OfficalLanguage
                                </div>
                            </a>
                        }
                        else
                        {

                            <div class="MangaInputText">
                                @Model.CurrentManga.OfficalLanguage
                            </div>

                        }
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.OfficalLanguage" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                    Offical Language: N/A
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="MangaInputText">
                                Offical Language: N/A
                            </div>
                        }


                    }

                </div>

            </div>
            <div class="contentMangaBox-wrapper">
                <h1>Studio/s:</h1>
                <div class="MangaContainerInput">

                    @if (Model.CurrentManga != null && Model.CurrentManga.StudioModels != null && Model.CurrentManga.StudioModels.Count >= 1)
                    {
                        foreach (var item in Model.CurrentManga.StudioModels)
                        {
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdateGenre" asp-route-id="@Model.CurrentManga.MangaID">
                                    <div class="MangaInputText" asp-for="@item.website">@item.GroupName </div>
                                </a>
                                <div class="MangaInputText">  <a asp-for="@item.website"> @item.GroupName  || For updater  </a></div>
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(item.GroupName))
                                {
                                    <div class="MangaInputText">  <a asp-for="@item.website"> @item.GroupName  </a></div>
                                }
                            }


                        }
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.StudioModels" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                    TBA

                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="MangaInputText">
                                TBA

                            </div>
                        }
                    }


                </div>

            </div>
        </div>
        <div class="mangaDetailsBox">
            <div class="contentMangaBox-wrapper">
                <h1>Release | Ending</h1>
                <div class="MangaContainerInput">

                    @if (Model.CurrentManga.ReleaseYear != null)
                    {
                        <div class="MangaInputText">
                            @Model.CurrentManga.ReleaseYear.Value.ToString("yyyy-MM-dd")
                        </div>
                        if (Model.CurrentManga.EndingYear != null)
                        {
                            <div class="MangaInputText">
                                @Model.CurrentManga.EndingYear.Value.ToString("yyyy-MM-dd")
                            </div>
                        }
                        else
                        {
                            <div class="MangaInputText">TBA</div>
                        }
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-action="@Model.CurrentManga.ReleaseYear" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                   Release: TBA

                                </div>
                            </a>
                            <a asp-action="@Model.CurrentManga.EndingYear" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                    Ending: TBA

                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="MangaInputText">
                                Release: TBA

                            </div>
                            <div class="MangaInputText">
                                Ending: TBA
                            </div>
                        }


                    }

                </div>

            </div>
            <div class="contentMangaBox-wrapper">
                <h1>Book Type: </h1>
                <div class="MangaContainerInput">
                    @if (Model.CurrentManga.Type != null)
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">

                                    @Model.CurrentManga.Type

                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="MangaInputText">
                                @Model.CurrentManga.Type

                            </div>
                        }
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                    TBA

                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="MangaInputText">
                                TBA

                            </div>
                        }
                    }
                    <br />
                  

                </div>

            </div>
            <div class="contentMangaBox-wrapper">
                <h1>ISBN:</h1>
                <div class="MangaContainerInput">

                    @if (Model.CurrentManga.ISBN13 != null || Model.CurrentManga.ISBN10 != null)
                    {

                        @if (UpdaterUser)
                        {
                            @if (Model.CurrentManga.ISBN13 != null)
                            {

                            }
                            <div class="MangaInputText">
                                <a asp-page ="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                    ISBN13: @Model.CurrentManga.ISBN13
                                </a>
                            </div>
                            <p>     </p>
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                    ISBN10: @Model.CurrentManga.ISBN10

                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="MangaInputText">
                                ISBN13: @Model.CurrentManga.ISBN13

                            </div>
                            <p>     </p>
                            <div class="MangaInputText">
                                ISBN10: @Model.CurrentManga.ISBN10

                            </div>
                        }
                    }
                    else
                    {
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                    TBA ISBN13
                                </div>
                            </a>
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentManga.MangaID">
                                <div class="MangaInputText">
                                    TBA ISBN10
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="MangaInputText">
                                ISBN13: TBA
                            </div>
                            <div class="MangaInputText">
                                ISBN10: TBA
                            </div>
                        }
                    }
                  

                </div>

            </div>
        </div>

        

      @*  Insert here New mangaDetailBox*@
        @if (SignInManager.IsSignedIn(User))
        {
            <form class="" method="post" asp-page-handler="ReviewManga" enctype="multipart/form-data">
                <input type="hidden" id="CurrentManga_MangaID" name="CurrentManga.MangaID" value="@Model.CurrentManga.MangaID" />

                <label class="ReviewTitle" asp-for="_ViewReview.Title">Title</label>       <small id="TitleCount">0/50</small><br />
                <input class="ReviewTitle" type="text" asp-for="_ViewReview.Title" class="form-control" oninput="TitleupdateCount(this.value)" maxlength="50" />
                <span asp-validation-for="_ViewReview.Title" class="text-danger"></span>

                <div class="flex-direction-current">
                    <div class="wrapperRowCurrent">
                        <div class="Skills_">
                            <h3 class="name">Grammar Score</h3>
                            <div class="ratings">
                                <input asp-for="_ViewReview.GrammarScore" type="radio" name="grammar" class="colorsForStars1" value="0.5" />
                                <input asp-for="_ViewReview.GrammarScore" type="radio" name="grammar" class="colorsForStars1" value="1" />
                                <input asp-for="_ViewReview.GrammarScore" type="radio" name="grammar" class="colorsForStars1" value="1.5" />
                                <input asp-for="_ViewReview.GrammarScore" type="radio" name="grammar" class="colorsForStars1" value="2" />
                                <input asp-for="_ViewReview.GrammarScore" type="radio" name="grammar" class="colorsForStars1" value="2.5" />
                                <input asp-for="_ViewReview.GrammarScore" type="radio" name="grammar" class="colorsForStars1" value="3" />
                                <input asp-for="_ViewReview.GrammarScore" type="radio" name="grammar" class="colorsForStars1" value="3.5" />
                                <input asp-for="_ViewReview.GrammarScore" type="radio" name="grammar" class="colorsForStars1" value="4" />
                                <input asp-for="_ViewReview.GrammarScore" type="radio" name="grammar" class="colorsForStars1" value="4.5" />
                                <input asp-for="_ViewReview.GrammarScore" type="radio" name="grammar" class="colorsForStars1" value="5" />

                            </div>
                        </div>
                        <div class="Skills_">
                            <h3 class="name">Story Score</h3>
                            <div class="ratings">
                                <input asp-for="_ViewReview.StoryScore" type="radio" name="story" class="colorsForStars1" value="0.5" />
                                <input asp-for="_ViewReview.StoryScore" type="radio" name="story" class="colorsForStars1" value="1" />
                                <input asp-for="_ViewReview.StoryScore" type="radio" name="story" class="colorsForStars1" value="1.5" />
                                <input asp-for="_ViewReview.StoryScore" type="radio" name="story" class="colorsForStars1" value="2" />
                                <input asp-for="_ViewReview.StoryScore" type="radio" name="story" class="colorsForStars1" value="2.5" />
                                <input asp-for="_ViewReview.StoryScore" type="radio" name="story" class="colorsForStars1" value="3" />
                                <input asp-for="_ViewReview.StoryScore" type="radio" name="story" class="colorsForStars1" value="3.5" />
                                <input asp-for="_ViewReview.StoryScore" type="radio" name="story" class="colorsForStars1" value="4" />
                                <input asp-for="_ViewReview.StoryScore" type="radio" name="story" class="colorsForStars1" value="4.5" />
                                <input asp-for="_ViewReview.StoryScore" type="radio" name="story" class="colorsForStars1" value="5" />
                            </div>
                        </div>

                        <div class="Skills_">
                            <h3 class="name">Style Score</h3>
                            <div class="ratings">
                                <input asp-for="_ViewReview.StylesScore" type="radio" name="style" class="colorsForStars1" value="0.5" />
                                <input asp-for="_ViewReview.StylesScore" type="radio" name="style" class="colorsForStars1" value="1" />
                                <input asp-for="_ViewReview.StylesScore" type="radio" name="style" class="colorsForStars1" value="1.5" />
                                <input asp-for="_ViewReview.StylesScore" type="radio" name="style" class="colorsForStars1" value="2" />
                                <input asp-for="_ViewReview.StylesScore" type="radio" name="style" class="colorsForStars1" value="2.5" />
                                <input asp-for="_ViewReview.StylesScore" type="radio" name="style" class="colorsForStars1" value="3" />
                                <input asp-for="_ViewReview.StylesScore" type="radio" name="style" class="colorsForStars1" value="3.5" />
                                <input asp-for="_ViewReview.StylesScore" type="radio" name="style" class="colorsForStars1" value="4" />
                                <input asp-for="_ViewReview.StylesScore" type="radio" name="style" class="colorsForStars1" value="4.5" />
                                <input asp-for="_ViewReview.StylesScore" type="radio" name="style" class="colorsForStars1" value="5" />
                            </div>
                        </div>

                        <div class="Skills_">
                            <h3 class="name">Character Score</h3>
                            <div class="ratings">
                                <input asp-for="_ViewReview.CharactersScore" type="radio" name="character" class="colorsForStars1" value="0.5" />
                                <input asp-for="_ViewReview.CharactersScore" type="radio" name="character" class="colorsForStars1" value="1" />
                                <input asp-for="_ViewReview.CharactersScore" type="radio" name="character" class="colorsForStars1" value="1.5" />
                                <input asp-for="_ViewReview.CharactersScore" type="radio" name="character" class="colorsForStars1" value="2" />
                                <input asp-for="_ViewReview.CharactersScore" type="radio" name="character" class="colorsForStars1" value="2.5" />
                                <input asp-for="_ViewReview.CharactersScore" type="radio" name="character" class="colorsForStars1" value="3" />
                                <input asp-for="_ViewReview.CharactersScore" type="radio" name="character" class="colorsForStars1" value="3.5" />
                                <input asp-for="_ViewReview.CharactersScore" type="radio" name="character" class="colorsForStars1" value="4" />
                                <input asp-for="_ViewReview.CharactersScore" type="radio" name="character" class="colorsForStars1" value="4.5" />
                                <input asp-for="_ViewReview.CharactersScore" type="radio" name="character" class="colorsForStars1" value="5" />
                            </div>
                        </div>
                    </div>
                    <div class="fillerClassIc">
                        <h3>Content:    <small id="charCount">0/750</small></h3>
                        <textarea class="TextAreaCurrentReview" asp-for="_ViewReview.Content" id="content" maxlength="750" oninput="updateCount(this.value)"></textarea>
                        <span asp-validation-for="_ViewReview.Content" class="text-danger"></span>
                    </div>
                </div>

                <button>Send</button>
            </form>
        }
 
            </div>


</div>

 

      

