@page
@model NovelXManga.Pages.Manga.CurrentMangaModel
@{
}




<form method="post" asp-page-handler="MangaPage" enctype="multipart/form-data" >
    <input type="hidden" id="CurrentManga_MangaID" name="CurrentManga.MangaID" value="11" />
    <div class="Content1Ex">
        <div class="card-ex">
            <div class="card-image-ex">
             
                    <div class="MoveDownIndexWallPapers ">
                        <img class="BoxImage blurimage SpecialBox" src="/Images/MangaImage/@Model.CurrentManga.PhotoPath" />
                    </div>
             
                <div class="manga-img-container">
                    <!-- Manga image goes here -->
                    @if (@Model.CurrentManga.PhotoPath != string.Empty)
                    {
                        <div class="mb-3">
                            <img class="manga-img" asp-append-version="true" src="~/Images/MangaImage/@Model.CurrentManga.PhotoPath" alt="NoImage">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Updater"))
                            {
                                <input type="text" class="HiddenGroup" asp-for="@Model.CurrentManga.PhotoPath" class="form-control" />
                            }
                        </div>
                    }
                    else
                    {
                        <img class="manga-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="BookImage">
                    }
                </div>

                <div class="manga-title">
                    <!-- Manga title goes here -->
                    @if (@Model.CurrentManga.Authormodels != null)
                    {
                        <h1 class="FontSizeCurrentBook">@Model.CurrentManga.MangaName</h1>
                       @* <h1 class="FontSizeCurrentBook">Lorem um is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unk</h1>*@
                      
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Updater"))
                        {
                            <input type="text" class="HiddenGroup" asp-for="@Model.CurrentManga.MangaName" class="form-control" />
                        }
                    }
                </div>
                <div class="AddEditReportCurrentpage">
                  
                    <div class="AddSizeCurrentpage">
                        <button type="submit" class="AddToReadListButton">
                            Add To Library
                        </button>
                    </div>
                    <div class="EditSizeCurrentpage">
                        <button type="submit" class="EditBookButton">
                            Edit
                        </button>
                    </div>
                    <div class="ReportSizeCurrentpage">
                        <button type="submit" class="ReportBookButton">
                            Report
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
   


    <div class="Content1Cost">

        <div class="CurrentMangaTagsContainer">

            @if (Model.CurrentManga.GenresModels != null)
            {
                @foreach (var item in Model.CurrentManga.GenresModels)
                {
                    <div class="tagsInsideInsideCurrentManga">
                        @if (item.GenreName == "Adult" || item.GenreName == "Smut" || item.GenreName == "Mature")
                        {
                            <label class="CustomWarningLabel">
                                @item.GenreName
                            </label>
                        }
                        else
                        {
                            <label>
                                @item.GenreName
                            </label>
                        }
                    </div>
                }
            }
            @if (Model.CurrentManga.TagsModels != null)
            {
                @foreach (var item in Model.CurrentManga.TagsModels)
                {
                    <div class="tagsInsideInsideCurrentManga">

                        @if (item.TagName == "Gore" || item.TagName == "Borderline H" || item.TagName == "Anal Intercourse" ||
                       item.TagName == "Blood and Gore" || item.TagName == "Blackmail" || item.TagName == "Bathroom Intercourse" ||
                       item.TagName == "Child Abuse" || item.TagName == "Double Penetration" || item.TagName == "Fellatio"
                       || item.TagName == "Group Intercourse" || item.TagName == "Gang Rape" || item.TagName == "Futanari"
                       || item.TagName == "Groping" || item.TagName == "Handjob" || item.TagName == "Masturbation"
                       || item.TagName == "Netorare" || item.TagName == "Netor" || item.TagName == "Netori"
                       || item.TagName == "Titty Fuck" || item.TagName == "Paizuri" || item.TagName == "Outdoor Intercourse"
                       || item.TagName == "Panchira" || item.TagName == "Rape" || item.TagName == "School Intercourse"
                       || item.TagName == "Sexual Abuse" || item.TagName == "Sex" || item.TagName == "Sex Toy"
                       || item.TagName == "Sexual Assault" || item.TagName == "Sexual Innuendo" || item.TagName == "Threesome"
                       || item.TagName == "Torture" || item.TagName == "Urination" || item.TagName == "Public Sex"
                      )
                        {
                            <p class="CustomHintLabel">
                                @item.TagName
                            </p>
                        }
                        else
                        {
                            <label>
                                @item.TagName
                            </label>
                        }
                     
                    </div>
                }
            }
        
      
        </div>
  
   

  






</form>
<form method="post" asp-page-handler="RandomManga" asp-page="/MangaUpdates/UpdateCharacters" asp-route-id="@Model.CurrentManga.MangaID">
    @if (Model.CurrentManga.Characters != null)
    {
        foreach (var character in Model.CurrentManga.Characters)
        {    
             <input type="hidden" name="characters" value="@character.CharacterId" />
             <p>@character.CharacterName</p>
        }
    }
            else
            {
                <p>N/A</p>
            }
    <button type="submit">Update Characters</button>
</form>



 
