@page
@model NovelXManga.Pages.Manga.CurrentMangaModel
@{
}




<form method="post" enctype="multipart/form-data">

    <div class="Content1Ex">
        <div class="card-ex">
            <div class="card-image-ex">
             
                    <div class="MoveDownIndexWallPapers ">
                        <img class="BoxImage blurimage SpecialBox" src="/Images/MangaImage/@Model.CurrentManga.PhotoPath" />
                    </div>
             
                <div class="manga-img-container">
                    <!-- Manga image goes here -->
                    @if (@Model.CurrentManga.PhotoPath != string.Empty)
                    {
                        <div class="mb-3">
                            <img class="manga-img" asp-append-version="true" src="~/Images/MangaImage/@Model.CurrentManga.PhotoPath" alt="NoImage">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Updater"))
                            {
                                <input type="text" class="HiddenGroup" asp-for="@Model.CurrentManga.PhotoPath" class="form-control" />
                            }
                        </div>
                    }
                    else
                    {
                        <img class="manga-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="BookImage">
                    }
                </div>

                <div class="manga-title">
                    <!-- Manga title goes here -->
                    @if (@Model.CurrentManga.Authormodels != null)
                    {
                       @* <h1 class="FontSizeCurrentBook">@Model.CurrentManga.MangaName</h1>*@
                        <h1 class="FontSizeCurrentBook">Lorem um is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unk</h1>
                      
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Updater"))
                        {
                            <input type="text" class="HiddenGroup" asp-for="@Model.CurrentManga.MangaName" class="form-control" />
                        }
                    }
                </div>
                <div class="AddEditReportCurrentpage">
                  
                    <div class="AddSizeCurrentpage">
                        <button class="AddToReadListButton">
                            Add To List
                        </button>
                    </div>
                    <div class="EditSizeCurrentpage">
                        <button class="EditBookButton">
                            Edit
                        </button>
                    </div>
                    <div class="ReportSizeCurrentpage">
                        <button class="ReportBookButton">
                            Report
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="Content1Cost">
  <input type="hidden" name="mangaModel.MangaID" value="@Model.CurrentManga.MangaID" />
    <div class="FlexRight">
  
        <div class="profileText">
         
  

                <div class="profileTextGroup">
                     <div class="InfoGroup">
                    <div class="Title">
                        <div class="Info">
                            <span class="icon">Language:   </span><br /><br />
                            <div class="text">
                                @if (Model.CurrentManga.BuyPages != null)
                                {

                                    @foreach (var item in Model.CurrentManga.BuyPages)
                                        {

                                        <a href="@item.BuyWebsite">
                                       

                                            @foreach (var lang in item._Languages)
                                            {



                                                <p>@lang.LanguageName</p>




                                           
                                            }

                                          </a>
                                          

                                    }
                                  
                                      

                                }
                                else
                                {
                            <span>N/A</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="InfoGroup"> 
                        <div class="Title">
                            <div class="Info">
                            <span class="icon">AssociatedNames  </span><br /><br />
                            <span class="text">
                                @if (Model.CurrentManga.AssociatedNames != null)
                                {
                                    @foreach (var item in Model.CurrentManga.AssociatedNames)
                                    {
                                              <p>@item.nameString</p>                                   
                                    }

                                }
                                else
                                {
                                        <span>N/A</span>
                                }
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
   

  







<div>AssociatedNames: </div>

<div> </div>
    @if (Model.CurrentManga.TagsModels != null)
    {

        @foreach (var item in Model.CurrentManga.TagsModels)
        {

                <label class="form-label" asp-for="@item.TagName"> @item.TagName | </label>

        }
    }
<div>Genre: </div>
    @if (Model.CurrentManga.GenresModels != null)
    {
        @foreach (var item in Model.CurrentManga.GenresModels)
        {

                <label class="form-label" asp-for="@item.GenreName"> @item.GenreName | </label>

        }

    }
    <div>studio/s: </div>
    @if (Model.CurrentManga.GenresModels != null)
    {
        @foreach (var item in Model.CurrentManga.StudioModels)
        {
            if (item.website != null)
            {
                            <a asp-for="@item.website"> Studio | </a>
            }
            else
            {
                            <p>N/A</p>
            }


        }

    }

    @if (Model.CurrentManga.Description != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.Description">Description: @Model.CurrentManga.Description</label>

        </div>
    }

    @if (Model.CurrentManga.ReleaseYear != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.ReleaseYear">Book Release: @Model.CurrentManga.ReleaseYear</label>

        </div>
    }
    @if (Model.CurrentManga.EndingYear != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.EndingYear">Ending: @Model.CurrentManga.EndingYear</label>
        </div>
    }

    @if (Model.CurrentManga.ISBN13 != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.ISBN13">ISBN13: @Model.CurrentManga.ISBN13</label>

        </div>
    }

    @if (Model.CurrentManga.ISBN10 != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.ISBN10">ISBN10: @Model.CurrentManga.ISBN10</label>

        </div>
    }

    @if (Model.CurrentManga.Type != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.Type">Type: @Model.CurrentManga.Type</label>

        </div>
    }

    @if (Model.CurrentManga.OriginalPublisher != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.OriginalPublisher">OriginalPublisher: @Model.CurrentManga.OriginalPublisher"</label>
        </div>
    }


    @if (Model.CurrentManga.OfficalLanguage != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.OfficalLanguage">OfficalLanguage: @Model.CurrentManga.OfficalLanguage</label>

        </div>
    }
    @if (Model.CurrentManga.orignalWebtoon != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.orignalWebtoon">orignalWebtoon: @Model.CurrentManga.orignalWebtoon</label>
        </div>
    }

    @if (Model.CurrentManga.StatusInCountryOfOrigin != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.StatusInCountryOfOrigin">StatusInCountryOfOrigin: @Model.CurrentManga.StatusInCountryOfOrigin</label>
        </div>
    }
    @if (Model.CurrentManga.score != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.score">orignalWebtoon: @Model.CurrentManga.score</label>
        </div>
    }
<div>Artist/s: </div>
    @if (Model.CurrentManga.ArtistModels != null)
    {
        @foreach (var item in Model.CurrentManga.ArtistModels)
        {
                <div class="mb-3">
                    <label class="form-label" asp-for="@item.FirstName"> @item.FirstName" @item.LastName </label>
                </div>
        }
    }
    else
    {
        <p>N/A</p>
    }
<div>Author/s: </div>
    @if (Model.CurrentManga.Authormodels != null)
    {
        @foreach (var item in Model.CurrentManga.Authormodels)
        {
                <div class="mb-3">
                    <label class="form-label" asp-for="@item.FirstName"> @item.FirstName @item.LastName </label>
                </div>
        }
    }
    else
    {
        <p>N/A</p>
    }
<div>Audio Voice Actor/s: </div>
    @if (Model.CurrentManga.VoiceActors != null)
    {
        @foreach (var item in Model.CurrentManga.VoiceActors)
        {
                <div class="mb-3">
                    <label class="form-label" asp-for="@item.FirstName"> @item.FirstName @item.LastName </label>
                </div>
        }
    }

    @if (Model.CurrentManga.CompletelyTranslated != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.CompletelyTranslated">CompletelyTranslated: @Model.CurrentManga.CompletelyTranslated</label>
        </div>
    }
<div>Recommended Books: </div>
    @if (Model.CurrentManga.RecommendedMangaModels != null)
    {
        @foreach (var item in Model.CurrentManga.RecommendedMangaModels)
        {

                <label class="form-label">@item.MangaName</label>

        }
    }
    else
    {
        <p>N/A</p>
    }
<div>Related Books: </div>
    @if (Model.CurrentManga.relatedSeries != null)
    {
        @foreach (var item in Model.CurrentManga.relatedSeries)
        {

                <label class="form-label" asp-for="@item.relatedSeries">@item.MangaName</label>

        }

    }
    else
    {
        <p>N/A</p>
    }
    <div>Characters: </div>
 
        
<form method="post" asp-page="/MangaUpdates/UpdateCharacters" asp-route-id="@Model.CurrentManga.MangaID">
    @if (Model.CurrentManga.Characters != null)
    {
        foreach (var character in Model.CurrentManga.Characters)
        {    
             <input type="hidden" name="characters" value="@character.CharacterId" />
             <p>@character.CharacterName</p>
        }
    }
            else
            {
                <p>N/A</p>
            }
    <button type="submit">Update Characters</button>
</form>



 
    @if (Model.CurrentManga.futureEvents != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.futureEvents">Future Events: @Model.CurrentManga.futureEvents</label>
        </div>
        }@if (Model.CurrentManga.BlogModel != null)
        {
            <textarea asp-for="CurrentManga.BlogModel.postsModel">

                    </textarea>
            if (Model.CurrentManga.BlogModel.postsModel != null)
            {
                @foreach (var item in Model.CurrentManga.BlogModel.postsModel)
                {

                    <label class="form-label">@item.postComment</label>

                }
            }
            else
            {
                <p>Post not Responding</p>
            }


        }
        else
        {
            <p>Blog not Responding</p>
        }
    </div>

    </div>
</form>
