@page
@model NovelXManga.Pages.Manga.CurrentMangaModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@{
    var user = await UserManager.GetUserAsync(User);
    var UpdaterUser = user != null && await UserManager.IsInRoleAsync(user, "NormalUser");
}




    <div class="Content1Ex">
        
<form method="post" asp-page-handler="MangaPage" enctype="multipart/form-data" >
    <input type="hidden" id="CurrentManga_MangaID" name="CurrentManga.MangaID" value="11" />
        <div class="card-ex">
            <div class="card-image-ex">
             
                    <div class="MoveDownIndexWallPapers ">
                        <img class="BoxImage blurimage SpecialBox" src="/Images/MangaImage/@Model.CurrentManga.PhotoPath" />
                    </div>
             
                <div class="manga-img-container">
                    <!-- Manga image goes here -->
                    @if (@Model.CurrentManga.PhotoPath != string.Empty)
                    {
                        <div>
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdatePhoto" asp-route-id="@Model.CurrentManga.MangaID">
                                    <img class="manga-img" asp-append-version="true" src="~/Images/MangaImage/@Model.CurrentManga.PhotoPath" alt="NoImage">
                                </a>
                            }
                            else
                            {
                                <img class="manga-img" asp-append-version="true" src="~/Images/MangaImage/@Model.CurrentManga.PhotoPath" alt="NoImage">
                            }

                        </div>
                    }
                    else
                    {
                        <img class="manga-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="BookImage">
                    }
                </div>

                <div class="manga-title">
                    <!-- Manga title goes here -->
                    @if (@Model.CurrentManga.Authormodels != null)
                    {
                       
                       

                      
                            <h1 class="FontSizeCurrentBook">@Model.CurrentManga.MangaName</h1>
                       
                      

                    }
                </div>
                <div class="AddEditReportCurrentpage">
                  
                    <div class="AddSizeCurrentpage">
                        <button type="submit" class="AddToReadListButton">
                            Add To Library
                        </button>
                    </div>
                    <div class="EditSizeCurrentpage">
                        <button type="submit" class="EditBookButton">
                            Edit
                        </button>
                    </div>
                    <div class="ReportSizeCurrentpage">
                        <button type="submit" class="ReportBookButton">
                            Report
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>
    </div>
   


    <div class="Content1Cost">
        <form method="post" asp-page-handler="MangaPageTagGenre" enctype="multipart/form-data" >
    <input type="hidden" id="CurrentManga_MangaID" name="CurrentManga.MangaID" value="11" />
        <div class="CurrentMangaTagsContainer">
           
            @if (Model.CurrentManga.GenresModels != null)
            {
                @foreach (var item in Model.CurrentManga.GenresModels)
                {
                    <div class="tagsInsideInsideCurrentManga">
                        @if (UpdaterUser)
                        {                    <a asp-page="/MangaUpdates/UpdateGenre" asp-route-id="@Model.CurrentManga.MangaID">
                            @if (item.GenreName == "Adult" || item.GenreName == "Smut" || item.GenreName == "Mature")
                            {
                                <label class="CustomWarningLabel">
                                    @item.GenreName
                                </label>
                            }
                            else
                            {
                                <label>
                                    @item.GenreName
                                </label>
                            }</a>
                        }
                        else
                        {      @if (item.GenreName == "Adult" || item.GenreName == "Smut" || item.GenreName == "Mature")
                            {
                                <label class="CustomWarningLabel">
                                    @item.GenreName
                                </label>
                            }
                            else
                            {
                                <label>
                                    @item.GenreName
                                </label>
                            }   }
                  
                    </div>
                }
            
            }
            @if (Model.CurrentManga.TagsModels != null)
            {
                @foreach (var item in Model.CurrentManga.TagsModels)
                {
                    <div class="tagsInsideInsideCurrentManga">

                        @if (item.TagName == "Gore" || item.TagName == "Borderline H" || item.TagName == "Anal Intercourse" ||
                       item.TagName == "Blood and Gore" || item.TagName == "Blackmail" || item.TagName == "Bathroom Intercourse" ||
                       item.TagName == "Child Abuse" || item.TagName == "Double Penetration" || item.TagName == "Fellatio"
                       || item.TagName == "Group Intercourse" || item.TagName == "Gang Rape" || item.TagName == "Futanari"
                       || item.TagName == "Groping" || item.TagName == "Handjob" || item.TagName == "Masturbation"
                       || item.TagName == "Netorare" || item.TagName == "Netor" || item.TagName == "Netori"
                       || item.TagName == "Titty Fuck" || item.TagName == "Paizuri" || item.TagName == "Outdoor Intercourse"
                       || item.TagName == "Panchira" || item.TagName == "Rape" || item.TagName == "School Intercourse"
                       || item.TagName == "Sexual Abuse" || item.TagName == "Sex" || item.TagName == "Sex Toy"
                       || item.TagName == "Sexual Assault" || item.TagName == "Sexual Innuendo" || item.TagName == "Threesome"
                       || item.TagName == "Torture" || item.TagName == "Urination" || item.TagName == "Public Sex"
                      )
                        {
                            <p class="CustomHintLabel">
                                @item.TagName
                            </p>
                        }
                        else
                        {
                            <label>
                                @item.TagName
                            </label>
                        }
                     
                    </div>
                }
            }</div>

    </form>
    <div class="mangaDetailsWrapper">
        <div class="mangaDetailsBox">
            <h1>CHARACTERS: </h1>
            <form method="post" asp-page-handler="RandomManga" asp-page="/MangaUpdates/UpdateCharacters" asp-route-id="@Model.CurrentManga.MangaID">
                <div class="MangaContainerInput">
                @if (Model.CurrentManga.Characters != null || Model.CurrentManga.Characters.Count <= 1)
                { 
                    foreach (var character in Model.CurrentManga.Characters)
                    {
                        <input type="hidden" name="characters" value="@character.CharacterId" />
                            <div class="MangaInputText">
                                <p>@character.CharacterName</p>
                                </div>
                    }
                }
                else
                {
                    <p>N/A</p>
                }
               
            </div>
           
                <button type="submit">Update Characters</button>
            </form>
        </div>
        <div class="mangaDetailsBox">
            <h1>STUDIOS/S: </h1>

            <div class="MangaContainerInput">

                @if (Model.CurrentManga != null && Model.CurrentManga.StudioModels != null && Model.CurrentManga.StudioModels.Count >= 1)
                {
                    foreach (var item in Model.CurrentManga.StudioModels)
                    {
                        if (!string.IsNullOrEmpty(item.GroupName))
                        {
                            <div class="MangaInputText">  <a asp-for="@item.website"> @item.GroupName  </a></div>
                        }
                        else
                        {
                            <div class="MangaInputText">No Website</div>
                        }
                    }
                }
                else
                {
                    <div class="MangaInputText">Missing Information</div>
                }
            </div>
        </div>
        <div class="mangaDetailsBox">
          
            <h1>ASSOCIATED NAME/S:</h1>
            <div class="MangaContainerInput">
                @if (Model.CurrentManga.TagsModels != null)
                {
                    @foreach (var item in Model.CurrentManga.TagsModels)
                    {
                        <div class="MangaInputText">@item.TagName</div>

                    }
                }
                else
                {
                    <p>N/A</p>
                }
            </div>
      
        </div>
   
        <div class="mangaDetailsBox bookdescription">
            <div class="MangaContainerInput">
                @if (Model.CurrentManga.Description != null)
                {
                   
                       @* @Model.CurrentManga.Description*@
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
Why do we use it?

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
Why do we use it?

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
Why do we use it?

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Why do we use it?
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
Why do we use it?

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
Why do we use it?

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
Why do we use it?

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Why do we use it?

                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    </p>
  
               
                }
              
            </div>

        </div>
        <div class="mangaDetailsBox">
            <h1>Buy At:</h1>
            <div class="MangaContainerInput">
                @if (Model.CurrentManga.BuyPages != null)
                {

                    @foreach (var item in Model.CurrentManga.BuyPages)
                    {

                        <a href="@item.BuyWebsite">


                            @foreach (var lang in item._Languages)
                            {

                                <div class="MangaInputText">

                                    <p>@lang.LanguageName</p>

                                </div>






                            }

                        </a>


                    }



                }
                else
                {
                    <span>N/A</span>
                }
            </div>
        </div>
         <div class="mangaDetailsBox">
            <div class="MangaContainerInput">
                @if (Model.CurrentManga.ReleaseYear != null)
                {
                    <div class="mb-3">
                        <label class="form-label" asp-for="@Model.CurrentManga.ReleaseYear">Book Release: @Model.CurrentManga.ReleaseYear</label>

                    </div>
                }
                <div class="MangaInputText">

                </div>
            </div>

        </div>
         <div class="mangaDetailsBox">
            <div class="MangaContainerInput">
                <div class="MangaInputText">

                </div>
            </div>

        </div>
        <div class="mangaDetailsBox">
            <div class="MangaContainerInput">
                <div class="MangaInputText">Dont fill this
                </div>
            </div>

        </div>
  

    </div>



   


        </div>


  






 
