@page
@model NovelXManga.Pages.Manga.DUMPHTMLModel
@{
}

@*




<div>AssociatedNames: </div>

<div> </div>
    @if (Model.CurrentManga.TagsModels != null)
    {

        @foreach (var item in Model.CurrentManga.TagsModels)
        {

                <label class="form-label" asp-for="@item.TagName"> @item.TagName | </label>

        }
    }


    <div>studio/s: </div>
    @if (Model.CurrentManga.StudioModels != null)
    {
        @foreach (var item in Model.CurrentManga.StudioModels)
        {
            if (item.website != null)
            {
                            <a asp-for="@item.website"> Studio | </a>
            }
            else
            {
                            <p>@item.GroupName</p>
            }


        }

    }

    @if (Model.CurrentManga.Description != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.Description">Description: @Model.CurrentManga.Description</label>

        </div>
    }

    @if (Model.CurrentManga.ReleaseYear != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.ReleaseYear">Book Release: @Model.CurrentManga.ReleaseYear</label>

        </div>
    }
    @if (Model.CurrentManga.EndingYear != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.EndingYear">Ending: @Model.CurrentManga.EndingYear</label>
        </div>
    }

    @if (Model.CurrentManga.ISBN13 != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.ISBN13">ISBN13: @Model.CurrentManga.ISBN13</label>

        </div>
    }

    @if (Model.CurrentManga.ISBN10 != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.ISBN10">ISBN10: @Model.CurrentManga.ISBN10</label>

        </div>
    }

    @if (Model.CurrentManga.Type != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.Type">Type: @Model.CurrentManga.Type</label>

        </div>
    }

    @if (Model.CurrentManga.OriginalPublisher != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.OriginalPublisher">OriginalPublisher: @Model.CurrentManga.OriginalPublisher"</label>
        </div>
    }


    @if (Model.CurrentManga.OfficalLanguage != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.OfficalLanguage">OfficalLanguage: @Model.CurrentManga.OfficalLanguage</label>

        </div>
    }
    @if (Model.CurrentManga.orignalWebtoon != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.orignalWebtoon">orignalWebtoon: @Model.CurrentManga.orignalWebtoon</label>
        </div>
    }

    @if (Model.CurrentManga.StatusInCountryOfOrigin != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.StatusInCountryOfOrigin">StatusInCountryOfOrigin: @Model.CurrentManga.StatusInCountryOfOrigin</label>
        </div>
    }
    @if (Model.CurrentManga.score != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.score">orignalWebtoon: @Model.CurrentManga.score</label>
        </div>
    }
<div>Artist/s: </div>
    @if (Model.CurrentManga.ArtistModels != null)
    {
        @foreach (var item in Model.CurrentManga.ArtistModels)
        {
                <div class="mb-3">
                    <label class="form-label" asp-for="@item.FirstName"> @item.FirstName" @item.LastName </label>
                </div>
        }
    }
    else
    {
        <p>N/A</p>
    }
<div>Author/s: </div>
    @if (Model.CurrentManga.Authormodels != null)
    {
        @foreach (var item in Model.CurrentManga.Authormodels)
        {
                <div class="mb-3">
                    <label class="form-label" asp-for="@item.FirstName"> @item.FirstName @item.LastName </label>
                </div>
        }
    }
    else
    {
        <p>N/A</p>
    }
<div>Audio Voice Actor/s: </div>
    @if (Model.CurrentManga.VoiceActors != null)
    {
        @foreach (var item in Model.CurrentManga.VoiceActors)
        {
                <div class="mb-3">
                    <label class="form-label" asp-for="@item.FirstName"> @item.FirstName @item.LastName </label>
                </div>
        }
    }

    @if (Model.CurrentManga.CompletelyTranslated != null)
    {
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CurrentManga.CompletelyTranslated">CompletelyTranslated: @Model.CurrentManga.CompletelyTranslated</label>
        </div>
    }
<div>Recommended Books: </div>
    @if (Model.CurrentManga.RecommendedMangaModels != null)
    {
        @foreach (var item in Model.CurrentManga.RecommendedMangaModels)
        {

                <label class="form-label">@item.MangaName</label>

        }
    }
    else
    {
        <p>N/A</p>
    }
<div>Related Books: </div>
    @if (Model.CurrentManga.relatedSeries != null)
    {
        @foreach (var item in Model.CurrentManga.relatedSeries)
        {

                <label class="form-label" asp-for="@item.relatedSeries">@item.MangaName</label>

        }

    }
    else
    {
        <p>N/A</p>
    }
    <div>Characters: </div>




@if (Model.CurrentManga.futureEvents != null)
{
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.CurrentManga.futureEvents">Future Events: @Model.CurrentManga.futureEvents</label>
    </div>
}@if (Model.CurrentManga.BlogModel != null)
{
    <textarea asp-for="CurrentManga.BlogModel.postsModel">

                            </textarea>
    if (Model.CurrentManga.BlogModel.postsModel != null)
    {
        @foreach (var item in Model.CurrentManga.BlogModel.postsModel)
        {

            <label class="form-label">@item.postComment</label>

        }
    }
    else
    {
        <p>Post not Responding</p>
    }


}
else
{
    <p>Blog not Responding</p>
}




<div class="FlexRight">

    <div class="profileText">



        <div class="profileTextGroup">
            <div class="InfoGroup">
                <div class="Title">
                    <div class="Info">
                        <span class="icon">Language:   </span><br /><br />
                        <div class="text">
                            @if (Model.CurrentManga.BuyPages != null)
                            {

                                @foreach (var item in Model.CurrentManga.BuyPages)
                                {

                                    <a href="@item.BuyWebsite">


                                        @foreach (var lang in item._Languages)
                                        {



                                            <p>@lang.LanguageName</p>





                                        }

                                    </a>


                                }



                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="InfoGroup">
                <div class="Title">
                    <div class="Info">
                        <span class="icon">AssociatedNames  </span><br /><br />
                        <span class="text">
                            @if (Model.CurrentManga.AssociatedNames != null)
                            {
                                @foreach (var item in Model.CurrentManga.AssociatedNames)
                                {
                                    <p>@item.nameString</p>
                                }

                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
*@



@*  From INDEX PAGE  <div class="Content3Cost">
    @foreach (var book in Model.GetAllBooks.Take(1))
    {

        <div class="card">

            <img class="card-img-background" src="~/Images/MangaImage/@book.PhotoPath" />
            <div class="card-body">

                <img class="card-img-index" src="~/Images/MangaImage/@book.PhotoPath" />

                <div class="TitleTagDescriptionCostum">
                    <div class="card-title">
                        <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                            <h1 class="card-title-extra-style">
                                @book.MangaName
                            </h1>
                        </a>

                    </div>

                    <h2 class="tag-container">
                        @foreach (var tag in book.TagsModels)
                        {
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                <span class="tag RemoveWhenSmall">@tag.TagName</span>
                            </a>

                        }
                        @foreach (var genre in book.GenresModels)
                        {
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                <span class="tag RemoveWhenSmall">@genre.GenreName</span>
                            </a>
                        }

                    </h2>
                    <div class="card-description RemoveWhenSmall RemoveWhenLarge RemoveWhenMedium">
                        <p>
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                @book.Description
                            </a>

                        </p>
                    </div>
                    <div class="Index_Artist_Author_Navigation_Arrows ">
                        <h2 class="Author_Artist">
                            @foreach (var author in book.Authormodels)
                            {
                                <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                    @author.FirstName @author.LastName
                                </a>
                                @foreach (var artst in book.ArtistModels)
                                {
                                    @if (author.FirstName != artst.FirstName)
                                    {
                                        <a asp-page="/Manga/CurrentManga" asp-route-id="@book.MangaID">
                                            @artst.FirstName @artst.LastName
                                        </a>
                                    }
                                }
                            }


                        </h2>

                        <div class="IndexArrowPostition">
                            <button id="prev" class="IndexArrowsPrev">
                                prev
                            </button>
                            <button id="next" class="IndexArrowsNext">
                                next
                            </button>
                        </div>
                    </div>

                </div>


                <div>
                </div>



            </div>

        </div>

    }



</div>*@


@* @if (SignInManager.IsSignedIn(User))
    {
        <form class="overFlowFilter-scoring" method="post" asp-route-id="@Model.CurrentManga.MangaID" asp-page-handler="postTotalScore" enctype="multipart/form-data">
            <input type="hidden" id="CurrentManga_MangaID" name="CurrentManga.MangaID" value="@Model.CurrentManga.MangaID" />

            <label class="ReviewTitle" asp-for="_ViewReview.Title">Title</label>       <small id="TitleCount">0/50</small><br />
            <input class="ReviewTitle" type="text" asp-for="_ViewReview.Title" class="form-control" oninput="TitleupdateCount(this.value)" maxlength="50" />
            <span asp-validation-for="_ViewReview.Title" class="text-danger"></span>
            <input hidden asp-for="_ViewReview.Created">
            <input hidden asp-for="_ViewReview.LastUpdated">
            <div class="mangaDetailsBox">
            <div class="flex-direction-current ">


                <div class="wrapperRowCurrent">


                    <div class="Skills_">
                        <h3 class="name">Grammar Score</h3>
                        <div class="User_ratings">
                            <input asp-for="_ViewReview.GrammarScore" type="radio" name="_ViewReview.GrammarScore" class="colorsForStars1" value="5" />
                            <input asp-for="_ViewReview.GrammarScore" type="radio" name="_ViewReview.GrammarScore" class="colorsForStars1" value="4.5" />
                            <input asp-for="_ViewReview.GrammarScore" type="radio" name="_ViewReview.GrammarScore" class="colorsForStars1" value="4" />
                            <input asp-for="_ViewReview.GrammarScore" type="radio" name="_ViewReview.GrammarScore" class="colorsForStars1" value="3.5" />
                            <input asp-for="_ViewReview.GrammarScore" type="radio" name="_ViewReview.GrammarScore" class="colorsForStars1" value="3" />
                            <input asp-for="_ViewReview.GrammarScore" type="radio" name="_ViewReview.GrammarScore" class="colorsForStars1" value="2.5" />
                            <input asp-for="_ViewReview.GrammarScore" type="radio" name="_ViewReview.GrammarScore" class="colorsForStars1" value="2" />
                            <input asp-for="_ViewReview.GrammarScore" type="radio" name="_ViewReview.GrammarScore" class="colorsForStars1" value="1.5" />
                            <input asp-for="_ViewReview.GrammarScore" type="radio" name="_ViewReview.GrammarScore" class="colorsForStars1" value="1" />
                            <input asp-for="_ViewReview.GrammarScore" type="radio" name="_ViewReview.GrammarScore" class="colorsForStars1" value="0.5" />

                        </div>
                    </div>
                    <div class="Skills_">
                        <h3 class="name">Story Score</h3>
                        <div class="User_ratings">
                            <input asp-for="_ViewReview.StoryScore" type="radio" name="_ViewReview.StoryScore" class="colorsForStars1" value="5" />
                            <input asp-for="_ViewReview.StoryScore" type="radio" name="_ViewReview.StoryScore" class="colorsForStars1" value="4.5" />
                            <input asp-for="_ViewReview.StoryScore" type="radio" name="_ViewReview.StoryScore" class="colorsForStars1" value="4" />
                            <input asp-for="_ViewReview.StoryScore" type="radio" name="_ViewReview.StoryScore" class="colorsForStars1" value="3.5" />
                            <input asp-for="_ViewReview.StoryScore" type="radio" name="_ViewReview.StoryScore" class="colorsForStars1" value="3" />
                            <input asp-for="_ViewReview.StoryScore" type="radio" name="_ViewReview.StoryScore" class="colorsForStars1" value="2.5" />
                            <input asp-for="_ViewReview.StoryScore" type="radio" name="_ViewReview.StoryScore" class="colorsForStars1" value="2" />
                            <input asp-for="_ViewReview.StoryScore" type="radio" name="_ViewReview.StoryScore" class="colorsForStars1" value="1.5" />
                            <input asp-for="_ViewReview.StoryScore" type="radio" name="_ViewReview.StoryScore" class="colorsForStars1" value="1" />
                            <input asp-for="_ViewReview.StoryScore" type="radio" name="_ViewReview.StoryScore" class="colorsForStars1" value="0.5" />
                        </div>
                    </div>

                    <div class="Skills_">
                        <h3 class="name">Style Score</h3>
                            <div class="User_ratings">
                            <input asp-for="_ViewReview.StylesScore" type="radio" name="_ViewReview.StylesScore" class="colorsForStars1" value="5" />
                            <input asp-for="_ViewReview.StylesScore" type="radio" name="_ViewReview.StylesScore" class="colorsForStars1" value="4.5" />
                            <input asp-for="_ViewReview.StylesScore" type="radio" name="_ViewReview.StylesScore" class="colorsForStars1" value="4" />
                            <input asp-for="_ViewReview.StylesScore" type="radio" name="_ViewReview.StylesScore" class="colorsForStars1" value="3.5" />
                            <input asp-for="_ViewReview.StylesScore" type="radio" name="_ViewReview.StylesScore" class="colorsForStars1" value="3" />
                            <input asp-for="_ViewReview.StylesScore" type="radio" name="_ViewReview.StylesScore" class="colorsForStars1" value="2.5" />
                            <input asp-for="_ViewReview.StylesScore" type="radio" name="_ViewReview.StylesScore" class="colorsForStars1" value="2" />
                            <input asp-for="_ViewReview.StylesScore" type="radio" name="_ViewReview.StylesScore" class="colorsForStars1" value="1.5" />
                            <input asp-for="_ViewReview.StylesScore" type="radio" name="_ViewReview.StylesScore" class="colorsForStars1" value="1" />
                            <input asp-for="_ViewReview.StylesScore" type="radio" name="_ViewReview.StylesScore" class="colorsForStars1" value="0.5" />
                        </div>
                    </div>

                    <div class="Skills_">
                        <h3 class="name">Character Score</h3>
                            <div class="User_ratings">
                            <input asp-for="_ViewReview.CharactersScore" type="radio" name="_ViewReview.CharactersScore" class="colorsForStars1" value="5" />
                            <input asp-for="_ViewReview.CharactersScore" type="radio" name="_ViewReview.CharactersScore" class="colorsForStars1" value="4.5" />
                            <input asp-for="_ViewReview.CharactersScore" type="radio" name="_ViewReview.CharactersScore" class="colorsForStars1" value="4" />
                            <input asp-for="_ViewReview.CharactersScore" type="radio" name="_ViewReview.CharactersScore" class="colorsForStars1" value="3.5" />
                            <input asp-for="_ViewReview.CharactersScore" type="radio" name="_ViewReview.CharactersScore" class="colorsForStars1" value="3" />
                            <input asp-for="_ViewReview.CharactersScore" type="radio" name="_ViewReview.CharactersScore" class="colorsForStars1" value="2.5" />
                            <input asp-for="_ViewReview.CharactersScore" type="radio" name="_ViewReview.CharactersScore" class="colorsForStars1" value="2" />
                            <input asp-for="_ViewReview.CharactersScore" type="radio" name="_ViewReview.CharactersScore" class="colorsForStars1" value="1.5" />
                            <input asp-for="_ViewReview.CharactersScore" type="radio" name="_ViewReview.CharactersScore" class="colorsForStars1" value="1" />
                            <input asp-for="_ViewReview.CharactersScore" type="radio" name="_ViewReview.CharactersScore" class="colorsForStars1" value="0.5" />
                        </div>
                    </div>
                </div>
                <div class="fillerClassIc">
                    <h3>Content:    <small id="charCount">0/750</small></h3>
                    <textarea class="TextAreaCurrentReview" asp-for="_ViewReview.Content" id="content" maxlength="750" oninput="updateCount(this.value)"></textarea>
                    <span asp-validation-for="_ViewReview.Content" class="text-danger"></span>
                </div>
                    <button type="submit">Send</button>
                </div>
            </div>


        </form>
    }*@

