@page
@model NovelXManga.Pages.Manga.MoreUpdatesModel
@{
    List<string> scoreDistributions = new List<string>();
    for (int i = 0; i < 12; i++)
    {
        scoreDistributions.Add(Json.Serialize(Model.AllBooksList[i].ScoreDistribution).ToString());

    }
}



<link rel="stylesheet" href="~/css/MoreUpdatesStyles.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="MoreUpdatContainer">
    <div class="MUS-ContentDescription"><h1>Recently Updated<hr /></h1> </div>


    <div class="MUS-cardFourOfaKind">

        <div class="MUS-CardFour">
        @for (int i = 0; i < 8; i++)
            {
               
           

                <div class="MUS-FourOfAKind @*@displayClass*@">
                    <a class="MUS-ANoneStyle" asp-page="/Manga/CurrentManga" asp-route-id="@Model.AllBooksList[i].MangaID">
                        <img class="MUS-BoxImage" src="~/Images/GeneratedMangaImage/@Model.AllBooksList[i].PhotoPath" />
                        <div class="MUS-FourofKindContent">
                            @if (Model.AllBooksList[i].MangaName != null)
                            {
                                <h2>@Model.AllBooksList[i].MangaName</h2>
                            }
                            <div class="MUS-tag-container MUS-DisplayWhenHoverFourOfaKind">
                                @if (Model.AllBooksList[i].TagsModels != null)
                                {
                                    @foreach (var tag in Model.AllBooksList[i].TagsModels.Take(5))
                                    {
                                        <span class="MUS-tag">@tag.TagName</span>
                                    }
                                }
                                @if (Model.AllBooksList[i].GenresModels != null)
                                {
                                    @foreach (var genre in Model.AllBooksList[i].GenresModels.Take(5))
                                    {
                                        <span class="MUS-tag">@genre.GenreName</span>
                                    }
                                }
                                <div class="MUS-InfoContainer">  
                                    <div class="MUS-Score">
                                    @if (Model.AllBooksList[i].OverAllBookScore != null)
                                    {
                                            <span>     @Model.AllBooksList[i].OverAllBookScore  <i class="fas fa-star active colorstarCurrent"></i> </span>
                                        }
                                        else
                                        {
                                            <span>     N/A  <i class="fas fa-star active colorstarCurrent"></i> </span>
                                        }
                                        @if (Model.AllBooksList[i].ForeverRead != null)
                                        {
                                            <span>
                                                @Model.AllBooksList[i].ForeverRead &nbsp; <i class="fa-solid fa-eye"></i>
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                N/A <i class="fa-solid fa-eye"></i>
                                            </span>
                                        }
                                    </div>
                                

                                </div>
                             
                            </div>
                            <p class="MUS-HideWhenHoverFourOfaKind">@Model.AllBooksList[i].Description</p>
                        </div>

                </a>
            </div>
        }



    </div>
  

    </div> <a id="loadMoreUpdates" class="MoreRecentUpdateStyle" href="javascript:void(0);">More Updates</a>



</div>
<script>
    var scoreDistributionsList = @Html.Raw(Json.Serialize(scoreDistributions));
</script>
<script src="~/js/MoreUpdates.js" asp-append-version="true"></script>
<script src="~/js/ScoreDisMoreUpdates.js" asp-append-version="true"></script>