@page
@model NovelXManga.Pages.Manga.UpdateMangaModel
@{

    
}

<div>Hello world</div>
@foreach(var manga in Model.mangaModel)
{
    <div class="row">


 </div>
    @if (manga.AssociatedNames != null)
                {
                <div class="mb-3">
                    <label class="form-label" asp-for="@manga.AssociatedNames"> Associated Names </label>               
                </div>
                }
             
    @if (manga.Description != null)
                {
                  <div class="mb-3">
            <label class="form-label" asp-for="@manga.Description">Description</label>
                
                </div>
                }
            
    @if (manga.ReleaseYear != null)
                {
                        <div class="mb-3">
            <label class="form-label" asp-for="@manga.ReleaseYear">Year Released</label>
                  
                </div>
                }
    @if (manga.EndingYear != null)
                {
                <div class="mb-3">
            <label class="form-label" asp-for="@manga.EndingYear"></label>
                </div>
                }
            
    @if (manga.ISBN13 != null)
                {
                         <div class="mb-3">
            <label class="form-label" asp-for="@manga.ISBN13">ISBN13</label>
                 
                </div>
                }
           
    @if (manga.ISBN10 != null)
                {
                  <div class="mb-3">
            <label class="form-label" asp-for="@manga.ISBN10">ISBN10</label>
                
                </div>
                }
           
    @if (manga.Type != null)
                {
                         <div class="mb-3">
            <label class="form-label" asp-for="@manga.Type">Type</label>
                 
                </div>
                }
           
    @if (manga.OriginalPublisher != null)
                {
                        <div class="mb-3">
            <label class="form-label" asp-for="@manga.OriginalPublisher"></label>
                   
                </div>
                }
            
    @if (manga.OfficialTranslations != null)
                {
                  <div class="mb-3">
            <label class="form-label" asp-for="@manga.OfficialTranslations"></label>
                  
                </div>
                }
         
    @if (manga.OfficalLanguage != null)
                {
                           <div class="mb-3">
            <label class="form-label" asp-for="@manga.OfficalLanguage"></label>
                   
                </div>
                }                    
    @if (manga.orignalWebtoon != null)
                {
                <div class="mb-3">
            <label class="form-label" asp-for="@manga.orignalWebtoon"></label>
                </div>
                }
              
    @if (manga.StatusInCountryOfOrigin != null)
                {
                <div class="mb-3">
            <label class="form-label" asp-for="@manga.StatusInCountryOfOrigin"></label>
                </div>
                }
    @if (manga.score != null)
                {
                <div class="mb-3">
            <label class="form-label" asp-for="@manga.orignalWebtoon"></label>
                </div>
                }
    @if (manga.ArtistModels != null)
                {
                <div class="mb-3">
            <label class="form-label" asp-for="@manga.ArtistModels"></label>
                </div>
                }
    @if (manga.Authormodels != null)
                {
                <div class="mb-3">
            <label class="form-label" asp-for="@manga.Authormodels"></label>
                </div>
                }
    @if (manga.TagsModels != null)
                {
                <div class="mb-3">
            <label class="form-label" asp-for="@manga.TagsModels"></label>
                </div>
                }
    @if (manga.CompletelyTranslated != null)
                {
                <div class="mb-3">
            <label class="form-label" asp-for="@manga.CompletelyTranslated"></label>
                </div>
                }
    @if (manga.GenresModels != null)
                {
                <div class="mb-3">
            <label class="form-label" asp-for="@manga.GenresModels"></label>
                </div>
                }
    @if (manga.RecommendedMangaModels != null)
                {
        @foreach (var item in manga.RecommendedMangaModels)
                    {
                  <div class="mb-3">
                    <label class="form-label" asp-for="@item.RecommendedMangaModels"></label>
                </div>
                    }
            
                }
    @if (manga.relatedSeries != null)
                {
        @foreach (var item in manga.relatedSeries)
                    {
                  <div class="mb-3">
                    <label class="form-label" asp-for="@item.relatedSeries"></label>
                </div>
                    }
            
                }
    @if (manga.futureEvents != null)
                {
                <div class="mb-3">
            <label class="form-label" asp-for="@manga.futureEvents"></label>
                </div>
                }

                <div class="form-group row">
        <label asp-for="@manga.PhotoPath" class="col-sm-2 col-form-label">Photo</label>  <br />
                    <div class="col-sm-10">


                    </div>
                </div>

}