@page
@model NovelXManga.Pages.Artist.CurrentArtistModel
@inject UserManager<UserModel> UserManager
@inject SignInManager<UserModel> SignInManager
@{
    var user = await UserManager.GetUserAsync(User);
    var UpdaterUser = user != null && await UserManager.IsInRoleAsync(user, "NormalUser");

}
<link rel="stylesheet" href="~/css/CreatorStyle.css" asp-append-version="true" />


<div class="CUS-Content1Ex">


    <div class="CUS-card-ex">
        <div class="CUS-card-image-ex">
            <div class="CUS-blurredbackground ">
                  @if (!string.IsNullOrEmpty(Model.CurrentArtist.PhotoPath))
                {
                    <img class="CUS-BoxImage CUS-blurimage" src="/Images/GeneratedArtistImages/"@Model.CurrentArtist.PhotoPath />
                }
                else
                {
                    <img class="CUS-BoxImage CUS-blurimage" src="~/Images/ArtistImage/NoPhoto.png" alt="No Artist Image Available">
                }
            </div>

            <div class="CUS-manga-img-container">
                <!-- Manga image goes here -->
                @if (!string.IsNullOrEmpty(Model.CurrentArtist.PhotoPath))
                {
                    <div>
                        @if (UpdaterUser)
                        {
                            <a asp-page="/MangaUpdates/UpdatePhoto" asp-route-id="@Model.CurrentArtist.ArtistId">
                                <img class="CUS-manga-img" asp-append-version="true" src="~/Images/GeneratedArtistImages/@Model.CurrentArtist.PhotoPath" alt= src="~/Images/AuthorImage/NoPhoto.png">
                            </a>
                        }
                        else
                        {
                            <img class="CUS-manga-img" asp-append-version="true" src="~/Images/GeneratedArtistImages/@Model.CurrentArtist.PhotoPath" alt= src="~/Images/AuthorImage/NoPhoto.png">
                        }

                    </div>
                }
                else
                {
                    <img class="CUS-manga-img" src="~/Images/ArtistImage/NoPhoto.png" alt="No Author Image Available">
                }
            </div>
            <div class="CUS-manga-title CUS-HideTitleCurrentMangaOnSmall">
                <!-- Manga title goes here -->
                @if (@Model.CurrentArtist.FirstName != null && @Model.CurrentArtist.LastName != null)
                {
                    <h1 class="">@Model.CurrentArtist.FirstName @Model.CurrentArtist.LastName</h1>
                }
                else if (@Model.CurrentArtist.FirstName != null)
                {
                    <h1 class="">@Model.CurrentArtist.FirstName</h1>
                }
                else
                {
                    
                }
            </div>



        </div>

    </div>

</div>

<div class="CUS-Content1Cost">
     <div class="CUS-commonParentContainer">
      
        <div class="CUS-CurrentMangaTagsContainer">
            <div class="Cus-TitleWhenSmallCurrentManga">
              
            </div>
          @if (Model.ArtistGenresAndTags.Genres.Any())
            {
             @foreach (var genreName in Model.ArtistGenresAndTags.Genres)
                {
                    <div class="CUS-tagsInsideInsideCurrentManga">
                        @if (UpdaterUser)
                        {
                         
                                @if (genreName == "Adult" || genreName == "Smut" || genreName == "Mature")
                                {
                                    <label class="CUS-CustomWarningLabel">
                                      @genreName
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        @genreName
                                    </label>
                                }
                      
                        }
                        else
                        {      @if (genreName == "Adult" || genreName == "Smut" || genreName == "Mature")
                            {
                                <label class="CUS-CustomWarningLabel">
                                    @genreName
                                </label>
                            }
                            else
                            {
                                <label>
                                    @genreName
                                </label>
                            }   }

                    </div>
                }

            }
           @if (Model.ArtistGenresAndTags.Tags.Any())
            {
                @foreach (var TagName in Model.ArtistGenresAndTags.Tags)
                {
                    @if (UpdaterUser)
                    {
               
                            <div class="CUS-tagsInsideInsideCurrentManga">

                                @if (TagName == "Gore" || TagName == "Borderline H" || TagName == "Anal Intercourse" ||
                               TagName== "Blood and Gore" || TagName == "Blackmail" || TagName == "Bathroom Intercourse" ||
                              TagName== "Child Abuse" || TagName== "Double Penetration" || TagName== "Fellatio"
                               || TagName== "Group Intercourse" || TagName == "Gang Rape" || TagName == "Futanari"
                               || TagName == "Groping" || TagName == "Handjob" || TagName == "Masturbation"
                               || TagName == "Netorare" || TagName == "Netor" || TagName == "Netori"
                               || TagName == "Titty Fuck" || TagName == "Paizuri" || TagName == "Outdoor Intercourse"
                               || TagName == "Panchira" || TagName == "Rape" || TagName == "School Intercourse"
                               || TagName == "Sexual Abuse" || TagName == "Sex" || TagName == "Sex Toy"
                               || TagName == "Sexual Assault" || TagName == "Sexual Innuendo" || TagName == "Threesome"
                               || TagName == "Torture" || TagName == "Urination" || TagName == "Public Sex"
                               )
                                {
                                    <p class="CUS-CustomHintLabel">
                                        @TagName
                                    </p>
                                }
                                else
                                {
                                    <label>
                                        @TagName
                                    </label>
                                }

                            </div>
                 
                    }
                    else
                    {
                        <div class="CUS-tagsInsideInsideCurrentManga">

                              @if (TagName == "Gore" || TagName == "Borderline H" || TagName == "Anal Intercourse" ||
                               TagName== "Blood and Gore" || TagName == "Blackmail" || TagName == "Bathroom Intercourse" ||
                              TagName== "Child Abuse" || TagName== "Double Penetration" || TagName== "Fellatio"
                               || TagName== "Group Intercourse" || TagName == "Gang Rape" || TagName == "Futanari"
                               || TagName == "Groping" || TagName == "Handjob" || TagName == "Masturbation"
                               || TagName == "Netorare" || TagName == "Netor" || TagName == "Netori"
                               || TagName == "Titty Fuck" || TagName == "Paizuri" || TagName == "Outdoor Intercourse"
                               || TagName == "Panchira" || TagName == "Rape" || TagName == "School Intercourse"
                               || TagName == "Sexual Abuse" || TagName == "Sex" || TagName == "Sex Toy"
                               || TagName == "Sexual Assault" || TagName == "Sexual Innuendo" || TagName == "Threesome"
                               || TagName == "Torture" || TagName == "Urination" || TagName == "Public Sex"
                               )
                            {
                                <p class="CUS-CustomHintLabel">
                                        @TagName
                                </p>
                            }
                            else
                            {
                                <label>
                                          @TagName
                                </label>
                            }

                        </div>
                    }

                }
            }
         
        </div> 
    
            </div>

</div>
<div class="CUS-mangaDetailsWrapper">
    <div class="CUS-MangaDetaiDescription CUS-bookdescription">


        <div class="CUS-MangaDescriptionContainerInput">

            @if (Model.CurrentArtist.Biography != null)
            {
                @if (UpdaterUser)
                {

                    <a asp-page="/MangaUpdates/UpdateCharacter" asp-route-id="@Model.CurrentArtist.ArtistId">
                        @Model.CurrentArtist.Biography

                    </a>

                }
                else
                {

                    @Model.CurrentArtist.Biography
                }
            }
            else
            {
                @if (UpdaterUser)
                {

                    <a asp-page="/MangaUpdates/UpdateCharacter" asp-route-id="@Model.CurrentArtist.ArtistId">
                        <div class="CUS-MangaInputText"> <p> N/A Please update data</p></div>
                    </a>
                }
               


            }


        </div>

    </div>
    <hr / class="CUS-DescriptionDiver">
    <div class="CUS-CommonContainer">
    <div class="CUS-LeftSide">
      
        <div class="CUS-LeftSidemangaDetailsBox">
         
            @if (Model.CurrentArtist.Twitter != null)
                {
                    <h3>Twitter</h3>
                      <div class="CUS-MangaContainerInput">
                   
                @if (UpdaterUser)
                {
                    <div class="CUS-MangaInputText">
                        <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentArtist.ArtistId">
                           @Model.CurrentArtist.Twitter
                        </a>
                    </div>
                }
                else
                {
                    <div class="CUS-MangaInputText">
                         @Model.CurrentArtist.Twitter

                    </div>
                    }
                    </div>
            }
              
          
          
        </div>
        <div class="CUS-LeftSidemangaDetailsBox">
         
            @if (Model.CurrentArtist.reddit != null)
                {
                    <h3>Reddit:</h3>
                      <div class="CUS-MangaContainerInput">
                   
                @if (UpdaterUser)
                {
                    <div class="CUS-MangaInputText">
                        <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentArtist.ArtistId">
                           @Model.CurrentArtist.reddit
                        </a>
                    </div>
                }
                else
                {
                    <div class="CUS-MangaInputText">
                       @Model.CurrentArtist.reddit

                    </div>
                }
                </div>
            }
          
        </div>
        <div class="CUS-LeftSidemangaDetailsBox">
            
            @if (Model.CurrentArtist.Gender != null)
                {
                    <h3>Gender</h3>
                      <div class="CUS-MangaContainerInput">
                   
                @if (UpdaterUser)
                {
                    <div class="CUS-MangaInputText">
                        <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentArtist.ArtistId">
                            @Model.CurrentArtist.Gender
                        </a>
                    </div>
                }
                else
                {
                    <div class="CUS-MangaInputText">
                        @Model.CurrentArtist.Gender

                    </div>
                }
                </div>
            }
          
        </div>
        <div class="CUS-LeftSidemangaDetailsBox">
               
            @if (Model.CurrentArtist.ArtistBorn != null)
            {
                    <h3>Birth:</h3>
                    <div class="CUS-MangaContainerInput">
                @if (UpdaterUser)
                {
                    <div class="CUS-MangaInputText">
                        <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentArtist.ArtistId">
                                @Model.CurrentArtist.ArtistBorn.Value.ToString("dd/MM/yyyy")
                        </a>
                    </div>
                }
                else
                {
                    <div class="CUS-MangaInputText">
                            @Model.CurrentArtist.ArtistBorn.Value.ToString("dd/MM/yyyy")

                    </div>
                }</div>
            }
          
        </div>
        <div class="CUS-LeftSidemangaDetailsBox">
               
            @if (Model.CurrentArtist.ArtistDeath != null)
            {
                    <h3>Death: </h3>
                    <div class="CUS-MangaContainerInput">
                @if (UpdaterUser)
                {
                    <div class="CUS-MangaInputText">
                        <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentArtist.ArtistId">
                                @Model.CurrentArtist.ArtistDeath.Value.ToString("dd/MM/yyyy")
                        </a>
                    </div>
                }
                else
                {
                    <div class="CUS-MangaInputText">
                            @Model.CurrentArtist.ArtistDeath.Value.ToString("dd/MM/yyyy")

                    </div>
                }</div>
            }
           
        </div>
            <div class="CUS-LeftSidemangaDetailsBox">

                @if (Model.CurrentArtist.WorkingAt != null)
                {
                    <h3>Working at: </h3>
                    <div class="CUS-MangaContainerInput">
                    @if (UpdaterUser)
                    {
                        <div class="CUS-MangaInputText">
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentArtist.ArtistId">
                                @Model.CurrentArtist.WorkingAt
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="CUS-MangaInputText">
                            @Model.CurrentArtist.WorkingAt

                        </div>
                    }
                    </div>
                }

            </div>
            <div class="CUS-LeftSidemangaDetailsBox">

                @if (Model.CurrentArtist.WikiPedia != null)
                {
                    <h3>Wiki: </h3>
                    <div class="CUS-MangaContainerInput">
                    @if (UpdaterUser)
                    {
                        <div class="CUS-MangaInputText">
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentArtist.ArtistId">
                                @Model.CurrentArtist.WikiPedia
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="CUS-MangaInputText">
                                <a href="@Model.CurrentArtist.WikiPedia">
                                    @Model.CurrentArtist.FirstName Wiki
                                </a>

                        </div>
                    }
                    </div>
                }

            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
            
                @if (Model.CurrentArtist.BirthPlace != null)
                {
                    <h3>Birth Place: </h3>
                    <div class="CUS-MangaContainerInput">
                    @if (UpdaterUser)
                    {
                        <div class="CUS-MangaInputText">
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentArtist.ArtistId">
                                 @Model.CurrentArtist.BirthPlace
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="CUS-MangaInputText">
                           @Model.CurrentArtist.BirthPlace

                        </div>
                    }
                    </div>
                }

            </div>
            <div class="CUS-LeftSidemangaDetailsBox">

                @if (Model.CurrentArtist.NameInNative != null)
                {
                    <h3>Native name: </h3>
                    <div class="CUS-MangaContainerInput">
                    @if (UpdaterUser)
                    {
                        <div class="CUS-MangaInputText">
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentArtist.ArtistId">
                                @Model.CurrentArtist.NameInNative
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="CUS-MangaInputText">
                            @Model.CurrentArtist.NameInNative

                        </div>
                    }
                    </div>
                }

            </div>
            <div class="CUS-LeftSidemangaDetailsBox">

                @if (Model.CurrentArtist.Contact != null)
                {
                        <h3>Contact: </h3>
                      <div class="CUS-MangaContainerInput">
                
                    @if (UpdaterUser)
                    {
                        <div class="CUS-MangaInputText">
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentArtist.ArtistId">
                                @Model.CurrentArtist.Contact
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="CUS-MangaInputText">
                             @Model.CurrentArtist.Contact

                        </div>
                    }</div>
                }

            </div>
            <div class="CUS-LeftSidemangaDetailsBox">
              
                @if (Model.CurrentArtist.MangaModels != null)
                {
                    <h3>Works: </h3>
                    <div class="CUS-MangaContainerInput">
                    @if (UpdaterUser)
                    {
                        <div class="CUS-MangaInputText">
                            <a asp-page="/MangaUpdates/UpdateDescription" asp-route-id="@Model.CurrentArtist.ArtistId">
                                 @Model.CurrentArtist.MangaModels.Count
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="CUS-MangaInputText">
                            @Model.CurrentArtist.MangaModels.Count

                        </div>
                    }
                    </div>
                }
               
            </div>

          
                <div class="CUS-LeftSidemangaDetailsBox">

              
          
              
                        @if (Model.CurrentArtist.AssociatedNames != null)
                {
                      <h3>Associated names:</h3>
                    <div class="CUS-MangaContainerInput">
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/CHANGE" asp-route-id="@Model.CurrentArtist.ArtistId">
                                    @foreach (var item in Model.CurrentArtist.AssociatedNames)
                                    {
                                        <div class="CUS-MangaInputText">@item.nameString</div>

                                    }
                                </a>
                            }
                            else
                            {
                                @foreach (var item in Model.CurrentArtist.AssociatedNames)
                                {
                                    <div class="CUS-MangaInputText">@item.nameString</div>

                                }
                            }
                            </div>
                        }
                        else
                {
                        <div class="CUS-MangaContainerInput">
                            @if (UpdaterUser)
                        {
                            
                                <a asp-page="/MangaUpdates/CHANGE" asp-route-id="@Model.CurrentArtist.ArtistId">
                                    <div class="CUS-MangaInputText">
                                        <p>N/A</p>
                                    </div>

                                </a>
                          
                            }
                           </div>
                        }
                 
                </div>
          

    </div>
    <div class="CUS-RightSide">
      
        @if (Model.CurrentArtist.MangaModels.Count >= 1)
        {
              <h1> Books:</h1>
            <div class="CUS-mangaDetailsBox">
               
                <div class="GridWrapper">
                    @foreach (var relatedManga in Model.CurrentArtist.MangaModels.Take(5))
                    {



                        <div class="CUS-GridItem">
                            <a asp-page="/Manga/CurrentManga" asp-route-id="@relatedManga.MangaID">
                                <img class="GridImage" src="~/Images/GeneratedMangaImage/@relatedManga.PhotoPath" />
                            </a>
                            <div class="CUS-MangaInputText">
                                <a asp-page="/Manga/CurrentManga" asp-route-id="@relatedManga.MangaID">
                                    <input type="hidden" name="characters" value="@relatedManga.MangaID" />
                                    <p>@relatedManga.MangaName</p>
                                </a>
                            </div>
                        </div>


                    }

                </div>
            </div>
        }
    </div>
    </div>
</div>